﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.ProductTypeForm
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productTypeForm", @class = "form-horizontal col-md-8" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.SectionId)
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", new { @class = "form-control", placeholder = "Введите заголовок" })
            @Html.EditorFor(m => m.TitleIn, "Text", new { @class = "form-control", placeholder = "Введите заголовок на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="saveProductTypeBtn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="deleteProductTypeBtn" data-href="@Url.Action("Delete", "ProductTypes", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
}
