﻿@model WebApp.Models.Forms.ProductTypeForm
@{
    ViewBag.Title = "Редактирование изделия - " + Model.Title;
    ViewBag.ActiveNavLink = "ProductTypes";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{ Html.RenderPartial("_Edit", Model);}
        </div>
    </div>
</div>

