﻿@model List<DomainLogic.Models.ProductType>
@{
    ViewBag.Title = "Изделия";
    ViewBag.ActiveNavLink = "ProductTypes";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-3" style="margin-top: 28px;">
            <a href="@Url.Action("Create", "ProductTypes")">Добавить изделие</a>
        </div>
    </div>
    @if (Model.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Ид</td>
                        <td>Название</td>
                        <td>Действия</td>
                    </tr>
                    @foreach (var n in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("Show", "ProductTypes", new { id = (long)n.Id, area = "Default" })">@n.Id</a></td>
                            <td>@n.Title</td>
                            <td><a href="@Url.Action("Edit", "ProductTypes", new { id = (long)n.Id })">Редактировать</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет изделий
            </div>
        </div>
    }
</div>
