﻿@model WebApp.Models.Views.Default.AboutBodyLayout
@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class="container container-mh container-mt container-mb">
    <div class="row">
        <div class="col-lg-3 col-xs-12 ">
            <div class="row">
                <div class="list-group clearfix">
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("Index", "News")" class="list-group-item @(Model.ActiveSideMenuLink == "News" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.NewsNavLink")
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("About", "Home")" class="list-group-item @(Model.ActiveSideMenuLink == "About" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.AboutNavLink")
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("CorporateDepartment", "Home")" class="list-group-item @(Model.ActiveSideMenuLink == "CorporateDepartment" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.CorporateDepartmentNavLink")
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("Index", "Vacancies")" class="list-group-item @(Model.ActiveSideMenuLink == "Vacancies" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.VacanciesNavLink")
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xs-12">
            @RenderBody()
        </div>
    </div>
</div>
