﻿@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class="container container-mh container-mt container-mb">
    <div class="row">
        <div class="col-lg-3 col-xs-12 ">
            <div class="row">
                <div class="list-group clearfix">
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("Index", "Account")" class="list-group-item @(ViewBag.ActiveSideMenuLink == "Account" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.PersonalInformationLink")
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("ChangeFullName", "Account")" class="list-group-item @(ViewBag.ActiveSideMenuLink == "ChangeFullName" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ChangeFullNameLink")
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("Subscription", "Account")" class="list-group-item @(ViewBag.ActiveSideMenuLink == "Subscription" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.SubscriptionLink")
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("My", "Feedback")" class="list-group-item @(ViewBag.ActiveSideMenuLink == "MyFeedbackList" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.FeedbackRequestsLink")
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xs-12">
            @RenderBody()
        </div>
    </div>
</div>
