﻿@using WebApp.Models.Views
@model List<WebApp.Models.Views.ProductView>
@if (Model.Count > 0)
{
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (var i = 0; i < Model.Count; i++)
            {
                <li data-target="#carousel-example-generic" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
            }
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="item @(i == 0 ? "active" : "")">
                    @{
                        var link = Url.Action("Show", "Products", new { productId = Model[i].Id, productName = Model[i].Name });
                        if (Model[i].ExternalLink != null)
                        {
                            link = Model[i].ExternalLink;
                        }
                    }
                    <a href="@link">
                        <img class="original-image" src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Products/@(Model[i].BannerImageId).jpg" />
                        <img class="middle-image" src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Products/middle/@(Model[i].BannerImageId).jpg" />
                    </a>
                    <!--<div class="carousel-caption">
                    <h3 class="header-24-90">
                        <a href="@Url.Action("Show", "Products", new { productId = Model[i].Id, productName = Model[i].Name })">@Model[i].Title</a>
                    </h3>
                    </div>-->
                </div>
            }
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
}
