﻿@using WebApp.Models.Views
@model List<WebApp.Models.Views.ProductView>
<div class="row products-raiting">
    <div class="jcarousel-wrapper clearfix">
        <div data-jcarousel="true" data-wrap="circular" class="jcarousel">
            <ul class="clearfix">
                @foreach (var p in Model)
                {
                    <li class="col-xs-1">
                        <div class="thumbnail">
                            <a href="@Url.Action("Show", "Products", new { productId = p.Id, productName = p.Name })" class="center-center">
                                <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Products/normal/@(p.MainImageId).jpg" />
                            </a>
                            <div class="caption">
                                <h4 class="header-18-75">
                                    <a href="@Url.Action("Show", "Products", new { productId = p.Id, productName = p.Name })" title="@p.Title @p.ShortFeatures">@p.Title</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        @if (Model.Count > 3)
        {
            <a data-jcarousel-control="true" data-target="-=1" href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a data-jcarousel-control="true" data-target="+=1" href="#" class="jcarousel-control-next">&rsaquo;</a>
        }
    </div>
</div>
