﻿@model WebApp.Models.Views.Default.CatalogBodyLayout
@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class="container container-mh container-mt container-mb">
    <div class="row">
        <div class="col-lg-3  col-xs-12 ">
            @{ Html.RenderPartial("_Sidebar", Model.Sidebar); }
        </div>
        <div class="col-lg-9 col-xs-12">
            @{ Html.RenderPartial("_BeforeBody", Model.BeforeBody); }
            @RenderBody()
        </div>
    </div>
</div>
