﻿@model WebApp.Models.Views.Default.FooterPartial
<div class="container footer">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <h5 class="header-14-0">
                <a href="@Url.Action("Index", "Files")">@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SupportNavLink")</a>
            </h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="link-12-0" href="@Url.Action("Index", "Files")">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.FilesNavLink")
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="link-12-0" href="@Url.Action("Index", "Srvs")">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.ServicesNavLink")
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="link-12-0" href="@Url.Action("Index", "Feedback")">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.FeedbackNavLink")
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="link-12-0" href="@Url.Action("Index", "SupportArticles")">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SupportArticlesNavLink")
                    </a>
                </li>
                @{ Html.RenderPartial("_FooterManagerLinks", Model.ManagerLinksIsVisible); }
            </ul>
        </div>
        <div class="col-sm-4 col-xs-6">
            <h5 class="header-14-0">
                <a href="@Url.Action("About", "Home")">@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.CompanyNavLink")</a>
            </h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="link-12-0" href="@Url.Action("Index", "News")">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.NewsNavLink")
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="link-12-0" href="@Url.Action("About", "Home")">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.AboutNavLink")
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="link-12-0" href="@Url.Action("CorporateDepartment", "Home")">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.CorporateDepartmentNavLink")
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="link-12-0" href="@Url.Action("Index", "Vacancies")">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.VacanciesNavLink")
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 hidden-xs footer-social-networks">
            <h5 class="header-14-0">
                @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SocialWeb")
            </h5>
            <ul class="list-group fa-ul">
                <li class="list-group-item vkontakte-item">
                    <a class="link-12-0" href="https://vk.com/we_are_InfoShop">
                        <i class="fa-li fa icon-vkontakte"></i>
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.VK")
                    </a>
                </li>
                <li class="list-group-item instagram-item">
                    <a class="link-12-0" href="https://instagram.com/InfoShop_official/">
                        <i class="fa-li fa fa-instagram"></i>
                        Instagram
                    </a>
                </li>
                <li class="list-group-item twitter-item">
                    <a class="link-12-0" href="https://twitter.com/InfoShop_official">
                        <i class="fa-li fa icon-twitter"></i>
                        Twitter
                    </a>
                </li>
                <li class="list-group-item youtube-play-item">
                    <a class="link-12-0" href="https://www.youtube.com/c/InfoShopDigitalExperience">
                        <i class="fa-li fa fa-youtube-play"></i>
                        YouTube
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-12-0" style="margin: 30px 0;">
                @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.InfoShopDisclaimer")
            </p>
            <p class="copyrights text-12-0">
                © 2014@(DateTime.Now.Year != 2014 ? "-" + DateTime.Now.Year : "")
                @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.CopyrightsCompanyText")
            </p>
        </div>
    </div>
</div>