﻿@model bool

@if (Model)
{
    <li class="list-group-item"><a class="link-12-0" href="@Url.Action("List", "Feedback")">@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.FeedbackListNavLink")</a></li>
    <li class="list-group-item"><a class="link-12-0" href="@Url.Action("Index", "Home", new { area = "Admin"})">@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.AdminNavLink")</a></li>
}
