﻿@model WebApp.Models.Views.Default.HeaderAccountInfoPartial

@if (Model.IsShowAuthorizedUserLinks)
{
    <li class="logout-icon">
        <a href="@Url.Action("LogOff", "Account")" title="@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.LogoutNavLink")">
            <span class="glyphicon glyphicon-log-out"></span>
        </a>
    </li>
    <li class="account-link-delimiter"><span class="navbar-delimiter">|</span></li>
    <li class="cabinet-icon">
        <a href="@Url.Action("Index", "Manage")" title="@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.PersonalAccountNavLink")">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </li>
}
else
{
    <li class="login-icon">
        <a href="@Url.Action("Login", "Account")" title="@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.LoginNavLink")">
            <span class="glyphicon glyphicon-log-in"></span>
        </a>
    </li>
    <li class="account-link-delimiter">
        <span class="navbar-delimiter">|</span>
    </li>
    <li class="register-icon">
        <a href="@Url.Action("Register", "Account")" title="@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.RegisterNavLink")">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </li>
}
