﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Default.HeaderPartial

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img class="InfoShop-logo-img" src="@MvcApplication.UrlUtils.GetBaseUrl()Content/Styles/Images/InfoShop-logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="navbar-nav-InfoShop" class="nav navbar-nav">
                <li class="@(Model.ActiveNavLink == "Products" ? "active" : "")">
                    <a href="@Url.RouteUrl((Request.RequestContext.RouteData.Values["culture"] != null ? "Culture" : "") + "Default", new { action = "Catalog", controller = "Products" })">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.ProductsNavLink")
                    </a>
                    <span class="navbar-link-decoration"></span>
                    <div class="panel panel-default panel-products">
                        <div class="panel-body">
                            @helper SectionPrint(WebApp.Models.Views.SectionView s)
                                {
                                    <div class="col-md-1-5 ">
                                        @if (s.MainImageId != null)
                                        {
                                            <div class="thumbnail">
                                                <a href="@Url.Action("Index", "Products", new { sectionName = s.Name})" class="center-center">
                                                    <img id="navbar-thumbnail-image-@s.Id" src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Sections/normal/@(s.MainImageId).jpg" />
                                                </a>
                                            </div>
                                        }
                                        <h5>
                                            <a class="link-14-90" href="@Url.Action("Index", "Products", new { sectionName = s.Name})">@s.Title</a>
                                        </h5>
                                    </div>
}
                            @{
                                var sections = Model.Sections.Where(x => !x.Hidden).ToList();
                            }
                            <div class="row">
                                @for (var i = 0; i < sections.Count; i++)
                                {
                                    @SectionPrint(sections[i])
                                }
                            </div>
                        </div>
                    </div>
                </li>
                <li class="@(Model.ActiveNavLink == "Files" ? "active" : "")">
                    <a href="@Url.Action("Index", "Files")">@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SupportNavLink")</a>
                    <span class="navbar-link-decoration"></span>
                    <div class="panel panel-default panel-support">
                        <div class="panel-body">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Index", "Files")" class="center-center">
                                        <i class="fa fa-save" style="font-size: 80px;"></i>
                                    </a>
                                </div>
                                <h5>
                                    <a class="link-14-90" href="@Url.Action("Index", "Files")">
                                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.FilesNavLink")
                                    </a>
                                </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Index", "Srvs")" class="center-center">
                                        <i class="fa fa-wrench" style="font-size: 80px;"></i>
                                    </a>
                                </div>
                                <h5>
                                    <a class="link-14-90" href="@Url.Action("Index", "Srvs")">
                                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.ServicesNavLink")
                                    </a>
                                </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Index", "Feedback")" class="center-center">
                                        <i class="fa fa-pencil" style="font-size: 80px;"></i>
                                    </a>
                                </div>
                                <h5>
                                    <a class="link-14-90" href="@Url.Action("Index", "Feedback")">
                                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.FeedbackNavLink")
                                    </a>
                                </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Index", "SupportArticles")" class="center-center">
                                        <i class="fa icon-wrench" style="font-size: 80px;"></i>
                                    </a>
                                </div>
                                <h5>
                                    <a class="link-14-90" href="@Url.Action("Index", "SupportArticles")">
                                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SupportArticlesNavLink")
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="@(Model.ActiveNavLink == "About" ? "active" : "")">
                    <a href="@Url.Action("About", "Home")">@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.CompanyNavLink")</a>
                    <span class="navbar-link-decoration"></span>
                    <div class="panel panel-default panel-about">
                        <div class="panel-body">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Index", "News")" class="center-center">
                                        <i class="fa fa-newspaper-o" style="font-size: 80px;"></i>
                                    </a>
                                </div>
                                <h5>
                                    <a class="link-14-90" href="@Url.Action("Index", "News")">
                                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.NewsNavLink")
                                    </a>
                                </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="@Url.Action("About", "Home")" class="center-center">
                                        <i class="fa fa-info" style="font-size: 80px;"></i>
                                    </a>
                                </div>
                                <h5>
                                    <a class="link-14-90" href="@Url.Action("About", "Home")">
                                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.AboutNavLink")
                                    </a>
                                </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="@Url.Action("CorporateDepartment", "Home")" class="center-center">
                                        <i class="fa fa-briefcase" style="font-size: 80px;"></i>
                                    </a>
                                </div>
                                <h5>
                                    <a class="link-14-90" href="@Url.Action("CorporateDepartment", "Home")">
                                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.CorporateDepartmentNavLink")
                                    </a>
                                </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Index", "Vacancies")" class="center-center">
                                        <i class="fa fa-street-view" style="font-size: 80px;"></i>
                                    </a>
                                </div>
                                <h5>
                                    <a class="link-14-90" href="@Url.Action("Index", "Vacancies")">
                                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.VacanciesNavLink")
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="@(Model.ActiveNavLink == "Partners" ? "active" : "")">
                    <a href="@Url.RouteUrl((Request.RequestContext.RouteData.Values["culture"] != null ? "Culture" : "") + "Default", new { action = "Index", controller = "Partners" })">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.PartnersNavLink")
                    </a>
                    <span class="navbar-link-decoration"></span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-inline">
                <li class="navbar-form-holder">
                    <form class="navbar-form navbar-right" role="search" action="@Url.Action("Search", "Products")">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" class="form-control" id="search" name="query" value="@Request.QueryString["query"]"
                                       placeholder="@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SearchInputPlaceholder")">
                                <span class="input-group-addon">
                                    <button type="submit" class="btn btn-search glyphicon glyphicon-search"></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                @{ Html.RenderPartial("_HeaderAccountInfo", Model.HeaderAccountInfo); }
                @if (MvcApplication.LocalizationSettings.IsAllowLocalization)
                {
                    <li class="culture-btns">
                        <div class="btn-group">
                            <button data-culture="en" type="button" class="btn btn-default js-set-culture-btn @(Request.RequestContext.RouteData.Values["culture"] != null && Request.RequestContext.RouteData.Values["culture"].ToString().ToLower() == "en" ? "active" : "")">en</button>
                            <button data-culture="ru" type="button" class="btn btn-default js-set-culture-btn @(Request.RequestContext.RouteData.Values["culture"] == null || Request.RequestContext.RouteData.Values["culture"].ToString().ToLower() == "ru" ? "active" : "")">ru</button>
                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
</nav>