﻿@model WebApp.Models.Views.Default.MainLayout
@{
    var version = "version=3.3.8.3";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @if (MvcApplication.UrlUtils.GetBaseUrl().Equals("InfoShop.club"))
    {
        <meta name='yandex-verification' content='519ee28fd2b44dc2' />
    }
    @if (ViewBag.NonResponsiveSite == null)
    {
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    }
    <link rel="shortcut icon" href="@MvcApplication.UrlUtils.GetBaseUrl()favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="@MvcApplication.UrlUtils.GetBaseUrl()Areas/Default/Content/Bundles/fontello/css/fontello.css" rel="stylesheet" />
    <link href="@MvcApplication.UrlUtils.GetBaseUrl()Areas/Default/Content/Styles/@(ViewBag.NonResponsiveSite != null ? "NonResponsiveSite" : "Site").css?@(version)" rel="stylesheet" />
</head>
<body>
    <div style="display: none;">time: @DateTime.Now</div>
    <div class="body-inner">
        @{ Html.RenderPartial("_Header", Model.Header); }
        <div class="container-wrap">
            <div class="container-wrap-inner">
                @{ Html.RenderPartial("_Neck", Model.Neck); }
                @RenderBody()
            </div>
        </div>
        @{ Html.RenderPartial("_Footer", Model.Footer); }

        <script>
        var baseUrl = "@MvcApplication.UrlUtils.GetBaseUrl()";
        var st0SiteHttpHost = "@(MvcApplication.St0SiteSettings.HttpHost)";
        var culture = "@(Request.RequestContext.RouteData.Values["culture"] ?? "ru")";
        var version = "@version";
        var jsRoute = "@ViewContext.RouteData.DataTokens["area"].ToString()_@ViewContext.RouteData.Values["controller"].ToString()_@ViewContext.RouteData.Values["action"].ToString()";
        </script>
        <script src="@MvcApplication.UrlUtils.GetBaseUrl()Content/Javascripts/require.js?@(version)"></script>
        <script src="@MvcApplication.UrlUtils.GetBaseUrl()Content/Javascripts/main.config.js?@(version)"></script>
        @if (MvcApplication.UrlUtils.GetBaseUrl().Equals("InfoShop.club") || MvcApplication.UrlUtils.GetBaseUrl().Equals("www.InfoShop.club"))
        {
            <!-- Yandex.Metrika informer -->
            <a href="https://metrika.yandex.ru/stat/?id=27082385&amp;from=informer"
               target="_blank" rel="nofollow">
                <img src="//bs.yandex.ru/informer/27082385/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                     style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:27082385,lang:'ru'});return false}catch(e){}" />
            </a>
            <!-- /Yandex.Metrika informer -->

            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function () {
                        try {
                            w.yaCounter27082385 = new Ya.Metrika({
                                id: 27082385,
                                webvisor: true,
                                clickmap: true,
                                trackLinks: true,
                                accurateTrackBounce: true
                            });
                        } catch (e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript><div><img src="//mc.yandex.ru/watch/27082385" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-56821600-1', 'auto');
                ga('send', 'pageview');

            </script>
        }
    </div>
</body>
</html>
