﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Default.NeckPartial
@if (Model.IsVisible)
{
    var defaultRouteName = (Request.RequestContext.RouteData.Values["culture"] != null ? "Culture" : "") + "Default";

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12">
                @if (Model.Breadcrumbs != null && Model.Breadcrumbs.Count > 1)
                {
                    <ol class="breadcrumb">
                        @foreach (var b in Model.Breadcrumbs)
                        {
                            <li>
                                @if (string.IsNullOrEmpty(b.Name))
                                {

                                    if (Model.Archive)
                                    {
                                        <a href="@Url.RouteUrl(defaultRouteName, new { action = "Index", controller = "Products", Archive = true })">
                                            @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.Archive")
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.RouteUrl(defaultRouteName, new { action = "Index", controller = "Products" })">@b.Title</a>
                                    }
                                }
                                else
                                {
                                    var routeValues = new RouteValueDictionary(new Dictionary<string, object> { { "action", "Index" }, { "controller", "Products" }, { "sectionName", b.Name } });
                                    if (Model.Archive)
                                    {
                                        routeValues.Extend(new Dictionary<string, object> { { "Archive", "True" } });
                                    }
                                    <a href="@Url.RouteUrl(null, routeValues)">@b.Title</a>
                                }
                            </li>
                        }
                        @if (Model.Product != null)
                        {
                            <li class="active">@Model.Product.Title</li>
                        }
                    </ol>
                }
            </div>
            @*<div class="col-md-2 col-sm-12">
                    <div class="archive pull-right-md">
                    @if (!Model.Archive)
                    {
                        <a href="@Url.RouteUrl(defaultRouteName, new { action = "Index", controller = "Products", Archive = true })">@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.Archive")</a>

                    }
                    else
                    {
                        <a href="@Url.RouteUrl(defaultRouteName, new { action = "Index", controller = "Products" })">@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.CatalogBreadcrumbText")</a>
                    }
                    </div>
                </div>*@
        </div>
    </div>
}