﻿@model List<WebApp.Models.Views.ArticleView>
<div class="news-widget clearfix">
    <h3 class="header-24-75">
        <a href="@Url.Action("Index", "News")">@MvcApplication.ResourceProvider.ReadResource("Resources.HomeRes.NewsWidgetHeader")</a>
    </h3>
    <ul class="media-list clearfix">
        @for (var i = 0; i < Model.Count; i++)
        {
            var n = Model[i];
            <li class="media col-lg-12 col-md-3 col-sm-6 @(i == 4 ? "hidden-md hidden-sm hidden-xs" : "")">
                <a class="pull-left top-center" href="@Url.Action("Show", "News", new { id = n.Id})">
                    <img class="media-object" src="@(MvcApplication.St0SiteSettings.HttpHost)Images/News/normal/@(n.MainImageId).jpg" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading" title="@n.Title">
                        <span class="text-12-50">@n.CreatedDate.ToString("dd.MM.yyyy")</span><br />
                        <a class="link-14-75 text-break" href="@Url.Action("Show", "News", new { id = n.Id})">@n.Title</a>
                    </h4>
                </div>
            </li>
        }
    </ul>
</div>