﻿@model List<WebApp.Models.Views.ProductView>
<div class="products-raiting">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="header-24-75">@MvcApplication.ResourceProvider.ReadResource("Resources.HomeRes.NewProductsWidgetHeader")</h3>
        </div>
    </div>
    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-4 col-sm-6 clearfix">
                <div class="thumbnail clearfix">
                    <a href="@Url.Action("Show", "Products", new { productId = p.Id, productName = p.Name })" class="center-center"><img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Products/normal/@(p.MainImageId).jpg" />    </a>
                    <div class="caption">
                        <h4 class="header-18-75">
                            <a href="@Url.Action("Show", "Products", new { productId = p.Id, productName = p.Name })" title="@p.Title @p.ShortFeatures">@p.Title</a>
                        </h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>