﻿@model List<WebApp.Models.Views.PostView>
<div class="posts-widget clearfix">
    <h3 class="header-24-75"><a href="@Url.Action("Index", "Posts")">@MvcApplication.ResourceProvider.ReadResource("Resources.HomeRes.PostsWidgetHeader")</a></h3>
    <ul class="media-list clearfix">
        @for (var i = 0; i < Model.Count; i++)
        {
            var n = Model[i];
            <li class="media col-md-3 col-sm-6 @(i == 4 ? "hidden-md hidden-sm hidden-xs" : "")">
                <a class="pull-left top-center" href="@(!string.IsNullOrEmpty(n.LinkToExpertPost) ? n.LinkToExpertPost : Url.Action("Show", "Posts", new { id = n.Id}))" target="_blank">
                    <img class="media-object" src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Posts/normal/@(n.MainImageId).jpg" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading" title="@n.Title">
                        <span class="text-12-50">@n.CreatedDate.ToString("dd.MM.yyyy")</span><br />
                        <a class="link-14-75 text-break" href="@(!string.IsNullOrEmpty(n.LinkToExpertPost) ? n.LinkToExpertPost : Url.Action("Show", "Posts", new { id = n.Id}))" target="_blank">@n.Title</a>
                    </h4>
                </div>
            </li>
        }
    </ul>
</div>