﻿@model WebApp.Models.Views.Default.SupportBodyLayout
@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class="container container-mh  container-mt">
    <div class="row">
        <div class="col-lg-3 col-xs-12 ">
            <div class="row">
                <div class="list-group clearfix">
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("Index", "Files")" class="text-in-line-md-max list-group-item @(Model.ActiveSideMenuLink == "Files" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.FilesNavLink")
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("Index", "Srvs")" class="text-in-line-md-max list-group-item @(Model.ActiveSideMenuLink == "Srvs" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.ServicesNavLink")
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("Index", "Feedback")" class="text-in-line-md-max list-group-item @(Model.ActiveSideMenuLink == "Feedback" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.FeedbackNavLink")
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-6">
                        <a href="@Url.Action("Index", "SupportArticles")" class="text-in-line-md-max list-group-item @(Model.ActiveSideMenuLink == "SupportArticles" ? "active" : "")">
                            @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SupportArticlesNavLink")
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xs-12 ">
            @RenderBody()
        </div>
    </div>
</div>
