﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@model WebApp.Models.Views.Default.VacanciesSidebar
<div class="list-group">
    <a href="@Url.Action("Career", "Vacancies")" class="list-group-item @(Model.ActiveSideMenuLink != null && Model.ActiveSideMenuLink.Equals("Career") ? "active" : "")">Работа в нашей компании</a>
    <a href="@Url.Action("HowToGetJob", "Vacancies")" class="list-group-item @(Model.ActiveSideMenuLink != null && Model.ActiveSideMenuLink.Equals("HowToGetJob") ? "active" : "")">Как к нам попасть</a>
</div>
<h4>Открытые вакансии</h4>
<div class="row vacancies-list">
    @{
        IEnumerable<IEnumerable<WebApp.Models.Views.VacancyView>> vacanciesGroup = Model.Vacancies.Chunk((int)Math.Ceiling((double)Model.Vacancies.Count / 2));
        var first = true;
        foreach (var g in vacanciesGroup)
        {
            <div class="col-md-12 col-sm-6">
                <div class="list-group @(first ? "list-group-nmb" : "")">
                    @foreach (var s in g)
                    {
                        <a href="@Url.Action("Show", "Vacancies", new { id = s.Id })" class="list-group-item @(Model.ActiveVacancy != null && s.Id == Model.ActiveVacancy.Id ? "active" : "")">
                            @s.Title
                        </a>
                    }
                </div>
            </div>
            first = false;
        }
    }
</div>
