﻿@model WebApp.Models.Views.Default.VacanciesBodyLayout
@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class="container container-mh container-mt">
    <div class="row" style="margin-bottom:15px;">
        <div class="col-lg-3 col-md-4 ">
            @{ Html.RenderPartial("_VacanciesSidebar", Model.Sidebar); }
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12">
            @RenderBody()
        </div>
    </div>
</div>
