﻿@model WebApp.Models.Views.Default.ViewModelHolder<WebApp.Models.Views.Default.MessageViewModel>

@{
    ViewBag.Title = Model.ViewModel.PageTitle;
}
<div class="container container-mh container-mt">
    <div class="row">
        <h2>@Model.ViewModel.PageTitle</h2>
        <p>@Model.ViewModel.Message</p>
    </div>
</div>