﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.ProductForm
@{
    var needDelete = false;
    if (Model.Attributes.Count == 0)
    {
        needDelete = true;
        Model.Attributes.Add(new WebApp.Models.Forms.AttributeSimpleForm());
    }
    var valueValidationAttributes = Html.EditorFor(m => m.Attributes[0].Values[0].ValueId, "ValidationAttributes");
    if (needDelete)
    {
        Model.Attributes.RemoveAt(0);
    }
}

@Html.ValidationSummary(true)
<form id="product-form" class="form-horizontal col-md-8" role="form" method="POST"
      data-sections='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Sections))'
      data-partners-for-select-list='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.PartnersForSelectList))'
      validation-attributes='{"@Html.IdFor(m => m.Attributes[0].Values[0].ValueId)": "@valueValidationAttributes"}'>
    <input id="redirectToUrl" type="hidden" name="redirectToUrl" value="@ViewBag.RedirectToUrl" />
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Active)
    @Html.HiddenFor(m => m.Archive)
    @Html.HiddenFor(m => m.Barcode)
    @Html.HiddenFor(m => m.StoreState)
    @Html.HiddenFor(m => m.ViewsAmount)
    @Html.HiddenFor(m => m.CreatedDate)
    <div class="form-group">
        @Html.LabelFor(m => m.Comment, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Comment, "Text", null, new { @class = "form-control", placeholder = "Введите служебный комментарий" })
            @Html.ValidationMessageFor(m => m.Comment)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Code, "Text", null, new { @class = "form-control", placeholder = "Введите код производителя" })
            @Html.ValidationMessageFor(m => m.Code)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Price, "Text", null, new { @class = "form-control", placeholder = "Введите цену" })
            @Html.ValidationMessageFor(m => m.Price)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите заголовок" })
            @Html.EditorFor(m => m.TitleIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите заголовок на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ShortFeatures, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.ShortFeatures, "Text", null, new { @class = "form-control", placeholder = "Введите характеристики" })
            @Html.ValidationMessageFor(m => m.ShortFeatures)
        </div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.Description.Id)
        @Html.LabelFor(m => m.Description.Content, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="tinymce-wrapper">
                @Html.EditorFor(m => m.Description.Content, "TextArea", null, new { @class = "form-control", placeholder = "Введите описание" })
            </div>
            <div class="tinymce-wrapper@(!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : "")">
                @Html.EditorFor(m => m.Description.ContentIn, "TextArea", null, new { @class = "form-control", placeholder = "Введите описание на английском" })
            </div>
            @Html.ValidationMessageFor(m => m.Description.Content)
        </div>
    </div>
    <div class="form-group form-group-border">
        @Html.HiddenFor(m => m.SectionId)
        @Html.LabelFor(m => m.SectionId, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="select-group-list" id="select-group-list">
                @{
                    List<long> activeSections = new List<long>();
                    var sectionId = Model.SectionId;
                    for (int i = ViewBag.SectionsAsPathSiblings.Count - 1; i >= 0; i--)
                    {
                        foreach (var s in ViewBag.SectionsAsPathSiblings[i])
                        {
                            if (s.Id == sectionId)
                            {
                                activeSections.Add(s.Id);
                                sectionId = s.ParentId;
                                break;
                            }
                        }
                    }
                    activeSections.Reverse();
                }

                @for (var i = 0; i < ViewBag.SectionsAsPathSiblings.Count; i++)
                {
                    <select class="form-control select-group-item">
                        <option value="@(i > 0 ? activeSections[i - 1] : 0)">--</option>
                        @foreach (var s in ViewBag.SectionsAsPathSiblings[i])
                        {
                            <option value="@s.Id" @(activeSections.Count > i && activeSections[i] == s.Id ? "selected=\"selected\"" : "")>@s.Title</option>
                        }
                    </select>
                }
            </div>
            @Html.ValidationMessageFor(m => m.SectionId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TypeId, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.TypeId, "Select", new { List = ViewBag.TypesForSelectList, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TypeId)
        </div>
    </div>
    @if (Model.Id > 0)
    {
        <div class="form-group">
            <label class="col-md-3 control-label">Копировать характеристики из</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input id="CopyAttributes.FromProductId" type="text" class="form-control" placeholder="Укажите ид товара" />
                    <span class="input-group-btn">
                        <span id="copy-attributes-btn" class="fa fa-files-o btn btn-default" title="Копировать характеристики"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Копировать картинки из</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input id="CopyImages.FromProductId" type="text" class="form-control" placeholder="Укажите ид товара" />
                    <span class="input-group-btn">
                        <span id="copy-images-btn" class="fa fa-files-o btn btn-default" title="Копировать картинки"></span>
                    </span>
                </div>
            </div>
        </div>
    }
    <div class="form-group form-group-border">
        @Html.LabelFor(m => m.Attributes, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div id="filters-groups-holder">
                @if (Model.SectionId > 0)
                {
                    foreach (var group in ViewBag.FiltersGroups)
                    {
                        <h4>@group.Title</h4>
                        foreach (var fs in group.Filters)
                        {
                            for (var i = 0; i < Model.Attributes.Count; i++)
                            {
                                if (Model.Attributes[i].Filter.Id == fs.Id)
                                {
                                    WebApp.Models.Views.FilterForSelectList filter = ViewBag.FiltersForSelectLists[fs.Id];

                                    <div id="filter-holder-@filter.Id" class="filter-holder js-filter-holder"
                                         data-filter-id="@filter.Id"
                                         data-filter-multiple="@filter.Multiple">
                                        @Html.HiddenFor(m => m.Attributes[i].Filter.Id)
                                        <label class="control-label">@filter.Title @(!string.IsNullOrEmpty(filter.Unit) ? ", " + filter.Unit : "")</label>

                                        <div id="filterInputGroup@(filter.Id)" class="input-group">
                                            @Html.EditorFor(m => m.Attributes[i].Values[0].ValueId, "Select", null, new { List = filter.List, nameExists = false, @class = "form-control js-select-attribute-value", value = "" })
                                            <span class="input-group-btn">
                                                <span class="glyphicon glyphicon-plus btn btn-default js-add-select-attribute-value-btn" style="top: 0;" title="Добавить новое значение"></span>
                                            </span>
                                        </div>
                                        <div id="select-attribute-values-holder-@filter.Id" class="edit-list-holder js-select-attribute-values-holder clearfix" data-attribute-index="@i">
                                            @for (var j = 0; j < Model.Attributes[i].Values.Count; j++)
                                            {
                                                if (Model.Attributes[i].Values[j].ValueId != null)
                                                {
                                                    SelectListItem valueItem = filter.List.FirstOrDefault(x => x.Value.Equals(Model.Attributes[i].Values[j].ValueId.ToString()));
                                                    <div id="select-attribute-value-holder-@valueItem.Value" class="pull-left edit-item-holder select-attribute-value-holder js-select-attribute-value-holder"
                                                         data-value-id="@valueItem.Value"
                                                         data-filter-id="@filter.Id">
                                                        @Html.HiddenFor(m => m.Attributes[i].Values[j].ValueId)
                                                        <span class="text-nowrap">@valueItem.Text</span>
                                                        <span class="glyphicon glyphicon-remove js-remove-select-attribute-value-btn"></span>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Attributes[i].Values[0].ValueId)
                                    </div>
                                }
                            }
                        }
                    }
                }
            </div>
            @Html.ValidationMessageFor(m => m.Attributes)
        </div>
    </div>
    @Html.EditorFor(m => m, "ImagesFormGroupV2", null, new { folder = "Products" })
    <div class="form-group">
        @Html.LabelFor(m => m.Sertificate, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.HiddenFor(m => m.Sertificate)
            <div class="input-group">
                <input id="sertificate-url-input" class="form-control" type="text" value="@(!string.IsNullOrEmpty(Model.Sertificate) ? MvcApplication.St0SiteSettings.HttpHost + "Images/Sertificates/" + Model.Sertificate + ".jpg" : "")" placeholder="Укажите url или ftp сертификата" />
                <span class="input-group-addon">
                    <span id="upload-sertificate-btn" class="glyphicon glyphicon-upload disabled" title="Загрузить сертификат"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Sertificate)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExternalLink, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.ExternalLink, "Text", null, new { @class = "form-control", placeholder = "Введите внешнюю ссылку для баннера" })
            @Html.ValidationMessageFor(m => m.ExternalLink)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BannerPosition, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.BannerPosition, "Text", null, new { @class = "form-control", placeholder = "Порядковый номер баннера" })
            @Html.ValidationMessageFor(m => m.BannerPosition)
        </div>
    </div>
    @Html.EditorFor(m => m.BannerImageId, "MainImageFormGroup", null, new { folder = "Products", noPhoto = ViewBag.NoPhoto })
    @Html.EditorFor(m => m.BannerImageIdIn, "MainImageFormGroup", null, new { folder = "Products" })

    <div class="form-group form-group-border">
        @Html.LabelFor(m => m.PartnersLinksOnProduct, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div id="partners" class="partners">
                <div id="partner-edit" class="partner-edit">

                </div>
                <div class="partners-list  edit-list-holder">
                    @for (var i = 0; i < Model.PartnersLinksOnProduct.Count; i++)
                    {
                        <div id="partners-item-@i" class="partners-item js-partners-item pull-left edit-item-holder" data-partner-index="@i">
                            @Html.HiddenFor(m => m.PartnersLinksOnProduct[i].Id, new { @class = "js-partners-item-id" })
                            @Html.HiddenFor(m => m.PartnersLinksOnProduct[i].Link, new { @class = "js-partners-item-link" })
                            @{
                                var itemTitle = "";
                                foreach (var item in ViewBag.PartnersForSelectList)
                                {
                                    if (item.Value.Equals(Model.PartnersLinksOnProduct[i].Id.ToString()))
                                    {
                                        itemTitle = item.Text;
                                    }
                                }
                            }
                            <span class="text-nowrap">@itemTitle</span>
                            <span id="show-partner-edit-btn-@i" class="glyphicon glyphicon-pencil js-show-partner-edit-btn"></span>
                            <span id="delete-partner-btn-@i" class="glyphicon glyphicon-remove js-delete-partner-btn"></span>
                        </div>
                    }
                    <div id="show-partner-add-btn" class="pull-left edit-item-holder">Добавить</div>
                </div>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.PartnersLinksOnProduct)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.AllowFiles) @Html.DisplayNameFor(m => m.AllowFiles)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.AllowFiles)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Filled) @Html.DisplayNameFor(m => m.Filled)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.Filled)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Published) @Html.DisplayNameFor(m => m.Published)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.Published)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.ToRating) @Html.DisplayNameFor(m => m.ToRating)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.ToRating)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.New) @Html.DisplayNameFor(m => m.New)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.New)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.ToBanner) @Html.DisplayNameFor(m => m.ToBanner)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.ToBanner)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-5">
            <button id="save-product-btn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <a href="@ViewBag.RedirectToUrl" class="btn btn-default">Отмена</a>
                <button id="delete-product-btn" data-href="@Url.Action("Delete", "Products", new { id = Model.Id})" class="btn btn-danger">Удалить</button>
            }
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="toList" value="True" @(ViewBag.ToList == true ? "checked" : "") /> Не переходить в список
                </label>
                <input type="hidden" name="toList" value="False" />
            </div>
        </div>
    </div>
</form>
