﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.ProductCreateAdminPage
@{
    ViewBag.Title = "Добавление товара";
    ViewBag.ActiveNavLink = "Products";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{
                Html.RenderPartial("_Edit", Model.ProductForm, new ViewDataDictionary
                {
                    ["SectionsAsPathSiblings"] = Model.SectionsAsPathSiblings,
                    ["FiltersForSelectLists"] = Model.FiltersForSelectLists,
                    ["TypesForSelectList"] = Model.TypesForSelectList,
                    ["PartnersForSelectList"] = Model.PartnersForSelectList,
                    ["Sections"] = Model.Sections,
                    ["FiltersGroups"] = Model.FiltersGroups,
                    ["RedirectToUrl"] = Model.RedirectToUrl,
                    ["NoPhoto"] = Model.NoPhoto,
                    ["ToList"] = Model.ToList
                });
            }
        </div>
    </div>
</div>