﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.ProductEditAdminPage
@{
    ViewBag.Title = "Редактирование товара - " + Model.ProductForm.Title;
    ViewBag.ActiveNavLink = "Products";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{
                Html.RenderPartial("_Edit", Model.ProductForm, new ViewDataDictionary
                {
                    ["SectionsAsPathSiblings"] = Model.SectionsAsPathSiblings,
                    ["FiltersForSelectLists"] = Model.FiltersForSelectLists,
                    ["TypesForSelectList"] = Model.TypesForSelectList,
                    ["PartnersForSelectList"] = Model.PartnersForSelectList,
                    ["Sections"] = Model.Sections,
                    ["FiltersGroups"] = Model.FiltersGroups,
                    ["RedirectToUrl"] = Model.RedirectToUrl,
                    ["NoPhoto"] = Model.NoPhoto,
                    ["ToList"] = Model.ToList
                });
            }
        </div>
        <div class="col-md-12">
            <div class="list-group">
                @for (var i = 0; i < Model.ProductSnapshots.Count(); i++)
                {
                    var s = Model.ProductSnapshots[i];
                    <a href="@Url.Action("Edit", "Products", new { redirectToUrl = Model.RedirectToUrl, snapshotId = s.Id })" class="list-group-item">
                        Редакция - @s.CreatedDate. @s.User.Email -
                        @{
                            var comma = "";
                            foreach (var st in Model.ProductSnapshots[i].ProductStates)
                            {
                                if (st.Equals(DomainLogic.Models.Enumerations.ProductStateEnum.Created) || st.Equals(DomainLogic.Models.Enumerations.ProductStateEnum.Modified))
                                {
                                    continue;
                                }
                                @comma@st.GetTitle().Trim()
                                if (string.IsNullOrEmpty(comma))
                                {
                                    comma = ", ";
                                }
                            }
                        }
                        @if ((Request.QueryString["snapshotId"] == null && i == Model.ProductSnapshots.Count() - 1)
                            || Request.QueryString["snapshotId"] != null && Convert.ToInt64(Request.QueryString["snapshotId"]) == s.Id)
                        {
                            @:(текущая)
                        }
                    </a>
                }
            </div>
        </div>
    </div>
</div>

