﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.ProductsListAdminPage
@{
    ViewBag.Title = "Товары";
    ViewBag.ActiveNavLink = "Products";
}
@helper RenderFilter(int index)
    {
        <div class="form-group col-md-2">
            <select class="form-control" name="filter[@index]" onchange="document.getElementById('filter').submit()">
                <option value="">--</option>
                @foreach (DomainLogic.Models.Enumerations.AllowableFilterEnum f in Enum.GetValues(typeof(DomainLogic.Models.Enumerations.AllowableFilterEnum)))
                {
                    <option value="@f" @(index < Model.Filter.Count && Model.Filter[index] == f ? "selected" : "")>@f.GetTitle()</option>
                }
            </select>
        </div>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <form id="filter" role="form">
            @{ Html.RenderPartial("_SectionsMenu", Model.SectionsMenu);}
            <div class="form-group col-md-2">
                <a href="@Url.Action("Create", "Products", new { sectionId = Model.Section != null ? Model.Section.Id : 0})">Создать новый товар</a>
            </div>
            @for (var i = 0; i < Model.Filter.Count; i++)
            {
                @RenderFilter(i)
            }
            @RenderFilter(Model.Filter.Count)
            <div class="form-group col-md-2">
                <select class="form-control" name="Sort" onchange="document.getElementById('filter').submit()">
                    <option value="">Сортировать </option>
                    <option value="Id" @(string.Equals(Model.Sort, "Id") ? "selected" : "")>по дате создания</option>
                    <option value="Title" @(string.Equals(Model.Sort, "Title") ? "selected" : "")>по наименованию</option>
                    <option value="ViewsAmount" @(string.Equals(Model.Sort, "ViewsAmount") ? "selected" : "")>по посещаемости</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <input class="form-control" type="text" name="query" value="@Request.QueryString["query"]" onchange="document.getElementById('filter').submit();" placeholder="Поиск по заголовку" />
            </div>
            <div class="form-group col-md-4">
                <div class="checkbox">
                    <label>
                        <input name="needShowUnactiveProducts" value="True" type="checkbox" onchange="document.getElementById('filter').submit();" @(Model.NeedShowUnactiveProducts ? "checked" : "")> Показывать неактивные товары
                    </label>
                </div>
            </div>
        </form>
    </div>
    @if (Model.Products.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Код 1c</td>
                        <td>Код</td>
                        <td title="Есть ли фотографии? y/n">Ф</td>
                        <td title="Опубликован ли товар? y/n">О</td>
                        <td title="Популярный">P</td>
                        <td title="Новинка">Н</td>
                        <td title="Порядковый номер баннера">П</td>
                        <td title="Насколько заполнены характеристики? %">X</td>
                        <td title="Посещаемость">V</td>
                        <td>Название</td>
                        <td>Раздел</td>
                        <td>Действия</td>
                        <td>Комментарий</td>
                    </tr>
                    @foreach (var p in Model.Products)
                    {
                        <tr>
                            <td>@p.Code</td>
                            <td><a href="@Url.Action("Show", "Products", new { productId = p.Id, productName = p.Name, area = "Default" })">@p.Id</a></td>
                            <td>@(p.MainImageId != Model.NoPhoto ? "y" : "n")</td>
                            <td>@(p.Published ? "y" : "n")</td>
                            <td>@(p.ToRating ? "y" : "n")</td>
                            <td>@(p.New ? "y" : "n")</td>
                            <td>@(p.BannerPosition != Int32.MaxValue ? p.BannerPosition.ToString() : "")</td>
                            <td>@p.FilledFeatures@(p.FilledFeatures != null ? "%" : "")</td>
                            <td>@p.ViewsAmount</td>
                            <td>@p.Title</td>
                            <td>@p.Section.Title</td>
                            <td>
                                <a href="@Url.Action("Edit", "Products", new { id = p.Id })">Редактировать</a>
                                @if (p.AllowFiles)
                                {
                                    <br /><a href="@Url.Action("Index", "Files", new { sectionId = p.SectionId, productId = p.Id })">Список файлов</a>
                                }
                                <br /><a href="@Url.Action("Copy", "Products", new { productId = p.Id})">Сделать копию</a>

                            </td>
                            <td class="col-md-2" style="font-size: 10px;">@p.Comment</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        if (Model.Pagination.LastPage > 1)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    @{ Html.RenderPartial("_Pagination", Model.Pagination); }
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет товаров
            </div>
        </div>
    }
</div>

