﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BlurEffectTest</title>
     <link href="~/Areas/Default/Content/Styles/Site.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="http://st0.InfoShop.club/Images/Products/54538.jpg" style="width: 100%;" />
                <div class="blur-effect-image-holder"> 
                    <img class="blur-effect-image" src="http://st0.InfoShop.club/Images/Products/54537.jpg" />
                    <div class="blur-effect-container"></div>
                    <div class="blur-effect-slider"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var jsRoute = "@ViewContext.RouteData.DataTokens["area"].ToString()_@ViewContext.RouteData.Values["controller"].ToString()_@ViewContext.RouteData.Values["action"].ToString()";
    </script>
    <script src="@MvcApplication.UrlUtils.GetBaseUrl()Content/Javascripts/require.js"></script>
    <script src="@MvcApplication.UrlUtils.GetBaseUrl()Content/Javascripts/main.config.js"></script>    
</body>
</html>
