﻿@model WebApp.Models.Forms.ResumeForm
@Html.ValidationSummary(true);
<form id="resume-form" class="form-horizontal col-lg-9 col-sm-12 " role="form" method="POST" action="@Url.Action("Index", "Resumes")">
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите название вакансии" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.FullName, "Text", null, new { @class = "form-control", placeholder = "Введите фамилию, имя и отчество" })
            @Html.ValidationMessageFor(m => m.FullName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Phone, "Text", null, new { @class = "form-control", placeholder = "Введите свой контактный телефон" })
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Email, "Text", null, new { @class = "form-control", placeholder = "Введите свой e-mail" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ResumeDocLink, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            <span id="loading" class="loading" style="display: none;"></span>
            <span id="load-on-success" class="text-success" style="display: none;">Документ загружен</span>
            <input id="resumeDoc" type="file" name="file" />
            @Html.HiddenFor(m => m.ResumeDocLink)
            @Html.ValidationMessageFor(m => m.ResumeDocLink)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Education, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Education, "TextArea", null, new { @class = "form-control", placeholder = "", rows = 6 })
            @Html.ValidationMessageFor(m => m.Education)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Experience, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Experience, "TextArea", null, new { @class = "form-control", placeholder = "Введите опыт работы", rows = 7 })
            @Html.ValidationMessageFor(m => m.Experience)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdditionalInfo, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.AdditionalInfo, "TextArea", null, new { @class = "form-control", placeholder = "", rows = 6 })
            @Html.ValidationMessageFor(m => m.AdditionalInfo)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Captcha, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            <img src="@Url.Action("Captcha", "Common")" onclick="this.src = this.src.split('?')[0] + '?' + new Date()" style="cursor: pointer;" title="Обновить"/><br/><br/>
            @Html.EditorFor(m => m.Captcha, "Text", null, new { @class = "form-control", placeholder = MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.CaptchaDisplayName") })
            @Html.ValidationMessageFor(m => m.Captcha)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button id="save-resume-btn" type="submit" class="btn btn-default">Отправить</button>
        </div>
    </div>
</form>
