﻿@model List<DomainLogic.Models.Option>
@{
    ViewBag.Title = "Настройки";
    ViewBag.ActiveNavLink = "Options";
}
<div class="container">
    @if (Model.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Ключ</td>
                        <td>Название</td>
                        <td>Значение</td>
                        <td>Тип</td>
                        <td></td>
                    </tr>
                    @foreach (var p in Model)
                    {
                    <tr>
                        <td>@p.Name<input type="hidden" name="Name" value="@p.Name" /></td>
                        <td>@p.Title</td>
                        <td><input type="text" name="Value" value="@p.Value" class="form-control" /></td>
                        <td>@p.Type.ToString()</td>
                        <td class="col-md-2"><a class="js-save-option-btn">Сохранить</a></td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет опций
            </div>
        </div>
    }
</div>

