.images-form-group .thumbnail {
  position: relative;
  margin-bottom: 15px;
}
.images-form-group .thumbnail > a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  text-decoration: none;
}
.images-form-group .thumbnail:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.images-form-group .thumbnail img {
  max-width: 100%;
}
.images-form-group .thumbnail .caption {
  position: absolute;
  top: 0;
  display: none;
}
.images-form-group .thumbnail:hover .caption {
  display: block;
}
.images-form-group .thumbnail .glyphicon-plus {
  font-size: 25px;
  line-height: 50px;
}
.images-form-group .thumbnail .glyphicon-remove,
.images-form-group .thumbnail .glyphicon-magnet,
.images-form-group .thumbnail .fa-cog {
  border: 1px solid #000;
  padding: 4px;
  border-radius: 3px;
  background-color: #fff;
}
.images-form-group .thumbnail .file {
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  font-size: 200px;
  opacity: 0;
}
.images-form-group .thumbnail .glyphicon-magnet.active {
  background: #4cff00;
}
.images-form-group .loading {
  background: url(/Content/Styles/Images/loading.gif);
  display: inline-block;
  width: 16px;
  height: 11px;
}
.image-settings-form {
  padding: 15px;
}
.image-settings-form .row {
  margin-bottom: 30px;
}
.image-settings-form .col-xs-12 {
  width: 800px;
}
.image-settings-form .col-xs-12 img {
  max-width: 100%;
  max-height: 800px;
}
.image-settings-form .col-xs-12,
.image-settings-form .col-xs-6,
.image-settings-form .col-xs-3,
.image-settings-form .col-xs-2 {
  overflow: hidden;
}
.image-settings-form input[type=file] {
  position: absolute;
  font-size: 300em;
  opacity: 0;
  cursor: pointer;
}
