﻿// Редактирование картинок
// ----------------------
.images-form-group {

    .thumbnail {
        position: relative;
        margin-bottom: 15px;
    }

    .thumbnail > a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        height: 100%;
        text-decoration: none;
    }

    .thumbnail:before {
        content: "";
        display: block;
        padding-top: 75%;
    }

    .thumbnail img {
        max-width: 100%;
    }

    .thumbnail .caption {
        position: absolute;
        top: 0;
        display: none;
    }

    .thumbnail:hover .caption {
        display: block;
    }

    .thumbnail .glyphicon-plus {
        font-size: 25px;
        line-height: 50px;
    }

    .thumbnail .glyphicon-remove,
    .thumbnail .glyphicon-magnet,
    .thumbnail .fa-cog {
        border: 1px solid #000;
        padding: 4px;
        border-radius: 3px;
        background-color: #fff;
    }

    .thumbnail .file {
        display: block;
        position: absolute;
        top: -20px;
        left: -20px;
        font-size: 200px;
        opacity: 0;
    }

    .thumbnail .glyphicon-magnet.active {
        background: #4cff00;
    }

    .loading {
        background: url(/Content/Styles/Images/loading.gif);
        display: inline-block;
        width: 16px;
        height: 11px;
    }

    
}
.image-settings-form {
    padding: 15px;

    .row {
        margin-bottom: 30px;
    }

    .col-xs-12 {
        width: 800px;

        img {
            max-width: 100%;
            max-height: 800px;
        }
    }

    .col-xs-12,
    .col-xs-6,
    .col-xs-3,
    .col-xs-2 {
        overflow: hidden;
    }

    input[type=file] {
        position: absolute;
        font-size: 300em;
        opacity: 0;
        cursor: pointer;
    }
}
