﻿@custom-screen-xs: 0;
@custom-screen-sm: 0;
@custom-screen-md: 0;
@custom-screen-lg: 0;
@import '../../../../Content/Bundles/bootstrap/css/bootstrap.less';
@import '../../../../Content/Styles/Common.less';
// Шапка вверх 
// ------------------
.InfoShop-logo-img {
    max-width: 100px;
}
.navbar-nav-admin a {
    font-size: 13px;
}
// редактирвоние картинок 
// -----------------------
@import 'Images.less';
// Формы 
// -----------------------
.select-group-list {
    margin-top: -15px
}
.select-group-item {
    margin-top: 15px;
}
span.field-validation-error {
    color: #a94442;
}
.filter-group-holder {
    border: 1px solid #ccc;
    padding: 0  15px 15px 15px;
    border-radius: 4px;
}
.glyphicon.disabled {
    opacity: .65;
    cursor: not-allowed;
}
.edit-list-holder {
    margin-top: 10px;
}
.edit-item-holder {
    padding: 5px;
    margin-right: 5px;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.merge-btns .btn-cut,
.merge-btns .btn-paste {
    color: blue;
}
.merge-btns .btn-cut:hover,
.merge-btns .btn-cut-active {
    color: green;
}
.merge-btns .btn-paste {
    display: none;
}
.merge-btns-wait .btn-paste {
    display: inline;
}
.merge-btns-wait .btn-cut {
    display: none;
}
.merge-btns-wait .btn-paste:hover {
    color: green;
}
.merge-btns-active .btn-cut{
    display: inline;
    color: green;
}
.merge-btns-active .btn-paste{
    display: none;
}
.ui-autocomplete { 
    height: 400px; 
    overflow-y: scroll; 
    overflow-x: hidden;
}