﻿@model WebApp.Models.LoginViewModel
<section id="loginForm">
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "form",  @class = "form-horizontal", role = "form" }))
{
        @Html.AntiForgeryToken()
        <h4>@MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.LoginFormTitle")</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit-btn" type="submit" value="@MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.LoginFormSubmitButton")" class="btn btn-default" />
            </div>
        </div>
        <p>
            @Html.ActionLink(@MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.LoginFormRegisterLink"), "Register")
        </p>
                    
        <p>
            @Html.ActionLink(MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.LoginFormForgotPasswordLink"), "ForgotPassword")
        </p>
    }
</section>