﻿@model WebApp.Models.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "form", @class = "form-horizontal col-md-8", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.RegisterFormTitle")</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-9">
            <input id="submit-btn" type="submit" class="btn btn-default" value="@MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.RegisterFormSubmitButton")" />
        </div>
    </div>
}