﻿@model WebApp.Models.Views.Default.MainLayout
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ConfirmEmailPageTitle");
}
<div class="container container-mb container-mt container-mh">
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>
                @MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ConfirmEmailPageText")
                @Html.ActionLink(@MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ConfirmEmailPageLink"), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
            </p>
        </div>
    </div>
</div>
