﻿@model WebApp.Models.Views.Default.MainLayout
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ForgotPasswordConfirmationPageTitle");
}

<div class="container container-mb container-mt container-mh">
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>
                @MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ForgotPasswordConfirmationText")
            </p>
        </div>
    </div>
</div>

