﻿@model WebApp.Models.Views.Default.ViewModelHolder<WebApp.Models.LoginViewModel>
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.LoginPageTitle");
}
<div class="container container-mb container-mt">
    <div class="row">
        <div class="col-md-10">
            <h2>@ViewBag.Title.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @{ Html.RenderPartial("_LoginForm", Model.ViewModel); }
        </div>
        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>
</div>