﻿@model WebApp.Models.Views.Default.ViewModelHolder<WebApp.Models.RegisterViewModel>
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.RegisterPageTitle");
}
<div class="container container-mb container-mt">
    <div class="row">
        <div class="col-md-9">
            <h2>@ViewBag.Title.</h2>
        </div>
    </div>
    <div class="row">

        @{ Html.RenderPartial("_RegisterForm", Model.ViewModel); }
    </div>
</div>