﻿@model WebApp.Models.Views.Default.ViewModelHolder<WebApp.Models.ResetPasswordViewModel> 
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ResetPasswordPageTitle");
}

<div class="container container-mb container-mt container-mh">
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title.</h2>
        </div>
    </div>
    <div class="row">
        @{ Html.RenderPartial("_ResetPasswordForm", Model.ViewModel); }
    </div>
</div>
