﻿@model WebApp.Models.Views.Default.ViewModelHolder<WebApp.Models.SendCodeViewModel>
@{
    ViewBag.Title = "Send";
}

<h2>@ViewBag.Title.</h2>

@{ Html.RenderPartial("_SendCodeForm", Model.ViewModel); }
