﻿@model WebApp.Models.Views.Default.ViewModelHolder<WebApp.Models.VerifyCodeViewModel>
@{
    ViewBag.Title = "Verify";
}

<h2>@ViewBag.Title.</h2>

@{ Html.RenderPartial("_VerifyCodeForm", Model.ViewModel); }
