﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.PostForm
<form id="post-form" class="form-horizontal col-md-8" role="form" method="POST">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.CreatedDate)
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите заголовок" })
            @Html.EditorFor(m => m.TitleIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите заголовок на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Annottion, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Annottion, "TextArea", null, new { @class = "form-control", placeholder = "Введите аннотацию" })
            @Html.EditorFor(m => m.AnnottionIn, "TextArea", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите аннотацию на английском" })
            @Html.ValidationMessageFor(m => m.Annottion)
        </div>
    </div>
    <div class="form-group">
        <!-- объект Description не должен равен null. Иначе будет ошибка валидации на клиенте -->
        @Html.HiddenFor(m => m.Description.Id)
        @Html.LabelFor(m => m.Description.Content, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="tinymce-wrapper">
                @Html.EditorFor(m => m.Description.Content, "TextArea", new { @class = "form-control", placeholder = "Введите описание" })
            </div>
            <div class="tinymce-wrapper@(!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : "")">
                @Html.EditorFor(m => m.Description.ContentIn, "TextArea", new { @class = "form-control", placeholder = "Введите описание на английском" })
            </div>
            @Html.ValidationMessageFor(m => m.Description.Content)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LinkToExpertPost, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.LinkToExpertPost, "Text", null, new { @class = "form-control", placeholder = "Введите ссылку" })
            @Html.ValidationMessageFor(m => m.LinkToExpertPost)
        </div>
    </div>
    @Html.EditorFor(m => m.MainImageId, "MainImageFormGroup", null, new { folder = "Posts", ShowImageSettingsBtn = false })
    <div class="form-group">
        @Html.LabelFor(m => m.ProductIds, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="input-group">
                <input id="bind-product-input" type="text" value="" class=" form-control" placeholder="Привязать товар" data-product-id="0" />
                <span id="bind-product-btn" class="input-group-addon">
                    <span class="glyphicon glyphicon-floppy-disk" title="Привязать товар"></span>
                </span>
            </div>
            <div id="binding-products" class="binding-products">
                @{
                    var Products = (List<WebApp.Models.Views.ProductView>)ViewBag.Products;
                }
                @for (int i = 0; i < Model.ProductIds.Count; i++)
                {
                    <span id="binding-product-@Model.ProductIds[i]" class="binding-product js-binding-product" data-product-id="@Model.ProductIds[i]">
                        @Html.HiddenFor(m => m.ProductIds[i], new { @class = "js-binding-product-input" })
                        <span class="binding-product-title js-binding-product-title">@Products.Where(x => x.Id == Model.ProductIds[i]).Select(x => x.Title).FirstOrDefault()</span>
                        <span class="glyphicon glyphicon-remove js-unbind-product-btn"></span>
                    </span>
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Activate) @Html.DisplayNameFor(m => m.Activate)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.Activate)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="save-post-btn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="delete-post-btn" data-href="@Url.Action("Delete", "Posts", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>