﻿@model WebApp.Models.Views.Admin.PostCreateAdminPage
@{
    ViewBag.Title = "Добавление обзора";
    ViewBag.ActiveNavLink = "Posts";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{ Html.RenderPartial("_Edit", Model.PostForm, new ViewDataDictionary { ["Products"] = Model.Products });}
        </div>
    </div>
</div>