﻿@model WebApp.Models.Views.Admin.PostEditAdminPage
@{
    ViewBag.Title = "Редактирование обзора - " + Model.PostForm.Title;
    ViewBag.ActiveNavLink = "Posts";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{ Html.RenderPartial("_Edit", Model.PostForm, new ViewDataDictionary { ["Products"] = Model.Products });}
        </div>
    </div>
</div>

