﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.PostsListAdminPage
@{
    ViewBag.Title = "Обзоры";
    ViewBag.ActiveNavLink = "Posts";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-3" style="margin-top: 28px;">
            <a href="@Url.Action("Create", "Posts")">Добавить статью</a>
        </div>
    </div>
    @if (Model.Posts.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Ид</td>
                        <td>Название</td>
                        <td>Действия</td>
                    </tr>
                    @foreach (var n in Model.Posts)
                    {
                        <tr>
                            <td><a href="@(!string.IsNullOrEmpty(n.LinkToExpertPost) ? n.LinkToExpertPost : Url.Action("Show", "Posts", new { id = n.Id, area = "Default"}))">@n.Id</a></td>
                            <td>@n.Title</td>
                            <td><a href="@Url.Action("Edit", "Posts", new { id = n.Id })">Редактировать</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        if (Model.Pagination.LastPage > 1)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    @{ Html.RenderPartial("_Pagination", Model.Pagination); }
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет статей
            </div>
        </div>
    }
</div>
