﻿/* Переопределенные */
/* Формы */
.validation-summary-errors {
  color: #a94442;
}
.validation-summary-valid {
  display: none;
}
span.field-validation-error,
span.field-validation-error * {
  color: #a94442;
}
/* /Формы */
/* Breadcrumb */
.breadcrumb > li {
  display: inline;
}
/* /Breadcrumb */
/* dt list */
@media (min-width: 0) {
  .dl-horizontal dt {
    text-overflow: inherit;
    white-space: normal;
  }
}
.dl-horizontal dt.text-left {
  text-align: left;
}
.dl-horizontal dd {
  margin-bottom: 20px;
}
@media (min-width: 0) {
  .dl-horizontal dd {
    margin-left: 0;
  }
}
/* /dt list */
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 999;
  /* нужно чтоб shadowbox был слоем выше */
}
/* /Переопределенные */
/* Добавленные */
.thumbnail > a {
  display: block;
}
/* Формы */
fieldset {
  margin: 0;
}
legend {
  margin-bottom: 10px;
  font-size: 14px;
}
/* /Формы */
.col-no-padding {
  padding-left: 0;
  padding-right: 0;
}
.col-padding-10 {
  padding-left: 10px;
  padding-right: 10px;
}
/* /Добавленные */
/* Выпадающий каталог */
.dropdown-menu > li > a.nav-link-InfoShop {
  position: relative;
  white-space: normal;
}
.fa-angle-right-InfoShop {
  position: absolute;
  display: block;
  top: 5px;
  right: 16px;
}
.dropdown-InfoShop {
  width: 280px;
}
.dropdown-caret-InfoShop {
  position: absolute;
  right: 15px;
  top: 24px;
}
.dropdown-menu-InfoShop {
  width: 280px;
}
.dropdown-InfoShop:hover .dropdown-menu-InfoShop {
  /*display: block; !работает на js*/
}
.dropdown-InfoShop:hover .dropdown-caret-InfoShop {
  border-top-width: 0;
  border-bottom: 4px solid;
}
.list-group-InfoShop {
  display: inline-block;
}
.panel-default-InfoShop-nav-panel {
  width: 600px;
  margin-left: 278px;
  position: absolute;
  z-index: 1;
}
.panel-body-InfoShop-nav-panel {
  position: relative;
}
.list-group-item-InfoShop-nav-panel {
  position: relative;
  border-width: 0px;
  border-bottom-width: 1px;
  margin-bottom: 0px;
}
.list-group-item-InfoShop-nav-panel:last-child {
  border-radius: 0px;
}
/* /Выпадающий каталог */
/* Multiple Dropdown Menu http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3 */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
/* /Multiple Dropdown Menu */
/* jquery ui*/
.table-striped > tbody > tr:nth-child(odd) > td.ui-state-hover {
  background: #fdf5ce;
}
/* /jquery ui */
.center-center {
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}
.center-center:after {
  content: ".";
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0px;
}
.center-center > *:first-child {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.top-center {
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}
.top-center:after {
  content: ".";
  visibility: hidden;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 0px;
}
.top-center > *:first-child {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
/* Text break */
.text-break {
  word-break: break-word;
}
/*# sourceMappingURL=Common.css.map */