﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.ArticleForm
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "article-form", @class = "form-horizontal col-md-8" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.CreatedDate)
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", new { @class = "form-control", placeholder = "Введите заголовок" })
            @Html.EditorFor(m => m.TitleIn, "Text", new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите заголовок на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Annottion, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Annottion, "TextArea", new { @class = "form-control", placeholder = "Введите аннотацию" })
            @Html.EditorFor(m => m.AnnottionIn, "TextArea", new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите аннотацию на английском" })
            @Html.ValidationMessageFor(m => m.Annottion)
        </div>
    </div>
    <div class="form-group">
        <!-- объект Description не должен равен null. Иначе будет ошибка валидации на клиенте -->
        @Html.HiddenFor(m => m.Description.Id)
        @Html.LabelFor(m => m.Description.Content, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="tinymce-wrapper">
                @Html.EditorFor(m => m.Description.Content, "TextArea", new { @class = "form-control", placeholder = "Введите описание" })
            </div>
            <div class="tinymce-wrapper@(!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : "")">
                @Html.EditorFor(m => m.Description.ContentIn, "TextArea", new { @class = "form-control", placeholder = "Введите описание на английском" })
            </div>
            @Html.ValidationMessageFor(m => m.Description.Content)
        </div>
    </div>

    @Html.EditorFor(m => m, "ImagesFormGroupV2", new { folder = "News" })
    <div class="form-group">
        @Html.LabelFor(m => m.Position, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Position, "Text", new { @class = "form-control", placeholder = "Укажите позицию" })
            @Html.ValidationMessageFor(m => m.Position)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SectionId, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.SectionId, "Select", null, new { List = ViewBag.SectionsForSelectList, @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.SectionId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProductIds, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="form-control-loading" style="display: none;"></div>
            @Html.EditorFor(m => m.ProductIds, "Select", null, new { List = ViewBag.ProductTitlesForSelectList, nameExists = false, @class = "form-control" })
            <div id="productsHolder" class="edit-list-holder clearfix">
                @for (int i = 0; i < Model.ProductIds.Count; i++)
                {
                    <div id="productHolder@(Model.ProductIds[i].Value)" class="pull-left edit-item-holder js-product-holder" data-product-id="@Model.ProductIds[i].Value">
                        @Html.HiddenFor(m => m.ProductIds[i].Value, new { @class = "js-product-id" })
                        @Html.HiddenFor(m => m.ProductIds[i].Title, new { @class = "js-product-title" })
                        <span class="text-nowrap">@Model.ProductIds[i].Title</span>
                        <span class="glyphicon glyphicon-remove js-remove-product-holder-btn"></span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Active) @Html.DisplayNameFor(m => m.Active)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.Active)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="save-article-btn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="delete-article-btn" data-href="@Url.Action("Delete", "News", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
}
