﻿@model WebApp.Models.Views.Admin.ArticleCreateAdminPage
@{
    ViewBag.Title = "Добавление новости";
    ViewBag.ActiveNavLink = "News";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{
                Html.RenderPartial("_Edit", Model.ArticleForm, new ViewDataDictionary
                {
                    ["ProductTitlesForSelectList"] = Model.ProductTitlesForSelectList,
                    ["SectionsForSelectList"] = Model.SectionsForSelectList
                });
            }
        </div>
    </div>
</div>