﻿@model WebApp.Models.Forms.MailingForm
@{
    ViewBag.Title = "Рассылка писем пользователям InfoShop";
    ViewBag.ActiveNavLink = "Mailing";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @if (!ViewBag.IsReady)
            {
                using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mailingForm", @class = "form-horizontal col-md-8" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Subject, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.Subject, "Text", new { @class = "form-control", placeholder = "Введите тему письма" })
                            @Html.ValidationMessageFor(m => m.Subject)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Body, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.Body, "TextArea", new { @class = "form-control", placeholder = "Введите содержимое письма" })
                            @Html.ValidationMessageFor(m => m.Body)
                        </div>
                    </div>    
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.DoTest) @Html.DisplayNameFor(m => m.DoTest)
                                </label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.DoTest)
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="mailingSubmitBtn" type="submit" class="btn btn-default">Отправить</button>
                        </div>
                    </div>
                }
            }
            else
            {
                @: Рассылка закончена!
            }
        </div>
    </div>
</div>
