﻿@{
    ViewBag.Title = "Файлы приложения";
    ViewBag.ActiveNavLink = "ApplicationFiles";
}
<style>
    form {
        margin-top: 15px;
        border: 1px solid gray;
        border-radius: 4px;
        padding: 15px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" role="form" method="POST">
                <div class="form-group" data-callback-url="@Url.Action("AddServices", "Srvs", new { type = DomainLogic.Models.Enumerations.ServiceTypeEnum.Service1 })">
                    <label class="col-md-6 control-label">Загрузить список адресов СЦ "Service1"</label>
                    <div class="col-md-6">
                        <span id="loading" class="loading" style="display: none;"></span>
                        <input id="loadService1FileInp" type="file" name="file" class="js-load-file-inp"/>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" role="form" method="POST">
                <div class="form-group" data-callback-url="@Url.Action("AddServices", "Srvs", new { type = DomainLogic.Models.Enumerations.ServiceTypeEnum.Service2 })">
                    <label class="col-md-6 control-label">Загрузить список адресов СЦ "Service2"</label>
                    <div class="col-md-6">
                        <span id="loading" class="loading" style="display: none;"></span>
                        <input id="loadService2FileInp" type="file" name="file" class="js-load-file-inp" />
                    </div>
                </div>
            </form>
            <form class="form-horizontal" role="form" method="POST">
                <div class="form-group" data-callback-url="@Url.Action("AddServices", "Srvs", new { type = DomainLogic.Models.Enumerations.ServiceTypeEnum.Service3 })">
                    <label class="col-md-6 control-label">Загрузить список адресов СЦ "Service3"</label>
                    <div class="col-md-6">
                        <span id="loading" class="loading" style="display: none;"></span>
                        <input id="loadService3FileInp" type="file" name="file" class="js-load-file-inp" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
