﻿@model WebApp.Models.Views.Admin.HeaderPartialForAdmin
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <ul id="navbar-nav-admin" class="nav navbar-nav navbar-nav-admin">
            <li>
                <a href="@Url.Action("Index", "Home", new { area = "Default" })">
                    <img class="InfoShop-logo-img" src="@MvcApplication.UrlUtils.GetBaseUrl()Content/Styles/Images/InfoShop-logo.png" style="max-height: 17px;" />
                </a>
            </li>
            <li class="@(Model.ActiveNavLink == "Products" ? "active" : "")">
                <a href="@Url.Action("Index", "Products")">Товары</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Sections" ? "active" : "")">
                <a href="@Url.Action("Index", "Sections")">Разделы</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Filters" ? "active" : "")">
                <a href="@Url.Action("Index", "Filters")">Фильтры</a>
            </li>
            <li class="@(Model.ActiveNavLink == "ProductTypes" ? "active" : "")">
                <a href="@Url.Action("Index", "ProductTypes")">Изделия</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Files" ? "active" : "")">
                <a href="@Url.Action("Index", "Files")">Файлы</a>
            </li>
            <li class="@(Model.ActiveNavLink == "SupportArticles" ? "active" : "")">
                <a href="@Url.Action("Index", "SupportArticles")">Лента обновлений</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Faq" ? "active" : "")">
                <a href="@Url.Action("Index", "Faq")">Вопросы и ответы</a>
            </li>
            <li class="@(Model.ActiveNavLink == "News" ? "active" : "")">
                <a href="@Url.Action("Index", "News")">Новости</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Posts" ? "active" : "")">
                <a href="@Url.Action("Index", "Posts")">Обзоры</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Pages" ? "active" : "")">
                <a href="@Url.Action("Index", "Pages")">Страницы</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Partners" ? "active" : "")">
                <a href="@Url.Action("Index", "Partners")">Партнеры</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Srvs" ? "active" : "")">
                <a href="@Url.Action("Index", "Srvs")">Сервисные центры</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Vacancies" ? "active" : "")">
                <a href="@Url.Action("Index", "Vacancies")">Вакансии</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Resources" ? "active" : "")">
                <a href="@Url.Action("Index", "Resources")">Ресурсы</a>
            </li>
            <li class="@(Model.ActiveNavLink == "ApplicationFiles" ? "active" : "")">
                <a href="@Url.Action("ApplicationFiles", "Common")">Файлы приложения</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Mailing" ? "active" : "")">
                <a href="@Url.Action("Index", "Mailing")">Рассылка</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Users" ? "active" : "")">
                <a href="@Url.Action("Index", "Users")">Управление пользователем</a>
            </li>
            <li class="@(Model.ActiveNavLink == "Options" ? "active" : "")">
                <a href="@Url.Action("Index", "Options")">Настройки</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-right-InfoShop">
        </ul>
    </nav>
</div>