﻿@{
    var version = "version=3.3.8.3";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="@MvcApplication.UrlUtils.GetBaseUrl()Content/Styles/Images/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="@MvcApplication.UrlUtils.GetBaseUrl()Areas/Admin/Content/Styles/Site.css?@(version)" rel="stylesheet" />
</head>
<body>
    @{ Html.RenderPartial("_Header", new WebApp.Models.Views.Admin.HeaderPartialForAdmin { ActiveNavLink = ViewBag.ActiveNavLink }); }

    @RenderBody()

    <script>
        var baseUrl = "@MvcApplication.UrlUtils.GetBaseUrl()";
        var st0SiteHttpHost = "@(MvcApplication.St0SiteSettings.HttpHost)";
        var culture = "@(Request.RequestContext.RouteData.Values["culture"] ?? "ru")";
        var version = "@version";
        var isAllowLocalization = @MvcApplication.LocalizationSettings.IsAllowLocalization.ToString().ToLower();
        var jsRoute = "@ViewContext.RouteData.DataTokens["area"].ToString()_@ViewContext.RouteData.Values["controller"].ToString()_@ViewContext.RouteData.Values["action"].ToString()";
    </script>
    <script src="@MvcApplication.UrlUtils.GetBaseUrl()Content/Javascripts/require.js?@(version)"></script>
    <script src="@MvcApplication.UrlUtils.GetBaseUrl()Content/Javascripts/main.config.js?@(version)"></script>
</body>
</html>
