﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@model WebApp.Models.Views.SectionMenuItem
@foreach (var s in Model.Sections)
{
    <li class="@(s.Childs.Count > 0 ? "dropdown-submenu" : "")">
        <a @(s.Childs.Count > 0 ? "tabindex=\"-1\"" : "") href="@Url.Action(Model.Action, Model.Controller, new RouteValueDictionary { { "sectionId", s.Id } }.Extend(Model.Params))">@s.Title</a>
        @if (s.Childs.Count > 0)
        {
            <ul class="dropdown-menu">
                @{ Html.RenderPartial("_SectionsMenuItem", new WebApp.Models.Views.SectionMenuItem { Sections = s.Childs, Action = Model.Action, Controller = Model.Controller, Params = Model.Params });}
            </ul>
        }
    </li>
}