﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.SectionsMenu
<div class="form-group col-md-4">
    <input type="hidden" name="sectionId" value="@(Model.Section != null ? Model.Section.Id : 0)" />
    <div class="btn-group">
        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-target="#">
            @(Model.Section != null ? Model.Section.Title : "Выберите раздел") <span class="caret"></span>
        </a>
        <ul id="multi-level-menu" class="dropdown-menu multi-level" role="menu">
            <li>
                <a href="@Url.Action(Model.Action, Model.Controller, new RouteValueDictionary { { "sectionId", 0 } }.Extend(Model.Params))" style="border-radius: 3px;">--</a>
            </li>
            @{ Html.RenderPartial("_SectionsMenuItem", new WebApp.Models.Views.SectionMenuItem { Sections = Model.SectionsWC, Action = Model.Action, Controller = Model.Controller, Params = Model.Params });}
        </ul>
    </div>
</div>