﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.FileForm
@Html.ValidationSummary(true);
<form id="fileForm" class="form-horizontal col-md-8" role="form" method="POST">
    <input id="redirectToUrl" type="hidden" name="redirectToUrl" value="@ViewBag.RedirectToUrl" />
    <input id="productId" type="hidden" name="productId" value="@ViewBag.ProductId" />
    @Html.HiddenFor(m => m.CreatedDate)
    <div class="form-group">
        <label class="col-md-3 control-label">Загрузите файл</label>
        <div class="col-md-9">
            <span id="loading" class="loading" style="display: none;"></span>
            <span id="load-on-success" class="text-success" style="display: none;">Файл загружен</span>
            <input id="file" type="file" name="file" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExternalLink, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.ExternalLink, "Text", null, new { @class = "form-control", placeholder = "Введите внешнюю ссылку на файл" })
            @Html.ValidationMessageFor(m => m.ExternalLink)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите название файла" })
            @Html.EditorFor(m => m.TitleIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите название файла на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Description, "Text", null, new { @class = "form-control", placeholder = "Введите описание  файла" })
            @Html.EditorFor(m => m.DescriptionIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите описание файла на английском" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Version, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Version, "Text", null, new { @class = "form-control", placeholder = "Введите версию файла" })
            @Html.ValidationMessageFor(m => m.Version)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Filters, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <select class="form-control js-select-file-filter">
                @foreach (var selectListItem in ViewBag.FileFiltersForSelectList)
                {
                    <option value="@selectListItem.Value" @Html.Raw(selectListItem.Value.Equals(Model.Filters[0].ToString()) ? "selected=\"selected\"" : "")>@selectListItem.Text</option>
                }
            </select>
            <div id="select-file-filters-holder" class="edit-list-holder select-file-filters-holder clearfix" data-list="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.FileFiltersForSelectList)">
                @for (var i = 0; i < Model.Filters.Count; i++)
                {
                    var item = (ViewBag.FileFiltersForSelectList as List<SelectListItem>).FirstOrDefault(x => x.Value.Equals(Model.Filters[i].ToString()));
                    <div id="select-file-filter-holder-@item.Value" class="pull-left edit-item-holder select-file-filter-holder js-select-file-filter-holder" data-file-filter="@item.Value">
                        @Html.HiddenFor(m => m.Filters[i])
                        <span class="text-nowrap">@item.Text</span>
                        <span class="glyphicon glyphicon-remove js-remove-select-file-filter-btn"></span>
                    </div>
                }
            </div>
            @Html.ValidationMessageFor(m => m.Filters)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FileSize, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.FileSize, "Text", null, new { @class = "form-control", placeholder = "Введите размер файла в байтах" })
            @Html.ValidationMessageFor(m => m.FileSize)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.DisplayWithSameSection) @Html.DisplayNameFor(m => m.DisplayWithSameSection)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.DisplayWithSamePlatform)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.DisplayWithSamePlatform) @Html.DisplayNameFor(m => m.DisplayWithSamePlatform)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.DisplayWithSamePlatform)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="saveFileBtn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="deleteFileBtn" data-href="@Url.Action("DeleteFile", "Files", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>
