﻿@model WebApp.Models.Views.Admin.CreateFileAdminPage
@{
    ViewBag.Title = "Добавление файла";
    ViewBag.ActiveNavLink = "Files";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{
                Html.RenderPartial("_EditFile", Model.FileForm,
                    new ViewDataDictionary
                    {
                        ["FileFiltersForSelectList"] = Model.FileFiltersForSelectList,
                        ["ProductId"] = Model.ProductId,
                        ["RedirectToUrl"] = Model.RedirectToUrl
                    });
            }
        </div>
    </div>
</div>
