﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.FilesAdminPage
@{
    ViewBag.Title = "Файлы";
    ViewBag.ActiveNavLink = "Files";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <form id="filter" role="form">
                <div class="form-group col-md-4">
                    @Html.EditorFor(m => m.SectionId, "Select", new { List = Model.SectionsForSelectList, @class = "form-control" })
                </div>
                <div class="form-group col-md-4">
                    @Html.EditorFor(m => m.ProductId, "Select", new { List = Model.ProductTitlesForSelectList, @class = "form-control", onchange = "document.getElementById('filter').submit();" })
                </div>
                <div class="form-group">
                    @if (Model.ProductId > 0)
                    {
                        @:&nbsp;&nbsp;&nbsp;&nbsp; <a href="@Url.Action("CreateFile", "Files", new { productId = Model.ProductId })">Создать новый файл</a>
                    }
                </div>
            </form>
        </div>
    </div>
    @if (Model.Files.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h4>Файлы <span class="badge">@Model.Files.Count()</span></h4>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Код</td>
                        <td>Описание</td>
                        <td>Размер файла (байт)</td>
                        <td>Добавлено</td>
                        <td>Действия</td>
                    </tr>
                    @foreach (var d in Model.Files)
                    {
                        <tr>
                            <td>@d.Id</td>
                            <td>@d.Title</td>
                            <td>@d.FileSize</td>
                            <td>@d.CreatedDate.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (Model.ProductId > 0)
                                {
                                    <a href="@Url.Action("EditFile", "Files", new { id = d.Id, productId = Model.ProductId })">Редактировать</a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет файлов
            </div>
        </div>
    }
</div>