﻿@model WebApp.Models.Views.Default.HowToGetJobPage
@{
    Layout = "~/Areas/Default/Views/Shared/_VacanciesBodyLayout.cshtml";
    ViewBag.Title = Model.Page?.Title ?? MvcApplication.ResourceProvider.ReadResource("Resources.HomeRes.HomePageTitle");
}
@if (Model.Page != null)
{
    if (Model.Page.Title != null)
    {
        <h2>@Model.Page.Title</h2>
    }
    if (Model.Page.Description != null)
    {
        @Html.Raw(Model.Page.Description.Content)
    }
    if (!Model.IsCreatedResume)
    {
        <p>
            @{ Html.RenderPartial("~/Areas/Default/Views/Resumes/Index.cshtml", Model.ResumeForm);}
        </p>
    }
    else
    {
        <p>
            <b>Ваша анкета была успешно отправлена!</b>
        </p>
    }
}
else
{
    <div class="container container-mh container-mt">
        <div class="row">
            <div class="col-xs-12">
                <h4>@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.PageIsNotCreated")</h4>
            </div>
        </div>
    </div>
}
