﻿@model WebApp.Models.Views.Default.VacancyShowPage
@{
    Layout = "~/Areas/Default/Views/Shared/_VacanciesBodyLayout.cshtml";
    ViewBag.Title = Model.Vacancy.Title;
}
<h2>@Model.Vacancy.Title</h2>
<dl class="dl-horizontal">
    <dt class="text-left">Адрес:&nbsp;</dt>
    <dd>@Model.Vacancy.Address</dd>
    <dt class="text-left">Занятость:&nbsp;</dt>
    <dd>@Model.Vacancy.Employment</dd>
    <dt class="text-left">Обязанности:&nbsp;</dt>
    <dd>
        @Html.Raw(Model.Vacancy.Duties)
    </dd>
    <dt class="text-left">Образование:&nbsp;</dt>
    <dd>@Model.Vacancy.Education</dd>
    <dt class="text-left">Опыт:&nbsp;</dt>
    <dd>@Model.Vacancy.Experience</dd>
    <dt class="text-left">Доп. требования:&nbsp;</dt>
    <dd>
        @Html.Raw(Model.Vacancy.AdditionalRequirements)
    </dd>
    <dt class="text-left">Зарплата:&nbsp;</dt>
    <dd>@Model.Vacancy.Salary</dd>
    <dt class="text-left">E-mail:&nbsp;</dt>
    <dd><a href="mailto:@Model.Vacancy.Email">@Model.Vacancy.Email</a></dd>
</dl>
<p>
    @Html.Raw((!string.IsNullOrEmpty(Model.Vacancy.WorkingConditions) ? Model.Vacancy.WorkingConditions : ""))
</p>
<p>
    Для того чтобы более подробно ознакомиться с процессом подбора, обращайтесь в раздел <a href="@Url.Action("HowToGetJob", "Vacancies")" class="link-d">«Как к нам попасть»</a>.
</p>
