﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.UserInfoPage
@{
    ViewBag.Title = "Управление пользователем";
    ViewBag.ActiveNavLink = "Users";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="form-group col-md-6" style="margin-top: 22px;">
            <form id="search">
                <input name="email" value="@Model.Email" class="form-control" onchange="document.getElementById('search').submit();" placeholder="Введите e-mail пользователя" />
            </form>
        </div>
    </div>
    @if (Model.User != null)
    {
        <div class="row">
            <div class="col-xs-12">
                <dl>
                    @if (!string.IsNullOrEmpty(Model.User.FullName))
                    {
                        <dt>Имя пользователя:</dt>
                        <dd>@Model.User.FullName</dd>
                    }
                    <dt>Электронный адрес:</dt>
                    <dd>@Model.User.Email</dd>
                    <dt>Роли: </dt>
                    <dd>
                        @foreach (var r in Model.RolesForSelectList)
                        {
                            if (!Model.UserRoles.Contains(r.Value))
                            {
                                continue;
                            }
                            <span>
                                @r.Text &nbsp;
                                <a href="@Url.Action("RemoveRole", new { email = Model.User.Email, role = r.Value })">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>&nbsp; &nbsp;
                            </span>
                        }
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Добавить роль пользователю</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form method="post" action="@Url.Action("AddRole")">
                    <input type="hidden" name="email" value="@Model.User.Email" />
                    <div class="form-group">
                        <select name="role" class="form-control">
                            @foreach (var r in Model.RolesForSelectList)
                            {
                                if (Model.UserRoles.Contains(r.Value))
                                {
                                    continue;
                                }
                                <option value="@r.Value">@r.Text</option>
                            }
                        </select>
                    </div>
                    <button class="btn btn-default">Добавить роль</button>
                </form>
            </div>
        </div>
    }
</div>