﻿@model WebApp.Models.Views.Default.PartnersListPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.PartnersRes.PartnersListPageTitle");
}
<div class="container  container-mh  container-mt">
    <div class="row">
        <div class="col-md-12">
            <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.PartnersRes.PartnersListPageTitle")</h2>
        </div>
    </div>
    @if (Model.Partners.Count > 0)
    {
        <div class="row products">
            @foreach (var p in Model.Partners)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a class="center-center" href="@p.LinkToPartner">
                            <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Partners/normal/@(p.MainImageId).jpg" alt="" />
                        </a>
                        <div class="caption">
                            <p>
                                <a href="@p.LinkToPartner" title="@p.Title">
                                    @p.Title
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        if (Model.Pagination.LastPage > 1)
        {
            <div class="row">
                <div class="col-xs-12 text-center">
                    @{ Html.RenderPartial("_Pagination", Model.Pagination); }
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                @MvcApplication.ResourceProvider.ReadResource("Resources.PartnersRes.PartnersListEmpty")
            </div>
        </div>
    }
</div>