﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.PartnerForm
<form id="partner-form" class="form-horizontal col-md-8" role="form" method="POST">
    @Html.ValidationSummary(true)
    <input type="hidden" name="redirectToUrl" value="@ViewBag.RedirectToUrl" />
    @Html.HiddenFor(m => m.CreatedDate)
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите заголовок" })
            @Html.EditorFor(m => m.TitleIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите заголовок на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LinkToPartner, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.LinkToPartner, "Text", null, new { @class = "form-control", placeholder = "Введите ссылку" })
            @Html.ValidationMessageFor(m => m.LinkToPartner)
        </div>
    </div>
    @Html.EditorFor(m => m.MainImageId, "MainImageFormGroup", null, new { folder = "Partners", ShowImageSettingsBtn = false })
    <div class="form-group">
        @Html.LabelFor(m => m.Position, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Position, "Text", null, new { @class = "form-control", placeholder = "Порядковый номер партнера" })
            @Html.ValidationMessageFor(m => m.Position)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="save-partner-btn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="delete-partner-btn" data-href="@Url.Action("Delete", "Partners", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>