﻿@model WebApp.Models.Views.Admin.PartnerCreateAdminPage
@{
    ViewBag.Title = "Добавление партнера";
    ViewBag.ActiveNavLink = "Partners";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{ Html.RenderPartial("_Edit", Model.PartnerForm, new ViewDataDictionary { ["RedirectToUrl"] = Model.RedirectToUrl });}
        </div>
    </div>
</div>