﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.PartnersListAdminPage
@{
    ViewBag.Title = "Партнеры";
    ViewBag.ActiveNavLink = "Partners";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-3" style="margin-top: 28px;">
            <a href="@Url.Action("Create", "Partners")">Добавить партнера</a>
        </div>
    </div>
    @if (Model.Partners.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Ид</td>
                        <td title="Порядковый номер партнера">П</td>
                        <td>Название</td>
                        <td>Действия</td>
                    </tr>
                    @foreach (var p in Model.Partners)
                    {
                        <tr>
                            <td>@p.Id</td>
                            <td>@(p.Position != Int32.MaxValue ? p.Position.ToString() : "")</td>
                            <td>@p.Title</td>
                            <td><a href="@Url.Action("Edit", "Partners", new { id = p.Id })">Редактировать</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        if (Model.Pagination.LastPage > 1)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    @{ Html.RenderPartial("_Pagination", Model.Pagination); }
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет партнеров
            </div>
        </div>
    }
</div>
