﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.PageForm
<form id="page-form" class="form-horizontal col-md-8" role="form" method="POST">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.CreatedDate)
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите заголовок" })
            @Html.EditorFor(m => m.TitleIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите заголовок на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        <!-- объект Description не должен равен null. Иначе будет ошибка валидации на клиенте -->
        @Html.HiddenFor(m => m.Description.Id)
        @Html.LabelFor(m => m.Description.Content, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="tinymce-wrapper">
                @Html.EditorFor(m => m.Description.Content, "TextArea", new { @class = "form-control", placeholder = "Введите описание" })
            </div>
            <div class="tinymce-wrapper@(!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : "")">
                @Html.EditorFor(m => m.Description.ContentIn, "TextArea", new { @class = "form-control", placeholder = "Введите описание на английском" })
            </div>
            @Html.ValidationMessageFor(m => m.Description.Content)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Name, "Text", null, new { @class = "form-control", placeholder = "Введите название страницы" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Layout, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Layout, "Text", null, new { @class = "form-control", placeholder = "Введите шаблон страницы" })
            @Html.ValidationMessageFor(m => m.Layout)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NavLinkName, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.NavLinkName, "Text", null, new { @class = "form-control", placeholder = "Введите имя активной ссылки в главном меню" })
            @Html.ValidationMessageFor(m => m.NavLinkName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="save-page-btn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="delete-page-btn" data-href="@Url.Action("Delete", "Pages", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>