﻿@model WebApp.Models.Views.Admin.PageCreateAdminPage
@{
    ViewBag.Title = "Добавление страницы";
    ViewBag.ActiveNavLink = "Pages";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{ Html.RenderPartial("_Edit", Model.PageForm);}
        </div>
    </div>
</div>