﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@model WebApp.Models.Views.Default.BeforeBody
@{
    List<WebApp.Models.Views.SectionView> sections = Model.Sections.Where(x => !x.Hidden).ToList();
}
@if (sections.Count > 0)
{
    <div class="row">
        @{
            IEnumerable<IEnumerable<WebApp.Models.Views.SectionView>> sectionsGroup = sections.Chunk((int)Math.Ceiling((double)sections.Count / 3));
            foreach (var g in sectionsGroup)
            {
                <div class="col-md-4">
                    <div class="list-group">
                        @foreach (var s in g)
                        {
                            var routeValues = new RouteValueDictionary(new Dictionary<string, object> { { "action", "Index" }, { "controller", "Products" }, { "sectionName", s.Name } });
                            if (Model.Archive)
                            {
                                routeValues.Extend(new Dictionary<string, object> { { "Archive", "True" } });
                            }
                            <a class="list-group-item" href="@Url.Action("Index", "Products", routeValues)">@s.Title</a>
                        }
                    </div>
                </div>
            }
        }
    </div>
}
