﻿@model WebApp.Models.Views.CompareProductsBtn
<a href="@Url.Action("Compare", "Products", new { sectionId = Model.SectionId })" id="compareProductsBtn" class="btn btn-default compare-products-btn @(Model.ProductsAmountInComparison == 0 ? "hidden" : "")" data-section-id="@Model.SectionId">
    <i class="fa fa-bar-chart"></i>
    <span id='compareProductsAmount' class='compare-products-amount'>
        @Html.Raw(SmartFormat.Smart.Format(
                          System.Threading.Thread.CurrentThread.CurrentCulture,
                          MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.CompareProductsLink"),
                          (int)Model.ProductsAmountInComparison,
                          (int)Model.ProductsAmountInComparison
              ))
    </span>

</a>