﻿@model WebApp.Models.Views.CompareProductBtn
<a id="compareProductBtn@(Model.ProductId)"
   class="btn btn-default compare-product-btn @(Model.ProductInComparison ? "active" : "") js-compare-product-btn"
   title="@(Model.ProductInComparison
       ? @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RemoveProductFromComparisionLink")
       : @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.AddProductToComparisionLink"))">
    <i class="fa fa-bar-chart"></i>
    <span id="compareProductBtnText@(Model.ProductId)">
        @(Model.ProductInComparison
                ? @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RemoveProductFromComparisionLink")
                : @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.AddProductToComparisionLink"))
    </span>
</a>