﻿@model WebApp.Models.Views.Default.ProductImagesArchiveLink
@if (Model.IsProductImagesArchiveLinkShowed)
{
    <br />
    <a class="ordinal" href="@Url.Action("ProductImagesAsZipArchive", "Products", new { id = Model.ProductId })">Скачать архив с картинками</a>
}
