﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@model WebApp.Models.Views.ProductView
@{
    var routeValues = new RouteValueDictionary(new Dictionary<string, object> { { "productId", Model.Id }, { "productName", Model.Name } });
    if (Model.Archive)
    {
        routeValues.Extend(new Dictionary<string, object> { { "Archive", "True" } });
    }
}
<tr class="js-product-holder" data-product-id="@Model.Id">
    <td>@Model.Code</td>
    <td>
        <a class="center-center" href="@Url.Action("Show", "Products", routeValues)">
            <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Products/min/@(Model.MainImageId).jpg" alt="" />
        </a>
    </td>
    <td>
        <a class="link-d" href="@Url.Action("Show", "Products", routeValues)">@Model.Title</a><br />
        @Model.ShortFeatures
    </td>
    <td>
        <span title="@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RrpTitle")">
            @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RrpAbr")*: @Model.Price.ToString("F0")
            <span>&nbsp;</span>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RUR")
        </span>
    </td>
    <td>
        @Html.Action("CompareProductBtn", "Products", new { productId = Model.Id })
    </td>
</tr>
