﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@model WebApp.Models.Views.ProductView
@{
    var routeValues = new RouteValueDictionary(new Dictionary<string, object> { { "productId", Model.Id }, { "productName", Model.Name } });
    if (Model.Archive)
    {
        routeValues.Extend(new Dictionary<string, object> { { "Archive", "True" } });
    }
}
<div id="productHolder@(Model.Id)" class="thumbnail js-product-holder" data-product-id="@Model.Id" data-section-id="@Model.SectionId">
    <a class="@(Model.MainImageK < 1 ? "-pull-right" : "") center-center" href="@Url.Action("Show", "Products", routeValues)">
        <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Products/normal/@(Model.MainImageId).jpg" alt="" />
    </a>
    <div class="caption">
        <p class="product-title">
            <a href="@Url.Action("Show", "Products", routeValues)" title="@Model.Title @Model.ShortFeatures">
                @Model.Title @Model.ShortFeatures
            </a>
        </p>
        <p class="product-price">
            @if (Model.Price > 0)
            {
                <span title="@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RrpTitle")">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RrpAbr")*: @Model.Price.ToString("F0")
                    <span>&nbsp;</span>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RUR")
                </span>
            }
            @{ Html.RenderPartial("_ThCompareProductBtn", Model.CompareProductBtn); }
        </p>
    </div>
</div>