﻿@using DomainLogic.Models.Enumerations
@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Default.SidebarView
@{
    List<WebApp.Models.Views.SectionView> sections = Model.Sections.Where(x => !x.Hidden).ToList();
    var routeValues = new RouteValueDictionary();
    if (Model.Archive)
    {
        routeValues.Add("Archive", "True");
    }
    if (!Model.SortType.Equals("Title"))
    {
        routeValues.Add("SortType", Model.SortType);
    }
    if (Model.GroupType != null && Model.GroupType.Equals("PathOfSections"))
    {
        routeValues.Add("GroupType", Model.GroupType);
    }
    if (Model.SelectType > 0)
    {
        routeValues.Add("SelectType", Model.SelectType);
    }
    if (Model.ViewType != null)
    {
        routeValues.Add("ViewType", Model.ViewType);
    }
    if (Model.Price != null && Model.Price.Length == 2)
    {
        routeValues.Add("Price", string.Join(",", Model.Price));
    }
}
@helper ArchiveLink()
    {
        <div class="archive">
            @if (!Model.Archive)
            {
                <a href="@Url.RouteUrl(null, new { action = "Index", controller = "Products", sectionName = Model.ActiveSection != null ? Model.ActiveSection.Name : null, Archive = true })">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.GoToArchive")
                </a>

            }
            else
            {
                <a href="@Url.RouteUrl(null, new { action = "Index", controller = "Products", sectionName = Model.ActiveSection != null ? Model.ActiveSection.Name : null })">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.GoToCatalog")
                </a>
            }
        </div>
}
@if (sections.Count > 0)
{
    <div class="row">
        <div class="list-group catalog-sections clearfix">
            @foreach (var s in sections)
            {
                <div class="col-lg-12 col-md-4 col-sm-6">
                    <a href="@Url.Action("Index", "Products", routeValues.Extend(new Dictionary<string, object> { { "sectionName", s.Name } }))" class="list-group-item @(Model.ActiveSection != null && s.Id == Model.ActiveSection.Id ? "active" : "")">
                        @s.Title
                    </a>
                </div>
            }
        </div>
    </div>
}
<div class="row">
    <div class="hidden-xs hidden-sm hidden-md col-lg-12">
        @ArchiveLink()
    </div>
</div>
@if (Model.ActiveSection != null && Model.Filters.Count > 0)
{
    <div class="row catalog-filters">
        <div class="col-xs-12">
            <button id="show-filters-btn" class="btn btn-primary show-filters-btn col-xs-12">
                @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ShowFilters")
            </button>
            <button id="hide-filters-btn" class="btn btn-primary hide-filters-btn col-xs-12">
                @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.HideFilters")
            </button>
        </div>
        <form id="filters" role="form" class="clearfix">
            <input type="hidden" name="sectionName" value="@Model.ActiveSection.Name" />
            @if (Model.Archive)
            {
                <input type="hidden" name="Archive" value="True" />
            }
            @if (!Model.SortType.Equals("Title"))
            {
                <input type="hidden" name="SortType" value="@Model.SortType" />
            }
            @if (Model.GroupType != null)
            {
                <input type="hidden" name="GroupType" value="@Model.GroupType" />
            }
            @if (Model.SelectType > 0)
            {
                <input type="hidden" name="SelectType" value="@Model.SelectType" />
            }
            @if (Model.ViewType != null)
            {
                <input type="hidden" name="ViewType" value="@Model.ViewType" />
            }
            @if (Model.Price != null && Model.Price.Length == 2)
            {
                <input type="hidden" name="Price" value="@string.Join(",", Model.Price)" />
            }
            @foreach (var f in Model.Filters)
            {
                // -- -- --
                <fieldset class="col-lg-12 col-md-4 col-sm-6 form-group-holder catalog-@f.Type.ToString().ToLower()-filter ">
                    <legend class="autosubmit-processing-holder">
                        @(f.Title)@(!string.IsNullOrEmpty(f.Unit) ? ", " + f.Unit : "")
                    </legend>
                    <div class="form-group clearfix" data-type="@f.Type.ToString().ToLower()">
                        @if (f.Type == FilterTypeEnum.Checkbox)
                        {
                            <div class="multiselect-holder">
                                <div class="btn-group" style="width: 100%;">
                                    <a class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="металл" style="width: 100%; overflow: hidden; text-overflow: ellipsis;">
                                        <span class="multiselect-selected-text">@f.GetValuesTitle()</span> <b class="caret"></b>
                                    </a>
                                    <ul class="multiselect-container dropdown-menu" style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
                                        @foreach (var v in f.Values)
                                        {
                                            var checkboxChecked = f.IsValueChecked(v);
                                            <li class="@(!string.IsNullOrEmpty(checkboxChecked) ? "active" : "")">
                                                <a>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="@f.Name" value="@v.Id" @checkboxChecked data-title="@v.Title"> @v.Title
                                                    </label>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                        else if (f.Type == FilterTypeEnum.Radio)
                        {
                            foreach (var v in f.Values)
                            {
                                var radioChecked = f.IsValueChecked(v);
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="@f.Name" value="@v.Id" @radioChecked /> @v.Title
                                    </label>
                                </div>
                            }
                        }
                        else if (f.Type == FilterTypeEnum.Select)
                        {
                            <select class="form-control" name="@f.Name">
                                <option value="NaN">--</option>
                                @foreach (var v in f.Values)
                                {
                                    var optionSelected = f.IsValueSelected(v);
                                    <option value="@v.Id" @optionSelected>@v.Title</option>
                                }
                            </select>
                        }
                        else if (f.Type == FilterTypeEnum.Range)
                        {
                            string[] vals = f.GetRangeValues();
                            <div class="col-xs-6">
                                <input type="text" name="@f.Name" class="form-control" placeholder="@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.From")" value="@vals[0]" />
                            </div>
                            <div class="col-xs-6">
                                <input type="text" name="@f.Name" class="form-control" placeholder="@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.To")" value="@vals[1]" />
                            </div>
                        }
                    </div>


                </fieldset>
            }

            @*<div class="form-group catalog-filters-submit-btn col-lg-12 col-lg-offset-0 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3  clearfix">
                    <button type="submit" class="btn btn-primary col-xs-12">@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.Find")</button>
                </div>*@
        </form>
    </div>  }
@{
    var defaultRouteName = (Request.RequestContext.RouteData.Values["culture"] != null ? "Culture" : "") + "Default";
}
<div class="row">
    <div class="hidden-lg col-sm-6 col-xs-12">
        @ArchiveLink()
    </div>

    @if (Model.ActiveSection != null && Model.Filters.Count > 0 && !Model.Archive)
    {
        <div class="col-lg-12 col-sm-6 hidden-xs">
            <div class="excel-price">
                <button class="btn btn-link" onclick="location.href='@Url.Action("InfoShopProductsInExcel", "Products", new { sectionId = Model.ActiveSection.Id })'">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.DownloadPriceListLink")
                </button>
            </div>
        </div>
        <div class="col-lg-12 hidden-md hidden-sm hidden-xs">
            <div class="pdf-presentation">
                <button class="btn btn-link" onclick="location.href='@Url.Action("Presentation", "Products", new { sectionId = Model.ActiveSection.Id })'">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.DownloadPresentationLink")
                </button>
            </div>
        </div>
    }
</div>
