﻿@model WebApp.Models.Views.CompareProductBtn
<a id="compareProductBtn@(Model.ProductId)" 
   class="th-compare-product-btn @(Model.ProductInComparison ? "active" : "") js-compare-product-btn" 
   title="@(Model.ProductInComparison 
       ? @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RemoveProductFromComparisionLink") 
       : @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.AddProductToComparisionLink"))">
    <i class="fa fa-bar-chart"></i>
</a>