﻿@model WebApp.Models.Views.Default.CatalogPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsPageTitle");
}
<div class="container container-mt container-mb">
    <div class="row">
        <div class="col-xs-12">
            <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.CatalogPageTitle")</h2>
        </div>
    </div>
    @foreach (var l1 in Model.Sections)
    {
        <div class="catalog-section-level1">
            <div class="row">
                <div class="col-md-4">
                    <a href="@Url.Action("Index", "Products", new { sectionName = l1.Name})" class="catalog-section-level1-image-link">
                        <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Sections/normal/@(l1.MainImageId).jpg" />
                    </a>
                    <a class="catalog-section-level1-link" href="@Url.Action("Index", "Products", new { sectionName = l1.Name})">@l1.Title</a>
                </div>
                <div class="col-md-4">
                    @foreach (var l2 in l1.Childs)
                    {
                        <div class="catalog-section-level2">
                            <a class="catalog-section-level2-link" href="@Url.Action("Index", "Products", new { sectionName = l2.Name})">@l2.Title</a>
                            <div class="catalog-sections-level3">
                                @foreach (var l3 in l2.Childs)
                                {
                                    <a class="catalog-section-level3-link" href="@Url.Action("Index", "Products", new { sectionName = l3.Name})">@l3.Title</a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>