﻿@model WebApp.Models.Views.Default.CompareProductsPage
@{
    ViewBag.Title = "Сравнение товаров из категории " + Model.Section.Title;
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.CompareProductsPageTitle")
                <a class="link -d" href="@Url.Action("Index", "Products", new { sectionName = Model.Section.Name })">@Model.Section.Title</a>
            </h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9 products compare-products">
            @foreach (var p in Model.Products)
            {
                <div class="col-xs-6 col-sm-3 js-compare-product-col">
                    @{ Html.RenderPartial("_Product", p); }
                </div>
            }
        </div>
    </div>
</div>
<div id="productsComparison" class="container container-mh container-mb" 
     data-views-res="@Html.Raw(MvcApplication.ResourceProvider.ReadResourcesAsJson("ViewsRes"))"
     data-products-res="@Html.Raw(MvcApplication.ResourceProvider.ReadResourcesAsJson("ProductsRes"))">
    <div class="row">
        <div id="compareProductAttributes" class="col-xs-12 product-attributes compare-product-attributes">
            @if (Model.Products.Count > 0)
            {
                // отсортируем по группам
                foreach (var group in Model.Products[0].Section.FiltersGroups)
                {
                    var attrs = Model.Products[0].GetAttributes(group.Filters);
                    //
                    <div class="dl-wraper">
                        <h5>@group.Title</h5>
                        @for (var i = 0; i < attrs.Count; i++)
                        {
                            var different = Model.Products[0].Different(attrs[i], Model.Products);
                            <dl class="dl-horizontal  @(different ? "different" : "similar") @(Model.Products[0].Model == attrs[i] ? "hidden-xs hidden-sm" : "") clearfix" style="">
                                <dt class="text-left col-sm-4 col-md-3" title="@attrs[i].Filter.Title">@attrs[i].Filter.Title</dt>
                                <dd class="col-sm-8 col-md-9 @(Model.Products[0].Model == attrs[i] ? "hidden-xs hidden-sm" : "")">
                                    @foreach (var p in Model.Products)
                                    {
                                        <div class="col-md-3 product-attribute js-product-attribute js-product-attribute-@(p.Id)">
                                            <b class="hidden-md hidden-lg text-14-75 product-model">@(p.Model != null && p.Model.Values.Count > 0 ? p.Model.Values[0].Value.Title : System.Text.RegularExpressions.Regex.Replace(p.Title, @"[а-яА-Я]+", "")): &nbsp;&nbsp;&nbsp;</b>
                                            <span>@p.GetAttributeByFilterId(attrs[i].FilterId).GetValuesAsString()</span>
                                        </div>
                                    }
                                </dd>
                            </dl>
                        }

                    </div>
                }
            }
            else
            {
                <span>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.CompareProductsListEmpty")</span>
            }
        </div>
    </div>
</div>