﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Default.ProductListPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsPageTitle");
    Layout = "~/Areas/Default/Views/Shared/_CatalogBodyLayout.cshtml";
}
@helper RenderSectionHeader(string Title)
    {
        <div class="row">
            <div class="col-xs-12">
                <h3>
                    @(Model.Archive ? MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.Archive") + ":" : "") @Title
                </h3>
            </div>
        </div>
}
<div class="products" data-products-res="@Html.Raw(MvcApplication.ResourceProvider.ReadResourcesAsJson("ProductsRes"))">
    @if (Model.Banner != null)
    {
        <div class="row">
            <div class="col-xs-12">
                <a href="@Model.Banner.ExternalLink">
                    <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Sections/@(Model.Banner.Id).jpg" style="max-width:100%;margin-bottom: 30px;" />
                </a>
            </div>
        </div>
    }

    @RenderSectionHeader(Model.ActiveSection != null
                                    ? Model.ActiveSection.Title
                                    : MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.CatalogPageTitle"))

    <div class="row">
        <form id="sortTypeForm">
            @if (Model.ActiveSection != null)
            {
                <input type="hidden" name="sectionName" value="@Model.ActiveSection.Name">
            }
            @foreach (var p in Model.ParamsForSortTypeForm)
            {
                <input type="hidden" name="@p.Key" value="@p.Value">
            }
            <div class="col-md-3 form-group-holder">
                <div class="form-group" data-type="select">
                    @Html.LabelFor(m => m.GroupType, new { @class = "control-label autosubmit-processing-holder" })
                    @Html.EditorFor(m => m.GroupType, "Select", new { List = Model.GroupTypesForSelectList, @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2 form-group-holder">
                <div class="form-group" data-type="select">
                    @Html.LabelFor(m => m.SelectType, new { @class = "control-label autosubmit-processing-holder" })
                    @Html.EditorFor(m => m.SelectType, "Select", new { List = Model.SelectTypesForSelectList, @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3 form-group-holder">
                <div class="form-group" data-type="select">
                    @Html.LabelFor(m => m.SortType, new { @class = "control-label autosubmit-processing-holder" })
                    @Html.EditorFor(m => m.SortType, "Select", new { List = Model.SortTypesForSelectList, @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2 form-group-holder">
                <div class="form-group" data-type="range">
                    @Html.LabelFor(m => m.Price, new { @class = "control-label autosubmit-processing-holder" })
                    <div class="row">
                        <div class="col-xs-6" style="padding-right: 5px;">
                            @Html.EditorFor(m => m.PriceField[0].Value, "Text", new
                            {
                                name = "Price",
                                @class = "form-control",
                                @placeholder = @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductListFilterPriceFrom"),
                                nullIfValue = "0"
                            })
                        </div>
                        <div class="col-xs-6" style="padding-left: 5px;">
                            @Html.EditorFor(m => m.PriceField[1].Value, "Text", new
                            {
                                name = "Price",
                                @class = "form-control",
                                @placeholder = @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductListFilterPriceTo"),
                                nullIfValue = "0"
                            })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 form-group-holder" data-need-submit-straight="true">
                @Html.LabelFor(m => m.ViewType, new { @class = "control-label" })
                <div class="form-group" data-type="radio">
                    @Html.EditorFor(m => m.ViewType, "ButtonList", new { List = Model.ViewTypesForSelectList })
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (Model.ActiveSection != null)
            {
                Html.RenderPartial("_CompareProductsBtn", Model.CompareProductsBtn);
            }

        </div>
    </div>
    @if (Model.ParamsForCancelForm.Count > 0)
    {
        <div class="row" style="margin-bottom: 15px;">
            <form id="filterParamsForCancelForm">
                <div class="col-xs-12">
                    <h5>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.FilterParamsCaption")</h5>
                    @for (var i = 0; i < Model.ParamsForCancelForm.Count; i++)
                    {
                        <span class="filter-param js-filter-param">
                            @Html.EditorFor(m => m.ParamsForCancelForm[i].Value, "Hidden", new { name = Model.ParamsForCancelForm[i].Name })
                            <span class="filter-param-title js-filter-param-title">@Model.ParamsForCancelForm[i].Text</span>
                            <span class="glyphicon glyphicon-remove js-delete-filter-param-btn"></span>
                        </span>
                    }
                </div>
            </form>
        </div>
    }
    @if (Model.ViewType.ToLower().Equals("list"))
    {
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-header">
                            <th colspan="2">@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsTableCodeCaption")</th>
                            <th>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsTableNameCaption")</th>
                            <th>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsTablePriceCaption")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model.GroupsOfProducts)
                        {
                            if (!string.IsNullOrEmpty(Model.GroupType))
                            {
                                <tr class="table-delimiter">
                                    <td colspan="5"><b>@(!string.IsNullOrEmpty(g.Title) ? g.Title + ":" : "")</b></td>
                                </tr>
                            }
                            foreach (var p in g.Products)
                            {
                                Html.RenderPartial("_ProductInTable", p);
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    }
    else
    {
        foreach (var g in Model.GroupsOfProducts)
        {
            if (!string.IsNullOrEmpty(Model.GroupType))
            {
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="header-delimiter">
                            @(!string.IsNullOrEmpty(g.Title) ? g.Title + ":" : "")
                        </h4>
                    </div>
                </div>
            }

            <div class="row">
                @foreach (var p in g.Products)
                {
                    <div class="col-md-4 col-sm-6 ">
                        @{ Html.RenderPartial("_Product", p); }
                    </div>
                }
            </div>
        }
    }
    @if (Model.GroupsOfProducts.Count == 0)
    {
        <div class="row">
            <div class="col-xs-12">
                @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsListEmpty")
            </div>
        </div>
    }
    else if (Model.Pagination.LastPage > 1)
    {
        <div class="row">
            <div class="col-xs-12 text-center">
                @{ Html.RenderPartial("_Pagination", Model.Pagination); }
            </div>
        </div>
    }
    @if (Model.ProductsViewsForArchive != null && Model.ProductsViewsForArchive.Count > 0)
    {
        <div class="row" style="margin-top: 45px;">
            <div class="col-xs-12">
                <h3>
                    @(MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.Archive") + ":") @Model.ActiveSection.Title
                </h3>
            </div>
        </div>
        <div class="row">
            @if (Model.ViewType.ToLower().Equals("list"))
            {
                <div class="col-xs-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-header">
                                <th colspan="2">@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsTableCodeCaption")</th>
                                <th>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsTableNameCaption")</th>
                                <th>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsTablePriceCaption")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model.ProductsViewsForArchive)
                            {
                                Html.RenderPartial("_ProductInTable", p);
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                foreach (var p in Model.ProductsViewsForArchive)
                {
                    <div class="col-md-4 col-sm-6 ">
                        @{ Html.RenderPartial("_Product", p); }
                    </div>
                }
            }

            <div class="col-xs-12">
                <a class="link-d" href="@Url.RouteUrl(Model.PaginationForArchive.Params.Extend(new Dictionary<string, object> { { "action", "Index" }, { "controller", "Products" }, { "sectionName", Model.ActiveSection.Name } }).ToRouteValueDictionary())">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.MoreInArchiveLink")
                </a>
            </div>
        </div>
    }
    else if (Model.Archive)
    {
        <div class="row" style="margin-top: 15px;">
            <div class="col-xs-12">
                <a class="link-d" href="@Url.RouteUrl(Model.Pagination.Params.Extend(new Dictionary<string, object> { { "action", "Index" }, { "controller", "Products" }, { "sectionName", Model.ActiveSection.Name }, { "Archive", "False" } }).ToRouteValueDictionary())">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.GoToCatalog")
                </a>
            </div>
        </div>
    }
</div>
