﻿@model WebApp.Models.Views.Default.SearchProductsPage
@{
    ViewBag.Title = @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.SearchProductsHeader");
}
<div class="container container-mh container-mt products">
    <div class="row">
        <div class="col-xs-12">
            <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.SearchProductsHeader")</h2>
        </div>
    </div>
    @if (Model.Products.Count > 0)
    {
        <div class="row">
            @foreach (var p in Model.Products)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    @{ Html.RenderPartial("_Product", p); }
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-xs-12" style="margin-bottom: 15px;">
                @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsListEmpty")"
            </div>
        </div>
    }
    @if (Model.Pagination.LastPage > 1)
    {
        <div class="row">
            <div class="col-md-12">
                @{ Html.RenderPartial("_Pagination", Model.Pagination); }
            </div>
        </div>
    }
</div>
