﻿@using Newtonsoft.Json
@using DomainLogic.Models.Enumerations
@using DomainLogic.Infrastructure.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Default.ProductShowPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsPageTitle") + " - " + Model.Product.Title;
}
@helper RenderProductHeaders(bool code)
    {
        <div class="product-header-wrap">
            <hgroup>
                <h2 class="header-24-90">
                    @Model.Product.Title

                    @{ Html.RenderPartial("_ProductEditLink", Model.ProductEditLink); }
                </h2>
                <h3 class="header-14-90">
                    @Model.Product.ShortFeatures
                </h3>
                @if (code)
                {
                    <h4 class="header-14-90">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductCodeCaption")
                        @Model.Product.Code
                    </h4>
                }
            </hgroup>
        </div>
}
@helper RenderProductTabs(bool feedbackTab)
    {
        <!-- Nav tabs -->
        <ul class="product-nav nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#home" role="tab" data-toggle="tab">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowDescriptionTab")
                </a>
            </li>
            <li>
                <a href="#gallery" role="tab" data-toggle="tab">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowGalleryTab")
                </a>
            </li>
            <li>
                <a href="#attributes" role="tab" data-toggle="tab">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowFeaturesTab")
                </a>
            </li>
            @if (Model.Product.AllowFiles)
            {
                <li>
                    <a href="#files" role="tab" data-toggle="tab">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowFilesTab")
                    </a>
                </li>
            }

            <li>
                <a href="#faq" role="tab" data-toggle="tab">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowFAQTab")
                </a>
            </li>
            @if (feedbackTab)
            {
                <li class="product-feedback-link">
                    <a href="@Url.Action("Index", "Feedback", new { sectionId = Model.Product.SectionId, productId = Model.Product.Id })">
                        @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowFeedbackLink")
                    </a>
                </li>
            }
        </ul>
        <!-- Tab panes -->
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="home">
                @RenderProductDescription(false)
            </div>
            <div class="tab-pane" id="gallery">
                @RenderProductGallery(false)
            </div>
            <div class="tab-pane" id="attributes">
                @RenderProductAttributes(false)
            </div>
            <div class="tab-pane" id="files">
                @RenderFiles(false)
            </div>
            <div class="tab-pane" id="faq">
                @RenderFaq(false)
            </div>
        </div>
}
@helper RenderProductDescription(bool header)
    {
        <div class="product-description">
            @if (header)
            {
                <h3>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowDescriptionTab")</h3>
            }
            <div class="media">
                <div class="pull-left-md media-object-wraper">
                    <a href="@(MvcApplication.St0SiteSettings.HttpHost)Images/Products/max/@(Model.Product.MainImageId + ".jpg")" rel="shadowbox">
                        <img class="media-object center-block" src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Products/middle/@(Model.Product.MainImageId + ".jpg")">
                    </a>
                    @if (!string.IsNullOrWhiteSpace(Model.Product.Sertificate))
                    {
                        <a target="_blank" class="ordinal" href="@(MvcApplication.St0SiteSettings.HttpHost)Images/Sertificates/@(Model.Product.Sertificate + ".jpg")">Скачать сертификат</a>
                    }

                    @{ Html.RenderPartial("_ProductImagesArchiveLink", Model.ProductImagesArchiveLink); }
                </div>
                <div class="media-body">
                    <div class="media-body-main">
                        @if (Model.Product.Description != null && !string.IsNullOrWhiteSpace(Model.Product.Description.Content))
                        {
                            @Html.Raw(Model.Product.Description.Content)
                        }
                        else
                        {
                            @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductDescriptionEmpty")
                        }

                        <p id="productHolder@(Model.Product.Id)" class="js-product-holder" data-product-id="@Model.Product.Id" data-section-id="@Model.Product.SectionId" style="margin-top: 30px;">
                            @{ Html.RenderPartial("_CompareProductBtn", Model.Product.CompareProductBtn); }
                        </p>

                        @if (Model.Product.Price > 0)
                        {
                            <p style="margin-top: 30px;">
                                @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RRP"):
                                <span class="product -price">
                                    @Model.Product.Price.ToString("F0")
                                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.RUR")
                                </span>
                            </p>
                        }

                        @if (Model.Partners.Count > 0)
                        {
                            <h4>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.WhereToBy")</h4>
                            <div class="row partners-wtb">
                                @foreach (var p in Model.Partners)
                                {
                                    <div class="col-lg-2  col-md-3 col-sm-2 col-xs-3">
                                        <div class="thumbnail">
                                            <a target="_blank" class="center-center" href="@(Model.Product.PartnersLinksOnProduct.Where(x => x.Id == p.Id).Select(x => x.Link).FirstOrDefault())">
                                                <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Partners/normal/@(p.MainImageId).jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        @if (Model.Product.Posts?.Count > 0)
                        {
                            <h4>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.Reviews")</h4>
                            <div class="row partners-wtb">
                                @foreach (var p in Model.Product.Posts)
                                {
                                    <div class="col-lg-2  col-md-3 col-sm-2 col-xs-3">
                                        <div class="thumbnail">
                                            <a target="_blank" class="center-center" href="@p.LinkToExpertPost">
                                                <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Posts/normal/@(p.MainImageId).jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Product.Preview))
            {
                @Html.Raw(Model.Product.Preview)
            }
        </div>
}
@helper RenderProductPreview()
    {
        @Html.Raw(Model.Product.Preview)
}
@helper RenderProductGallery(bool header)
    {
        <div class="product-gallery">
            @if (header)
            {
                <h3>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowGalleryTab")</h3>
            }
            @{ Html.RenderPartial("_Gallery", new DomainLogic.Models.Gallery { Images = (IEnumerable<DomainLogic.Interfaces.ImageInterfaces.IImage>)Model.Product.Images, Folder = "Products" }); }
        </div>
}
@helper RenderProductAttributes(bool header)
    {
        <div class="product-attributes">
            @if (header)
            {
                <h3>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowFeaturesTab")</h3>
            }
            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12 ">
                    @if (Model.Product.Section.FiltersGroups.Count > 0)
                    {
                        // отсортируем по группам
                        foreach (var group in Model.Product.Section.FiltersGroups)
                        {
                            //
                            <div class="dl-wraper row">
                                <h5>@group.Title</h5>
                                <dl class="dl-horizontal">
                                    @foreach (var a in Model.Product.GetAttributes(group.Filters))
                                    {
                                        <dt class="text-left col-sm-5" title="@a.Filter.Title">@a.Filter.Title</dt>
                                        <dd class="col-sm-7">
                                            @a.GetValuesAsString()
                                        </dd>
                                    }
                                </dl>
                            </div>
                        }
                    }
                    else
                    {
                        <text>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductFeaturesListEmpty")</text>
                    }
                </div>
            </div>
        </div>
}
@helper RenderFiles(bool header)
    {
        if (Model.Product.AllowFiles)
        {
            <div class="product-files">
                @if (header)
                {
                    <h3>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowFilesTab")</h3>
                }
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-8">
                        <form class="form-horizontal" role="form" method="POST">
                            <input id="productId" type="hidden" name="productId" value="@Model.Product.Id" />
                            <div class="form-group">
                                <label class="col-xs-2" for="filters">
                                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.FileFiltersSelectListLabel")
                                </label>
                                <div class="col-xs-10">
                                    <select class="form-control" name="filters" id="filters">
                                        @foreach (var item in Model.FileFiltersSelectList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div id="InfoShop-files-wraper"></div>
                    </div>
                </div>
            </div>
        }
}
@helper RenderFaq(bool header)
    {
        <div class="product-faq">
            @if (header)
            {
                <h3>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowFAQTab")</h3>
            }
            @if (Model.Product.Faq.Count > 0)
            {
                <ol style="padding-left:20px;">
                    @foreach (var g in Model.Product.Faq.GroupBy(x => x.Theme))
                    {
                        var title = g.Key.GetTitle();
                        <li class="js-faq-theme-item" style="margin-top: 15px;">
                            <a class="blue-dached-link js-faq-theme-item-link">@title (@g.Count())</a>
                            <ul class="js-faq-list" style="display: none;">
                                @foreach (var f in g)
                                {
                                    <li class="js-faq-item" style="margin-top: 15px;">
                                        <a class="js-faq-item-link">@f.Question</a>
                                        <div class="js-faq-item-content" style="display: none;">
                                            <p style="margin: 10px;">@f.Answer</p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ol>
            }
            else
            {
                <text>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.FaqListEmpty")</text>
            }
            <p style="margin-top: 15px;">
                <a class="link-d" href="@Url.Action("Index", "Feedback", new { sectionId = Model.Product.SectionId, productId = Model.Product.Id })">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.ProductsShowFeedbackLink")
                </a>
            </p>
        </div>
}
<div id="productDetail" class="container container-mh"
     data-product-id="@Model.Product.Id"
     data-views-res='@Html.Raw(MvcApplication.ResourceProvider.ReadResourcesAsJson("ViewsRes"))'
     data-products-res='@Html.Raw(MvcApplication.ResourceProvider.ReadResourcesAsJson("ProductsRes"))'
     data-files='@Html.Raw(JsonConvert.SerializeObject(Model.Files))'>
    <div class="row">
        <div class="col-md-12">
            <div class="compare-products-btn-holder">
                @{ Html.RenderPartial("_CompareProductsBtn", Model.CompareProductsBtn); }
            </div>
            @if (Model.Product.Published && Model.Product.Active)
            {
                if (Model.Product.BlockViews.Count == 0)
                {
                    @RenderProductHeaders(true)
                    @RenderProductTabs(true)
                }
                else
                {
                    foreach (var bv in Model.Product.BlockViews)
                    {
                        if (bv.Name == "headers")
                        {
                            @RenderProductHeaders(bv.Props.Any(x => x.Name == "code" && x.Value == "1"))
                        }
                        else if (bv.Name == "tabs")
                        {
                            @RenderProductTabs(bv.Props.Any(x => x.Name == "feedbackTab" && x.Value == "1"))
                        }
                        else if (bv.Name == "description")
                        {
                            @RenderProductDescription(bv.Props.Any(x => x.Name == "header" && x.Value == "1"))
                        }
                        else if (bv.Name == "gallery")
                        {
                            @RenderProductGallery(bv.Props.Any(x => x.Name == "header" && x.Value == "1"))
                        }
                        else if (bv.Name == "attributes")
                        {
                            @RenderProductAttributes(bv.Props.Any(x => x.Name == "header" && x.Value == "1"))
                        }
                        else if (bv.Name == "files")
                        {
                            @RenderFiles(bv.Props.Any(x => x.Name == "header" && x.Value == "1"))
                        }
                        else if (bv.Name == "faq")
                        {
                            @RenderFaq(bv.Props.Any(x => x.Name == "header" && x.Value == "1"))
                        }
                        else
                        {
                            <div>
                                @Html.Raw(bv.Content)
                            </div>
                        }
                    }
                }
            }
            else
            {
                <br />
                <text>@MvcApplication.ResourceProvider.ReadResource("Resources.ProductsRes.NotPublishedProduct")</text>
            }
        </div>
    </div>
</div>
