﻿<!-- Посты - Привязка товаров -->
<script id="bindingProductTmpl" type="text/x-jquery-tmpl">
    <span id="binding-product-{{= product.id}}" class="binding-product js-binding-product" data-product-id="{{= product.id}}">
        <input id="ProductIds_{{= index}}_" class="js-binding-product-input" name="ProductIds[{{= index}}]" value="{{= product.id}}" type="hidden" />
        <span class="binding-product-title js-binding-product-title">{{= product.title}}</span>
        <span class="glyphicon glyphicon-remove js-unbind-product-btn"></span>
    </span>
</script>

<!-- Разделы - выбор пути -->
<script id="selectGroupList" type="text/x-jquery-tmpl">
    <div class="select-group-list" id="select-group-list">
        {{each(listIndex, list) sectionsAsPathSiblings}}
        <select class="form-control select-group-item">
            <option value="{{= (listIndex > 0 ? activeSections[listIndex - 1] : 0)}}">--</option>
            {{each(sectionIndex, section) list}}
            {{if !(omitSectionId == section.Id)}}
            <option value="{{= section.Id}}" {{= (section.Id == activeSections[listIndex] ? 'selected' : '' )}}>
                {{= section.Title}}
            </option>
            {{/if}}
            {{/each}}
        </select>
        {{/each}}
    </div>
</script>
<!-- Разделы - Фильтры -->
<script id="inputHolderTmpl" type="text/x-query-tmpl">
    <div id="input-group-{{= groupIndex}}-{{= filterIndex}}" class="js-input-group" style="margin-bottom: 15px;"
         data-filter-id="0"
         data-group-index="{{= groupIndex}}"
         data-filter-index="{{= filterIndex}}">
        <div class="input-group">
            <input class="form-control js-filter-id" id="FiltersGroups_{{= groupIndex}}__Filters_{{= filterIndex}}__Id" name="FiltersGroups[{{= groupIndex}}].Filters[{{= filterIndex}}].Id" type="hidden" value="0">
            <input class="form-control js-filter-title" id="FiltersGroups_{{= groupIndex}}__Filters_{{= filterIndex}}__Title" name="FiltersGroups[{{= groupIndex}}].Filters[{{= filterIndex}}].Title" type="hidden">
            <input class="form-control js-filter-titleIn" id="FiltersGroups_{{= groupIndex}}__Filters_{{= filterIndex}}__TitleIn" name="FiltersGroups[{{= groupIndex}}].Filters[{{= filterIndex}}].TitleIn" type="hidden">
            <input class="form-control js-filter-type" id="FiltersGroups_{{= groupIndex}}__Filters_{{= filterIndex}}__Type" name="FiltersGroups[{{= groupIndex}}].Filters[{{= filterIndex}}].Type" type="hidden">
            <input class="form-control js-filter-unitConverterIdForCatalog" id="FiltersGroups_{{= groupIndex}}__Filters_{{= filterIndex}}__UnitConverterIdForCatalog" name="FiltersGroups[{{= groupIndex}}].Filters[{{= filterIndex}}].UnitConverterIdForCatalog" type="hidden" value="0">
            <input class="form-control js-filter-unitConverterIdForProduct" id="FiltersGroups_{{= groupIndex}}__Filters_{{= filterIndex}}__UnitConverterIdForProduct" name="FiltersGroups[{{= groupIndex}}].Filters[{{= filterIndex}}].UnitConverterIdForProduct" type="hidden" value="0">
            <input class="form-control js-filter-showInGroupSelect" id="FiltersGroups_{{= groupIndex}}__Filters_{{= filterIndex}}__ShowInGroupSelect" name="FiltersGroups[{{= groupIndex}}].Filters[{{= filterIndex}}].ShowInGroupSelect" type="hidden" value="False">
            <input class="form-control js-search-filter" type="text" value="" placeholder="Введите название фильтра" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-remove js-remove-filter-btn" title="Удалить фильтр"></span>
                <span class="glyphicon glyphicon-move js-move-filter-btn" title="Захватить и переместить"></span>
                <span class="glyphicon glyphicon-cog js-settings-filter-btn" title="Настройки фильтра"></span>
            </span>
        </div>
        <div id="filter-settings-holder-{{= groupIndex}}-{{= filterIndex}}" class="js-filter-settings-holder" style="margin-top: 15px;"></div>
    </div>
</script>
<script id="filterGroupHolderTmpl" type="text/x-query-tmpl">
    <div id="filter-group-holder-{{= groupIndex}}" class="filter-group-holder js-filter-group-holder" style="margin-top: 15px;" data-group-index="{{= groupIndex}}">
        <input id="FiltersGroups_{{= groupIndex}}__Id" name="FiltersGroups[{{= groupIndex}}].Id" type="hidden" value="{{= groupId}}">
        <!--<h5 class="js-filter-group-header">
            <span class="js-filter-group-title">Название группы</span>
            <span class="glyphicon glyphicon-pencil js-edit-filter-group-btn" title="редактировать заголовок" style="margin-left: 15px;"></span>
            <span class="glyphicon glyphicon-remove js-remove-filter-group-btn" title="удалить группу" style="margin-left: 15px;"></span>
        </h5>-->
        <div class="input-group js-filter-group-input-holder col-md-8" style="margin: 15px 0;">
            <input id="FiltersGroups_{{= groupIndex}}__Title" name="FiltersGroups[{{= groupIndex}}].Title" type="text" value="" class=" form-control js-filter-group-title" placeholder="Введите название группы" />
            <input id="FiltersGroups_{{= groupIndex}}__TitleIn" name="FiltersGroups[{{= groupIndex}}].TitleIn" type="text" value="" class="form-control{{= (!isAllowLocalization ? ' hide' : '')}} js-filter-group-title-en" placeholder="Введите название группы на английском" />
            <span class="input-group-addon">
                <!--<span class="glyphicon glyphicon-save js-save-filter-group-btn" title="сохранить заголовок"></span>-->
                <span class="glyphicon glyphicon-remove js-remove-filter-group-btn" title="удалить группу"></span>
            </span>
        </div>
        <div class="filter-group-holder-inside js-filter-group-holder-inside"></div>
        <input class="form-control js-add-filter-btn" type="text" placeholder="Добавить фильтр" />
    </div>
</script>

<!-- Разделы - настройки фильтра -->
<script id="filterSettingsHolderInsideTmpl" type="text/x-query-tmpl">
    <div id="filter-settings-holder-inside-{{= groupIndex}}-{{= filterIndex}}" class="js-filter-settings-holder-inside form-group-border">
        <div class="form-group">
            <label class="control-label col-md-12" style="text-align: left;">Отображаемое название фильтра</label>
            <div class="col-md-12">
                <input id="Settings_Title" class="form-control" type="text" value="{{= title}}" placeholder="Название фильтра">
                <input id="Settings_TitleIn" class="form-control{{= (!isAllowLocalization ? ' hide' : '')}}" type="text" value="{{= titleIn}}" placeholder="Название фильтра на английском">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-12" style="text-align: left;">Тип фильтра</label>
            <div class="col-md-12">
                <select id="Settings_Type" class="form-control">
                    {{each(filterTypeIndex, filterType) filtersTypes}}
                    <option value="{{= filterType.Value}}" {{if filterType.Value==type}} selected{{/if}}>{{= filterType.Text}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{if filterValuesSettings.length > 0}}
        <div class="values-settings-holder form-group-border">
            <h4>Активные значения</h4>
            <div class="values-settings-holder-inner" style="max-height: 200px; overflow-y: auto">
                {{each(valueIndex, value) filterValuesSettings}}
                <div class="checkbox">
                    <label>
                        <input class="js-value-settings" type="checkbox" value="true" {{= (value.Activated ? 'checked="checked"' : '' )}} data-value-id="{{= value.Id}}"> {{= value.Title}}
                    </label>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
        <div class="unit-settings-holder form-group-border" style="margin-top:15px;">
            <h4>Единицы измерения</h4>
            {{if unit != ""}}
            <div class="form-group">
                <label class="control-label col-md-3">В каталоге</label>
                <div class="col-md-9">
                    <select id="Settings_UnitConverterIdForCatalog" class="form-control">
                        <option value="-1">не преобразовывать</option>
                        <option value="0" {{if unitConverterIdForCatalog==0}} selected{{/if}}>{{= unit}}</option>
                        {{each(converterIndex, converter) unitConverters}}
                        <option value="{{= converter.Id}}" {{if unitConverterIdForCatalog==converter.Id}} selected{{/if}}>{{= converter.Unit}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">В карточке</label>
                <div class="col-md-9">
                    <select id="Settings_UnitConverterIdForProduct" class="form-control">
                        <option value="-1">не преобразовывать</option>
                        <option value="0" {{if unitConverterIdForCatalog==0}} selected{{/if}}>{{= unit}}</option>
                        {{each(converterIndex, converter) unitConverters}}
                        <option value="{{= converter.Id}}" {{if unitConverterIdForCatalog==converter.Id}} selected{{/if}}>{{= converter.Unit}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            {{else}}
            Единица измерения не указана
            {{/if}}
        </div>

        <div class="form-group" style="margin-top: 15px;">
            <div class="checkbox col-md-12">
                <label>
                    <input id="Settings_ShowInGroupSelect" type="checkbox" value="True" {{if showInGroupSelect}} checked{{/if}} /> Добавить в список для возможности группировки
                </label>
            </div>
        </div>
        <div class="form-group" style="margin-top: 15px;">
            <div class="col-md-12">
                <a class="btn btn-primary js-save-settings-btn">Принять</a>
                <a class="btn btn-default js-cancel-settings-btn">Отмена</a>
            </div>
        </div>
    </div>
</script>

<!-- Фильтры -->
<script id="valueHolderTmpl" type="text/x-query-tmpl">
    <div id="value-holder-{{= valueIndex}}" class="value-holder js-value-holder" style="padding-top: 15px;" data-value-index="{{= valueIndex}}" data-value-id="{{= value.Id}}">
        <input class="js-value-id" id="Values_{{= valueIndex}}__Id" name="Values[{{= valueIndex}}].Id" type="hidden" value="0" />
        <div class="row">
            <div class="col-md-6" style="padding: 0;">
                <input id="Values_{{= valueIndex}}__Title" name="Values[{{= valueIndex}}].Title" type="text" value="{{= value.Title}}" class="form-control js-value-title" placeholder="Введите значение" {{html validationAttributes.Values_0__Title}} />
                <input id="Values_{{= valueIndex}}__TitleIn" name="Values[{{= valueIndex}}].TitleIn" type="text" value="{{= value.TitleIn}}" class="form-control{{= (!isAllowLocalization ? ' hide' : '')}} js-value-title-en" placeholder="Введите значение на английском" />
            </div>
            <div class="col-md-2" style="padding: 0;">
                <input id="Values_{{= valueIndex}}__ValueAsDouble" name="Values[{{= valueIndex}}].ValueAsDouble" type="text" value="{{= value.ValueAsDouble}}" class="form-control js-value-as-double" placeholder="" {{html validationAttributes.Values_0__Double}} />
            </div>
            <div class="col-md-4 merge-btns js-merge-btns">
                <span class="btn btn-default btn-sm js-move-value-holder-btn">
                    <span class="glyphicon glyphicon-move"></span>
                </span>
                <span class="btn btn-default btn-sm js-remove-value-holder-btn">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
                <span class="btn btn-default btn-sm btn-copy js-btn-copy">
                    <span class="fa fa-files-o"></span>
                </span>
                {{if value.Id > 0}}
                <span class="btn btn-default btn-sm btn-cut js-btn-cut">
                    <span class="fa fa-scissors"></span>
                </span>
                <span class="btn btn-default btn-sm btn-paste js-btn-paste">
                    <span class="fa fa-paste"></span>
                </span>
                {{/if}}
            </div>
        </div>
        <span class="field-validation-valid" data-valmsg-for="Values[{{= valueIndex}}].Title" data-valmsg-replace="true"></span>
    </div>
</script>
<script id="chooseSectionsFormTmpl" type="text/x-query-tmpl">
    <div id="chooseSectionsForm" data-state="{{= state}}" data-action="{{= action}}">
        <h4>Выберите разделы для которых произвести текущее действие</h4>
        <div class="choose-sections-list form-group-border" style="max-height: 200px; overflow-y: auto">
            {{if sections.length > 0}}
            {{each(sectionIndex, section) sections}}
            <div class="checkbox">
                <label>
                    <input class="js-choose-sections-item" type="checkbox" value="{{= section.Id}}" checked="checked"> {{= section.Title}}
                </label>
            </div>
            {{/each}}
            {{else}}
            Нет привязанных значений
            {{/if}}
        </div>
        <br />
        <button id="applyChoosedSectionsBtn" class="btn btn-primary">Ok</button>&nbsp;&nbsp;&nbsp;<button id="cancelChoosedSectionsBtn" class="btn btn-default">Отмена</button>
        {{if action == "deleteBindedValues" || action == "copyBindedValues" || action == "copyFilter"}}
        <p class="text-danger" style="font-size:11px;text-align: justify;width: 380px;">
            {{= warningMessage}}
        </p>
        {{/if}}
    </div>
</script>
<!-- Фильтры - конверторы -->
<script id="converterEditInsideTmpl" type="text/x-query-tmpl">
    <div id="converter-edit-inside" class="converter-edit-inside form-group-border" data-action="{{= action}}" data-converter-index="{{= converterIndex}}">
        <div class="form-group">
            <input id="Converter.Id" type="hidden" value="{{= converter.Id}}">
            <div class="col-md-12">
                <input id="Converter.Unit" type="text" value="{{= converter.Unit}}" class="form-control" placeholder="Введите единицу измерения">
                <input id="Converter.UnitIn" type="text" value="{{= converter.UnitIn}}" class="form-control{{= (!isAllowLocalization ? ' hide' : '')}}" placeholder="Введите единицу измерения на английском">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input id="Converter.UnitK" type="text" value="{{= converter.UnitK}}" class=" form-control" placeholder="Введите коэфициент преобразования, н-р 1:1000">
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
            <div class="col-md-12">
                <a id="{{= action}}-converter-btn" class="btn btn-primary">Сохранить</a> <a id="cancel-converter-btn" class="btn btn-default">Отмена</a>
            </div>
        </div>
    </div>
</script>
<script id="convertersItemTmpl" type="text/x-query-tmpl">
    <div id="converters-item-{{= converterIndex}}" class="converters-item js-converters-item pull-left edit-item-holder" data-converter-index="{{= converterIndex}}">
        <input type="hidden" id="UnitConverters_{{= converterIndex}}__Id" name="UnitConverters[{{= converterIndex}}].Id" value="{{= converter.Id}}" class="js-converters-item-id" />
        <input type="hidden" id="UnitConverters_{{= converterIndex}}__Unit" name="UnitConverters[{{= converterIndex}}].Unit" value="{{= converter.Unit}}" class="js-converters-item-unit" />
        <input type="hidden" id="UnitConverters_{{= converterIndex}}__UnitIn" name="UnitConverters[{{= converterIndex}}].UnitIn" value="{{= converter.UnitIn}}" class="js-converters-item-unitIn" />
        <input type="hidden" id="UnitConverters_{{= converterIndex}}__UnitK" name="UnitConverters[{{= converterIndex}}].UnitK" value="{{= converter.UnitK}}" class="js-converters-item-unitK" />
        <span class="text-nowrap">{{= converter.Unit}}</span>
        <span id="show-converter-edit-btn-{{= converterIndex}}" class="glyphicon glyphicon-pencil js-show-converter-edit-btn"></span>
        <span id="delete-converter-btn-{{= converterIndex}}" class="glyphicon glyphicon-remove js-delete-converter-btn"></span>
    </div>
</script>

<!-- Товары - ссылки на партнеров -->
<script id="partnerEditInsideTmpl" type="text/x-query-tmpl">
    <div id="partner-edit-inside" class="partner-edit-inside form-group-border" data-action="{{= action}}" data-partner-index="{{= partnerIndex}}">
        <div class="form-group">
            <div class="col-md-12">
                <select id="PartnerLinkOnProduct.Id" class=" form-control">
                    {{each(itemIndex, item) partnersForSelectList}}
                    <option value="{{= item.Value}}" {{if partner.Id == parseInt(item.Value)}} selected="selected" {{/if}}>{{= item.Text}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input id="PartnerLinkOnProduct.Link" type="text" value="{{= partner.Link}}" class=" form-control" placeholder="Введите ссылку на товар">
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
            <div class="col-md-12">
                <a id="{{= action}}-partner-btn" class="btn btn-primary">Сохранить</a> <a id="cancel-partner-btn" class="btn btn-default">Отмена</a>
            </div>
        </div>
    </div>
</script>
<script id="partnersItemTmpl" type="text/x-query-tmpl">
    <div id="partners-item-{{= partnerIndex}}" class="partners-item js-partners-item pull-left edit-item-holder" data-partner-index="{{= partnerIndex}}">
        <input type="hidden" id="PartnersLinksOnProduct_{{= partnerIndex}}__Id" name="PartnersLinksOnProduct[{{= partnerIndex}}].Id" value="{{= partner.Id}}" class="js-partners-item-id" />
        <input type="hidden" id="PartnersLinksOnProduct_{{= partnerIndex}}__Link" name="PartnersLinksOnProduct[{{= partnerIndex}}].Link" value="{{= partner.Link}}" class="js-partners-item-link" />
        <span class="text-nowrap">{{= itemTitle}}</span>
        <span id="show-partner-edit-btn-{{= partnerIndex}}" class="glyphicon glyphicon-pencil js-show-partner-edit-btn"></span>
        <span id="delete-partner-btn-{{= partnerIndex}}" class="glyphicon glyphicon-remove js-delete-partner-btn"></span>
    </div>
</script>
<!-- Товары - значения -->
<script id="filtersGroupsHolder" type="text/x-query-tmpl">
    <div id="filters-groups-holder">
        {{each(groupIndex, group) filtersGroups}}
        <h5>{{= group.Title}}</h5>
        {{each(fsIndex, fs) group.Filters}}
        {{each(attributeIndex, attribute) attributes}}
        {{if attribute.Filter.Id == fs.Id}}
        {{var filter = filters[fs.Id];}}
        <div id="filter-holder-{{= filter.Id}}" class="filter-holder js-filter-holder"
             data-filter-id="{{= filter.Id}}"
             data-filter-multiple="{{= filter.Multiple}}">
            <input id="Attributes_{{= attributeIndex}}__Filter_Id" name="Attributes[{{= attributeIndex}}].Filter.Id" type="hidden" value="{{= filter.Id}}">
            <label class="control-label">{{= filter.Title}} {{= (filter.Unit ? ", " + filter.Unit : "")}}</label>
            <div id="filterInputGroup{{= filter.Id}}" class="input-group">
                <select id="Attributes_{{= attributeIndex}}__Values_0__ValueId" class="form-control js-select-attribute-value">
                    {{each(itemIndex, item) filter.List}}
                    <option value="{{= item.Value}}">{{= item.Text}}</option>
                    {{/each}}
                </select>
                <span class="input-group-btn">
                    <span class="glyphicon glyphicon-plus btn btn-default js-add-select-attribute-value-btn" style="top: 0;" title="Добавить новое значение"></span>
                </span>
            </div>
            <div id="select-attribute-values-holder-{{= filter.Id}}" class="edit-list-holder js-select-attribute-values-holder clearfix" data-attribute-index="{{= attributeIndex}}">
                {{each(valueIndex, value) attribute.Values}}
                {{if value.ValueId !== undefined}}
                {{var valueItem = getValueItemFromFilterList(filter.List, value.ValueId);}}
                {{tmpl({item: valueItem, attributeIndex: attributeIndex, valueIndex: valueIndex, filterId: filter.Id, validationAttributes: validationAttributes}) "#selectAttributeValueHolderTmpl"}}
                {{/if}}
                {{/each}}
            </div>
            <span class="field-validation-valid" data-valmsg-for="Attributes[{{= attributeIndex}}].Values[0].ValueId" data-valmsg-replace="true"></span>
        </div>
        {{/if}}
        {{/each}}
        {{/each}}
        {{/each}}
    </div>
</script>
<script id="selectAttributeValueHolderTmpl" type="text/x-query-tmpl">
    <div id="select-attribute-value-holder-{{= item.Value}}" class="pull-left edit-item-holder select-attribute-value-holder js-select-attribute-value-holder"
        data-value-id="{{= item.Value}}" 
        data-filter-id="{{= filterId}}">
    <input id="Attributes_{{= attributeIndex}}__Values_{{= valueIndex}}__ValueId" name="Attributes[{{= attributeIndex}}].Values[{{= valueIndex}}].ValueId" type="hidden" value="{{= item.Value}}" {{html validationAttributes.Attributes_0__Values_0__Valueid}} />
    <span class="text-nowrap">{{= item.Text}}</span>
    <span class="glyphicon glyphicon-remove js-remove-select-attribute-value-btn"></span>
    </div>
</script>
<script id="selectAttributeValueFormTmpl" type="text/x-query-tmpl">
    <div id="selectAttributeValueForm" class="clearfix">
        <div class="col-md-6" style="padding: 0;">
            <input id="selectAttributeValue" class="form-control" name="selectAttributeValue" placeholder="Введите значение" />
            <input id="selectAttributeValueIn" class="form-control{{= (!isAllowLocalization ? ' hide' : '')}}" name="selectAttributeValueIn" placeholder="Введите значение на английском" />
        </div>
        <div class="col-md-3" style="padding: 0;">
            <input id="selectAttributeValueAsDouble" class="form-control" name="selectAttributeValueAsDouble" placeholder="Числовое значение" />
        </div>
        <div class="col-md-3 merge-btns js-merge-btns">
            <span id="saveSelectAttributeValueBtn" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-save"></span>
            </span>
            <span id="cancelSelectAttributeValueBtn" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </span>
        </div>
    </div>
</script>

<!-- Файлы - multiple select -->
<script id="selectFileFilterHolderTmpl" type="text/x-query-tmpl">
    <div id="select-file-filter-holder-{{= item.Value}}" class="pull-left edit-item-holder select-file-filter-holder js-select-file-filter-holder" data-file-filter="{{= item.Value}}">
        <input id="Filters_{{= index}}_" name="Filters[{{= index}}]" type="hidden" value="{{= item.Value}}" />
        <span class="text-nowrap">{{= item.Text}}</span>
        <span class="glyphicon glyphicon-remove js-remove-select-file-filter-btn"></span>
    </div>
</script>

<!-- <<Привязка изделий -->
<script id="sectionTypeItemTmpl" type="text/x-query-tmpl">
    <span id="section-type-item-{{= type.Id}}" class="js-section-type-item" style="border: 1px solid gray; border-radius: 5px; padding: 5px;" data-type-id="{{= type.Id}}">
        {{= type.Title}} <span class="glyphicon glyphicon-remove js-remove-section-type-btn"></span>
    </span>
</script>

<!-- Редактирование картинки -->
<script id="imageTmpl" type="text/x-query-tmpl">
    <div id="image-{{= imageId}}" class="col-xs-3 js-image" data-image-id="{{= imageId}}">
        <input data-val="true" id="{{= imagesIdsPropName}}_{{= order}}__Value" name="{{= imagesIdsPropName}}[{{= order}}].Value" type="hidden" value="{{= imageId}}" />
        <div class="thumbnail">
            <a class="center-center" href="{{= st0SiteHttpHost}}Images/{{= folder}}/{{= imageId}}.jpg" target="_blank">
                <img src="{{= st0SiteHttpHost}}Images/{{= folder}}/normal/{{= imageId}}.jpg" alt="" />
            </a>
            <div class="caption text-center">
                <span class="glyphicon glyphicon-remove js-remove-image-btn" title="Удалить фотографию"></span>
                {{if mainImageIdPropName != null && mainImageIdPropName != "null"}}
                <span id="set-main-image-btn-{{= imageId}}" class="glyphicon glyphicon-magnet js-set-main-image-btn" title="Сделать главной"></span>
                {{/if}}
                {{if showImageSettingsBtn}}
                <span class="fa fa-cog js-open-image-settings-btn" title="Настройки" data-image-id="{{= imageId}}"></span>
                {{/if}}
            </div>
        </div>
    </div>
</script>

<!-- Настройки картинки -->
<script id="imageSettingsFormTmpl" type="text/x-query-tmpl">
    <form id="imageSettingsForm-{{= image.Id}}" action="/Admin/Images/Edit/{{= image.Id}}" method="POST" data-image-id="{{= image.Id}}" class="image-settings-form">
        <input type="hidden" name="type" value="{{= folder}}" />
        <input type="hidden" name="Id" value="{{= image.Id}}" />
        <input type="hidden" name="Width" value="{{= image.Width}}" />
        <input type="hidden" name="Height" value="{{= image.Height}}" />
        <div class="form-group">
            <label for="imageTitleInput">Заголовок</label>
            <input type="text" class="form-control" id="imageTitleInput" placeholder="Введите название картинки" name="Title" value="{{= image.Title}}">
        </div>
        <div class="form-group">
            <label for="imageExternalLinkInput">Внешняя ссылка</label>
            <input type="text" class="form-control" id="imageExternalLinkInput" placeholder="Введите ссылку на внешний ресурс" name="ExternalLink" value="{{= image.ExternalLink}}">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input id="reload-image-btn-800" class="js-reload-image-btn" type="file" name="file" data-image-id="{{= image.Id}}" data-dimension="800" title="Обновить картинку 800х800" />
                <img id="image-800" src="{{= st0SiteHttpHost}}Images/{{= folder}}/max/{{= image.Id}}.jpg?{{= curDate}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <input id="reload-image-btn-400" class="js-reload-image-btn" type="file" name="file" data-image-id="{{= image.Id}}" data-dimension="400" title="Обновить картинку 400х400" />
                <img id="image-400" src="{{= st0SiteHttpHost}}Images/{{= folder}}/middle/{{= image.Id}}.jpg?{{= curDate}}" />
            </div>
            <div class="col-xs-3">
                <input id="reload-image-btn-200" class="js-reload-image-btn" type="file" name="file" data-image-id="{{= image.Id}}" data-dimension="200" title="Обновить картинку 200х200">
                <img id="image-200" src="{{= st0SiteHttpHost}}Images/{{= folder}}/normal/{{= image.Id}}.jpg?{{= curDate}}" />
            </div>
            <div class="col-xs-2">
                <input id="reload-image-btn-100" class="js-reload-image-btn" type="file" name="file" data-image-id="{{= image.Id}}" data-dimension="100" title="Обновить картинку 100х100" />
                <img id="image-100" src="{{= st0SiteHttpHost}}Images/{{= folder}}/min/{{= image.Id}}.jpg?{{= curDate}}" />
            </div>
        </div>
        <div class="form-group">
            <button id="imageSettingsFormSubmitBtn-{{= image.Id}}" type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </form>
</script>
<!-- Вопросы и ответы / Привязка к товарам -->
<script id="faqProductHolderTmpl" type="text/x-query-tmpl">
    <div id="productHolder{{= productId}}" class="pull-left edit-item-holder js-product-holder" data-product-id="{{= productId}}">
        <input id="ProductIds_{{= index}}__Value" name="ProductIds[{{= index}}].Value" type="hidden" value="{{= productId}}" class="js-product-id">
        <span class="text-nowrap">{{= productTitle}}</span>
        <span class="glyphicon glyphicon-remove js-remove-product-holder-btn"></span>
    </div>
</script>

<!-- Новости / Привязка к товарам -->
<script id="articleProductHolderTmpl" type="text/x-query-tmpl">
    <div id="productHolder{{= productId}}" class="pull-left edit-item-holder js-product-holder" data-product-id="{{= productId}}">
        <input id="ProductIds_{{= index}}__Value" name="ProductIds[{{= index}}].Value" type="hidden" value="{{= productId}}">
        <span class="text-nowrap">{{= productTitle}}</span>
        <span class="glyphicon glyphicon-remove js-remove-product-holder-btn"></span>
    </div>
</script>
