﻿@model DomainLogic.Models.Messages.ChangeFeedbackThemeMessage
@{
    var user = Model.Feedback.Answers.LastOrDefault().User;
}

<h3>
    @string.Format(
        MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.ChangeFeedbackThemeMessageHeader"),
        (!string.IsNullOrEmpty(user.FullName) ? user.FullName : user.Email)
    )
</h3>

<p>
    @Model.Feedback.Answers.LastOrDefault().Message
</p>
<p>
    @MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.ChangeFeedbackThemeMessageOfferLink")
    <a href="@Model.FeedbackUrl">@Model.FeedbackUrl</a>
</p>