﻿@model DomainLogic.Models.Messages.CreateFeedbackAnswerMessage

<h3>
    <!-- Вы написали сообщение -->@MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.CreateFeedbackAnswerMessageHeader")
</h3>
<p>
    @Model.FeedbackAnswer.Message
</p>
<p>
    <!-- Чтобы продолжить переписку, перейдите по ссылке -->@MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.CreateFeedbackAnswerMessageOfferLink")
    <a href="@Model.FeedbackUrl">
        @Model.FeedbackUrl
    </a>
</p>