﻿@model DomainLogic.Models.Messages.CreateFeedbackMessage

<h3>
    <!-- Вы написали сообщение -->@MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.CreateFeedbackMessageHeader")
</h3>
<p>
    @Model.Feedback.Message
</p>
<p>
    <!-- Чтобы продолжить переписку, перейдите по ссылке --> @MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.CreateFeedbackMessageOfferLink")
    <a href="@Model.FeedbackUrl">
        @Model.FeedbackUrl
    </a>
</p>