﻿@model DomainLogic.Models.Messages.CreateResumeMessage

<p>
    На сайте <a href="@Model.BaseUrl">@Model.BaseUrl</a> заполнили анкетные данные
</p>
<p>
    Название вакансии: @Model.Resume.Title
    <br/><b>ФИО:</b> @Model.Resume.FullName
    <br/><b>Контактный телефон:</b> @Model.Resume.Phone
    <br/><b>Электронная почта:</b> @Model.Resume.Email 
    @{
        if (!string.IsNullOrEmpty(@Model.Resume.Education))
        {
           <br/><b>Образование:</b> <text>@Model.Resume.Education</text>
        }
        if (!string.IsNullOrEmpty(@Model.Resume.Experience))
        {
           <br/><b>Опыт работы:</b> <text>@Model.Resume.Experience</text>
        }
        if (!string.IsNullOrEmpty(@Model.Resume.AdditionalInfo))
        {
           <br/><b>Дополнительная информация:</b> <text>@Model.Resume.AdditionalInfo</text>
        }
        if (!string.IsNullOrEmpty(@Model.Resume.ResumeDocLink))
        {
           <br/><a href="@(Model.St0SiteHttpHost + "Files/Resumes/" + Model.Resume.ResumeDocLink)">Вложенное резюме</a>
        }    
    }
    
</p>