﻿@model DomainLogic.Models.Messages.FeedbackInviteMessage

<p>
    @Model.Message
</p>
<p>
    @MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.FeedbackInviteMessageOfferLink")
    <a href="@Model.FeedbackUrl">
        @Model.FeedbackUrl
    </a>
</p>