﻿@model DomainLogic.Models.Messages.NotifyFeedbackAnswerMessage

<h3>
    @(!string.IsNullOrEmpty(Model.FeedbackAnswer.User.FullName)
        ? Model.FeedbackAnswer.User.FullName
        : Model.FeedbackAnswer.User.Email)
    <!-- написал сообщение --> @MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.NotifyFeedbackAnswerMessageHeader")
</h3>


<p>
    @Model.FeedbackAnswer.Message
</p>
<p>
    <!-- Чтобы продолжить переписку, перейдите по ссылке -->@MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.NotifyFeedbackAnswerMessageOfferLink")
    <a href="@Model.FeedbackUrl">
        @Model.FeedbackUrl
    </a>
</p>