﻿@model DomainLogic.Models.Messages.NotifyFeedbackMessage

<h3>
    @(!string.IsNullOrEmpty(Model.Feedback.User.FullName)
        ? Model.Feedback.User.FullName : Model.Feedback.User.Email)
    <!-- Написали сообщение -->&nbsp;
    @MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.NotifyFeedbackMessageHeader")
</h3>

<p>
    @Model.Feedback.Message
</p>
<p>
    <!-- Чтобы продолжить переписку, перейдите по ссылке --> @MvcApplication.ResourceProvider.ReadResource("Resources._MessagesRes.CreateFeedbackMessageOfferLink")
    <a href="@Model.FeedbackUrl">
        @Model.FeedbackUrl
    </a>
</p>