﻿<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        @Model.ActiveItemText
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        @foreach (var s in Model.Items)
        {
            <li role="presentation" style="@(s.Active ? Html.Raw("display: none;").ToString() : "")">
                <a role="menuitem" tabindex="-1" href="@Url.RouteUrl(MvcApplication.UrlUtils.ToRouteValueDictionary(s.Params))">@s.Text</a>
            </li>
        }
    </ul>
</div>