﻿@model DomainLogic.Models.Gallery
<div class="row gallery">
    @foreach (var im in Model.Images)
    {
        if (Model.OmitImageId > 0 && Model.OmitImageId == im.Id)
        {
            continue;
        }            
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="thumbnail">
                <a class="center-center" href="@(MvcApplication.St0SiteSettings.HttpHost)Images/@Model.Folder/max/@(im.Id).jpg" rel="shadowbox[@Model.Folder];player=img">
                    <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/@Model.Folder/normal/@(im.Id)jpg" />
                </a>
            </div>
        </div>
    }
</div>