﻿  @{
    var version = "version=3.3.8.3";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="@MvcApplication.UrlUtils.GetBaseUrl()Areas/Default/Content/Bundles/fontello/css/fontello.css" rel="stylesheet" />
    <link href="@MvcApplication.UrlUtils.GetBaseUrl()Areas/Default/Content/Styles/@(ViewBag.NonResponsiveSite != null ? "NonResponsiveSite" : "Site").css?@(version)" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script>
        var baseUrl = "@MvcApplication.UrlUtils.GetBaseUrl()";
        var st0SiteHttpHost = "@(MvcApplication.St0SiteSettings.HttpHost)";
        var culture = "@(Request.RequestContext.RouteData.Values["culture"] ?? "ru")";
        var version = "@version";
        var jsRoute = "@ViewContext.RouteData.DataTokens["area"].ToString()_@ViewContext.RouteData.Values["controller"].ToString()_@ViewContext.RouteData.Values["action"].ToString()";
    </script>
    <script src="@MvcApplication.UrlUtils.GetBaseUrl()Content/Javascripts/require.js?@(version)"></script>
    <script src="@MvcApplication.UrlUtils.GetBaseUrl()Content/Javascripts/main.config.js?@(version)"></script>
</body>
</html>
