﻿@using WebApp.Infrastructure.Mvc.Extensions
@model DomainLogic.Infrastructure.Paging.MvcPagination
<ul class="pagination">
    @for (var i = 0; i < Model.Pages.Count; i++)
    {
        <li class="@(Model.Pages[i].IsCurrenPage ? "active" : "") @(Model.Pages[i].Disabled ? "disabled" : "")">
            <a href="@Url.RouteUrl(Model.Pages[i].RouteValues.ToRouteValueDictionary())">@Html.Raw(Model.Pages[i].Caption)</a>
        </li>
    }
</ul>
@*
    <div class="pull-right">
        Всего @Model.ItemsAmount / На странице @Model.CurrentPageItemsAmount
    </div>
*@

