﻿@model WebApp.Models.Views.Default.ChangeFullNameModel

@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ChangeFullNamePageTitle");
}
<div class="container container-mb container-mt container-mh">
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title.</h2>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" role="form" method="POST">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.FullName, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.FullName, "Text", null, new { @class = "form-control", placeholder = MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ChangeFullNameFormPlaceholder") })
                        @Html.ValidationMessageFor(m => m.FullName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-default">@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SubmitBtnCaption")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>