﻿@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.SubscriptionPageTitle");
}
<div class="container container-mb container-mt container-mh">
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title.</h2>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @if (ViewBag.Subscription)
            {
                @MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.PreUnsubscribeLink")
                <a class="link -d" href="@Url.Action("Unsubscribe", "User")">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.UnsubscribeLink")
                </a>
            }
            else
            {
                @MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.PreSubscribeLink")
                <a class="link-d" href="@Url.Action("Subscribe", "User")">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.SubscribeLink")
                </a>
            }
        </div>
    </div>
</div>
