﻿@model WebApp.Models.Views.Default.FilesPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.FilesRes.FilesPageTitle");
    Layout = "~/Areas/Default/Views/Shared/_SupportBodyLayout.cshtml";
}
<div data-views-res='@Html.Raw(MvcApplication.ResourceProvider.ReadResourcesAsJson("ViewsRes"))'
     data-products-res='@Html.Raw(MvcApplication.ResourceProvider.ReadResourcesAsJson("ProductsRes"))'
     data-files='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Files))'>
    <div class="row files-header-wrap">
        <div class="col-sm-5 col-sm-pull-7">
            <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.FilesRes.FilesPageTitle")</h2>
        </div>
    </div>
    <div class="row">
        <form id="search-files-form" role="form">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.SectionId, new { @class = "control-label" })
                @Html.EditorFor(m => m.SectionId, "Select", new { List = Model.SectionsForSelectList, @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.ProductId, new { @class = "control-label" })
                @Html.EditorFor(m => m.ProductId, "Select", new { List = Model.ProductTitlesForSelectList, @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.Filters, new { @class = "control-label" })
                @Html.EditorFor(m => m.Filters, "Select", new { List = Model.FileFiltersSelectList, @class = "form-control" })
            </div>
        </form>
    </div>

    @if (Model.Files.Count > 0)
    {
        <div id="InfoShop-files-wraper"></div>
    }
    else
    {
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
                @MvcApplication.ResourceProvider.ReadResource("Resources.FilesRes.FilesTableEmpty")
            </div>
        </div>
    }
</div>
@{ Html.RenderPartial("~/Areas/Default/Views/SupportArticles/_Last.cshtml", Model.LastSupportArticles); }