﻿@model WebApp.Models.Views.Default.CorporateDepartmentPage
@{ 
    ViewBag.Title = Model.Page?.Title ?? MvcApplication.ResourceProvider.ReadResource("Resources.HomeRes.CorporateDepartmentPageTitle");
    Layout = "~/Areas/Default/Views/Shared/_AboutBodyLayout.cshtml";
}
@if (Model.Page != null)
{
    if (Model.Page.Title != null)
    {
        <h2>@Model.Page.Title</h2>
    }
    if (Model.Page.Description != null)
    {
        @Html.Raw(Model.Page.Description.Content)
    }
    <div id="map" style="width: 420px; height: 300px;"></div>
}
else
{
    <div class="container container-mh container-mt">
        <div class="row">
            <div class="col-xs-12">
                <h4>@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.PageIsNotCreated")</h4>
            </div>
        </div>
    </div>
}