﻿@model WebApp.Models.Views.Default.HomePage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.HomeRes.HomePageTitle");
}
<div class="container container-fw">
    <div class="row">
       @{ Html.RenderPartial("_BannersWidget", Model.ProductsForBanner);} 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-xs-12">
            @{ Html.RenderPartial("_NewsWidget", Model.News);}
        </div>
        <div class="col-lg-9 col-xs-12">
            @{ Html.RenderPartial("_HitProductsWidget", Model.HitProducts);}
            @{ Html.RenderPartial("_NewProductsWidget", Model.NewProducts);}              
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">  
            @{ Html.RenderPartial("_PostsWidget", Model.Posts);}             
        </div>
    </div>
</div> 
