﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Infrastructure.Mvc.Extensions
@model WebApp.Models.Views.Default.ServicesPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.SrvsRes.ServicesPageTitle");
    Layout = "~/Areas/Default/Views/Shared/_SupportBodyLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.SrvsRes.ServicesPageHeader")</h2>
    </div>
</div>
<div class="row">
    <form role="form">
        <div class="form-group col-sm-6">
            <label for="type">
                @MvcApplication.ResourceProvider.ReadResource("Resources.SrvsRes.SearchSrvsFilterPlaceOfPurchaseLabel")
            </label>
            <select class="form-control" name="partner" id="partner">
                <option value="">--</option>
                @foreach (var item in Model.PartnersForSelectList)
                {
                    <option value="@item" @Html.Raw(string.Equals(Model.ActiveType, item) ? "selected=\"selected\"" : "")>@item</option>
                }
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label for="city">
                @MvcApplication.ResourceProvider.ReadResource("Resources.SrvsRes.SearchSrvsFilterCityLabel")
            </label>
            <select class="form-control" name="city" id="city">
                <option value="">--</option>
                @foreach (var item in Model.CitiesForSelectList)
                {
                    if (item == null)
                    {
                        continue;
                    }
                    var value = item.Split(new string[] { "<!>" }, StringSplitOptions.None)[0];

                    <option value="@value" @Html.Raw(string.Equals(Model.ActiveCity, value) ? "selected=\"selected\"" : "")>@item.Replace("<!>(РФ)", "").Replace("<!>", " ")</option>
                }
            </select>
        </div>
    </form>

</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <tr>
                <th>@MvcApplication.ResourceProvider.ReadResource("Resources.SrvsRes.ServicesTableServiceColumnCaption")</th>
                <th>@MvcApplication.ResourceProvider.ReadResource("Resources.SrvsRes.ServicesTableAddressColumnCaption")</th>
                <th>@MvcApplication.ResourceProvider.ReadResource("Resources.SrvsRes.ServicesTablePhonesColumnCaption")</th>
                <th>@MvcApplication.ResourceProvider.ReadResource("Resources.SrvsRes.ServicesTableWorkingHoursColumnCaption")</th>
            </tr>
            @foreach (var s in Model.Services)
            {
                <tr>
                    <td>@s.Type.GetTitle()</td>
                    <td>@s.Address</td>
                    <td>@s.Phones</td>
                    <td>@s.WorkingHours</td>
                </tr>
            }
        </table>
    </div>
</div>