﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.ServiceForm
<form id="service-form" class="form-horizontal col-md-8" role="form" method="POST">
    <input type="hidden" name="redirectToUrl" value="@ViewBag.RedirectToUrl" />
    <div class="form-group">
        @Html.LabelFor(m => m.Country, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Country, "Text", null, new { @class = "form-control", placeholder = "Введите название города" })
            @Html.ValidationMessageFor(m => m.Country)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.City, "Text", null, new { @class = "form-control", placeholder = "Введите название города" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Address, "Text", null, new { @class = "form-control", placeholder = "Введите адрес" })
            @Html.ValidationMessageFor(m => m.Address)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phones, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Phones, "Text", null, new { @class = "form-control", placeholder = "Введите телефон(ы)" })
            @Html.ValidationMessageFor(m => m.Phones)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WorkingHours, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.WorkingHours, "Text", null, new { @class = "form-control", placeholder = "Введите режим работы" })
            @Html.ValidationMessageFor(m => m.WorkingHours)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Type, "Select", null, new { List = ViewBag.ServiceTypes, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Type)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="save-service-btn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="delete-service-btn" data-href="@Url.Action("Delete", "Srvs", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>
