﻿@model WebApp.Models.Views.Admin.ServiceCreateAdminPage
@{
    ViewBag.Title = "Добавление сервисного центра";
    ViewBag.ActiveNavLink = "Srvs";
    ViewBag.ServiceTypes = Model.ServiceTypes;
    ViewBag.RedirectToUrl = Model.RedirectToUrl;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Добавление сервисного центра</h2>
            @{ Html.RenderPartial("_Edit", Model.ServiceForm);}
        </div>
    </div>
</div>