﻿@using DomainLogic.Infrastructure.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.ServicesListAdminPage
@{
    ViewBag.Title = "Сервисные центры";
    ViewBag.ActiveNavLink = "Srvs";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Сервисные центры</h2>
        </div>
        <div class="col-md-6" style="margin-top: 28px;">
            <a href="@Url.Action("Create", "Srvs")">Добавить сервисный центр</a>
        </div>
    </div>
    <div class="row">
        <form id="filter" role="form">
            <div class="form-group col-md-6">
                <label for="type">Выберите организацию</label>
                <select class="form-control" name="type" id="type" onchange="document.getElementById('filter').submit();">
                    @foreach (DomainLogic.Models.Enumerations.ServiceTypeEnum item in Enum.GetValues(typeof(DomainLogic.Models.Enumerations.ServiceTypeEnum)))
                    {
                        if (item == DomainLogic.Models.Enumerations.ServiceTypeEnum.Others)
                        {
                            continue;
                        }
                        <option value="@item" @Html.Raw(Model.ActiveType.Equals(item) ? "selected=\"selected\"" : "")>@item.GetTitle()</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="city">Выберите город</label>
                <select class="form-control" name="city" id="city" onchange="document.getElementById('filter').submit();">
                    @foreach (var item in Model.CitiesForSelectList)
                    {
                        if (item == null)
                        {
                            continue;
                        }
                        var value = item.Split(new string[] { "<!>" }, StringSplitOptions.None)[0];

                        <option value="@value" @Html.Raw(Model.ActiveCity.Equals(value) ? "selected=\"selected\"" : "")>@item.Replace("<!>(РФ)", " ").Replace("<!>", " ")</option>
                    }
                </select>
            </div>
        </form>
    </div>
    @if (Model.Services.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Ид</td>
                        <td>Город</td>
                        <td>Адрес</td>
                        <td>Телефон(ы)</td>
                        <td>Действия</td>
                    </tr>
                    @foreach (var n in Model.Services)
                    {
                        <tr>
                            <td><a href="@Url.Action("Show", "Srvs", new { id = n.Id, area = "Default" })">@n.Id</a></td>
                            <td>@n.City</td>
                            <td>@n.Address</td>
                            <td>@n.Phones</td>
                            <td><a href="@Url.Action("Edit", "Srvs", new { id = n.Id })">Редактировать</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет сервисных центров
            </div>
        </div>
    }
</div>
