﻿@using Newtonsoft.Json
@using WebApp.Models.Views
@model WebApp.Models.Forms.SectionForm
<form id="section-form" class="form-horizontal col-md-8" role="form" method="POST"
      data-section-id="@Model.Id"
      data-sections='@Html.Raw(JsonConvert.SerializeObject(ViewBag.Sections))'
      data-filters-types='@Html.Raw(JsonConvert.SerializeObject(ViewBag.FiltersTypes))'>

    @Html.ValidationSummary(true)
    <input id="redirectToUrl" type="hidden" name="redirectToUrl" value="@ViewBag.RedirectToUrl" />
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Position)
    @Html.HiddenFor(m => m.PathOfSections)
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите название раздела" })
            @Html.EditorFor(m => m.TitleIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите название раздела на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group form-group-border">
        @Html.HiddenFor(m => m.ParentId)
        @Html.LabelFor(m => m.ParentId, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="select-group-list" id="select-group-list">
                @{
                    // определим активные разделы
                    List<long> activeSections = new List<long>();
                    var sectionId = Model.Id;
                    for (int i = ViewBag.SectionsAsPathSiblings.Count - 1; i >= 0; i--)
                    {
                        foreach (var s in ViewBag.SectionsAsPathSiblings[i])
                        {
                            if (s.Id == sectionId)
                            {
                                activeSections.Add(s.Id);
                                sectionId = s.ParentId;
                                break;
                            }
                        }
                    }
                    activeSections.Reverse();
                }
                @for (var i = 0; i < ViewBag.SectionsAsPathSiblings.Count; i++)
                {
                    var end = false;
                    <select class="form-control select-group-item">
                        <option value="@(i > 0 ? activeSections[i - 1] : 0)">--</option>
                        @foreach (var s in ViewBag.SectionsAsPathSiblings[i])
                        {
                            if (s.Id == Model.Id)
                            {
                                end = true;
                                continue;
                            }
                            <option value="@s.Id" @(activeSections.Count > i && activeSections[i] == s.Id ? "selected=\"selected\"" : "")>@s.Title</option>
                        }
                    </select>
                    if (end)
                    {
                        break;
                    }
                }
            </div>
            @Html.ValidationMessageFor(m => m.ParentId)
        </div>
    </div>
    <div class="form-group form-group-border">
        @Html.LabelFor(m => m.FiltersGroups, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div id="filters-groups-holder" style="margin-top: -15px;">
                @for (var i = 0; i < Model.FiltersGroups.Count; i++)
                {
                    <div id="filter-group-holder-@i" class="filter-group-holder js-filter-group-holder" style="margin-top: 15px;" data-group-index="@i">
                        @Html.HiddenFor(m => m.FiltersGroups[i].Id)
                        <!--<h5 class="js-filter-group-header">
                            <span class="js-filter-group-title">@Model.FiltersGroups[i].Title</span>
                            <span class="glyphicon glyphicon-pencil js-edit-filter-group-btn" title="редактировать заголовок" style="margin-left: 15px;"></span>
                            <span class="glyphicon glyphicon-remove js-remove-filter-group-btn" title="удалить группу" style="margin-left: 15px;"></span>
                        </h5>-->
                        <div class="input-group js-filter-group-input-holder col-md-8" style="margin: 15px 0;">
                            @Html.EditorFor(m => m.FiltersGroups[i].Title, "Text", null, new { @class = "form-control js-filter-group-title", placeholder = "Введите название группы" })
                            @Html.EditorFor(m => m.FiltersGroups[i].TitleIn, "Text", null, new { @class = "form-control js-filter-group-title-en", placeholder = "Введите название группы на английском" })
                            <span class="input-group-addon">
                                <!--<span class="glyphicon glyphicon-save js-save-filter-group-btn" title="сохранить заголовок"></span>-->
                                <span class="glyphicon glyphicon-remove js-remove-filter-group-btn" title="удалить группу"></span>
                            </span>
                        </div>
                        <div class="filter-group-holder-inside js-filter-group-holder-inside">
                            @for (var j = 0; j < Model.FiltersGroups[i].Filters.Count; j++)
                            {
                                foreach (var filter in ViewBag.Filters)
                                {
                                    if (filter.Id == Model.FiltersGroups[i].Filters[j].Id)
                                    {
                                        <div id="input-group-@i-@j" class="js-input-group" style="margin-bottom: 15px;"
                                             data-filter-id="@filter.Id"
                                             data-group-index="@i"
                                             data-filter-index="@j"
                                             data-unit-converters='@Html.Raw(JsonConvert.SerializeObject(filter.UnitConverters))'
                                             data-unit="@filter.Unit"
                                             data-type="@filter.Type">
                                            <div class="input-group">
                                                @Html.HiddenFor(m => m.FiltersGroups[i].Filters[j].Id, new { @class = "js-filter-id" })
                                                @Html.HiddenFor(m => m.FiltersGroups[i].Filters[j].Title, new { @class = "js-filter-title" })
                                                @Html.HiddenFor(m => m.FiltersGroups[i].Filters[j].TitleIn, new { @class = "js-filter-titleIn" })
                                                @Html.HiddenFor(m => m.FiltersGroups[i].Filters[j].Type, new { @class = "js-filter-type" })
                                                @Html.HiddenFor(m => m.FiltersGroups[i].Filters[j].UnitConverterIdForCatalog, new { @class = "js-filter-unitConverterIdForCatalog" })
                                                @Html.HiddenFor(m => m.FiltersGroups[i].Filters[j].UnitConverterIdForProduct, new { @class = "js-filter-unitConverterIdForProduct" })
                                                @Html.HiddenFor(m => m.FiltersGroups[i].Filters[j].ShowInGroupSelect, new { @class = "js-filter-showInGroupSelect" })
                                                <div id="filters-values-settings-@i-@j">
                                                    @for (var k = 0; k < Model.FiltersGroups[i].Filters[j].Values.Count; k++)
                                                    {
                                                        @Html.HiddenFor(m => m.FiltersGroups[i].Filters[j].Values[k].Id, new { @class = "js-value-settings-id" })
                                                        @Html.HiddenFor(m => m.FiltersGroups[i].Filters[j].Values[k].Activated, new { @class = "js-value-settings-activated" })
                                                    }
                                                </div>
                                                <input class="form-control js-search-filter" type="text" value="@filter.Title" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-remove js-remove-filter-btn" title="Удалить фильтр"></span>
                                                    <span class="glyphicon glyphicon-move js-move-filter-btn" title="Захватить и переместить"></span>
                                                    <span class="glyphicon glyphicon-cog js-settings-filter-btn" title="Настройки фильтра"></span>
                                                </span>
                                            </div>
                                            <div id="filter-settings-holder-@i-@j" class="js-filter-settings-holder" style="margin-top: 15px;"></div>
                                        </div>
                                    }
                                }

                            }
                        </div>
                        <input class="form-control js-add-filter-btn" type="text" placeholder="Добавить фильтр" />
                    </div>
                }
                <input id="add-filter-group-btn" class="form-control" style="margin-top: 15px;" type="text" placeholder="Добавить группу" />
            </div>
            @Html.ValidationMessageFor(m => m.FiltersGroups)
        </div>
    </div>
    @Html.EditorFor(m => m.MainImageId, "MainImageFormGroup", null, new { folder = "Sections" })
    @Html.EditorFor(m => m, "ImagesFormGroupV2", new { folder = "Sections", mainImageIdPropName = "null", imagesIdsPropName = "BannerIds" })
    <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Hidden) @Html.DisplayNameFor(m => m.Hidden)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.Hidden)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-5">
            <button id="save-section-btn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="delete-section-btn" data-href="@Url.Action("Delete", "Sections", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="toList" value="True" @(ViewBag.ToList == true ? "checked" : "") /> Не переходить в список
                </label>
                <input type="hidden" name="toList" value="False" />
            </div>
        </div>
    </div>
</form>