﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.SectionEditAdminPage
@{
    ViewBag.Title = "Редактирование раздела - " + Model.SectionForm.Title;
    ViewBag.ActiveNavLink = "Sections";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{
                Html.RenderPartial("_Edit", Model.SectionForm, new ViewDataDictionary
                {
                    ["Sections"] = Model.Sections,
                    ["Filters"] = Model.Filters,
                    ["SectionsAsPathSiblings"] = Model.SectionsAsPathSiblings,
                    ["FiltersTypes"] = Model.FiltersTypes,
                    ["RedirectToUrl"] = Model.RedirectToUrl,
                    ["ToList"] = Model.ToList
                });
            }
        </div>
    </div>
</div>
