﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.SectionsListAdminPage
@{
    ViewBag.Title = "Разделы";
    ViewBag.ActiveNavLink = "Sections";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <form id="filter" class="form" role="form">
            @{ Html.RenderPartial("_SectionsMenu", Model.SectionsMenu);}
            <div class="form-group col-md-2">
                <a href="@Url.Action("Create", "Sections")">Создать новый раздел</a>
            </div>
            <div class="form-group col-md-2">
                <input class="form-control" type="text" name="query" value="@Request.QueryString["query"]" onchange="document.getElementById('filter').submit();" placeholder="Поиск по заголовку" />
            </div>
        </form>
    </div>
    @if (Model.Sections.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <form id="sections-list-form">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Ид</td>
                                <td>Название</td>
                                <td>Действия</td>
                                <td>Позиция</td>
                                <td>Путь</td>
                            </tr>
                        </thead>
                        <tbody id="sections-list">
                            @for (var i = 0; i < Model.Sections.Count; i++)
                            {
                                var s = Model.Sections[i];
                                <tr class="js-section" data-section-index="@i">
                                    <td>@s.Id</td>
                                    <td>
                                        @if (s.Childs.Count > 0)
                                        {
                                            <a href="@Url.Action("Index", "Sections", new { sectionId = s.Id })">@s.Title</a>
                                        }
                                        else
                                        {
                                            <span>@s.Title</span>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Sections", new { id = s.Id })">Редактировать</a>
                                    </td>
                                    <td>
                                        @Html.HiddenFor(m => m.Sections[i].Id, new { @class = "js-section-id" })
                                        @Html.HiddenFor(m => m.Sections[i].Position, new { @class = "js-section-position" })
                                        <span class="js-section-position-text">@s.Position</span>
                                    </td>
                                    @{
                                        byte[] bytes = BitConverter.GetBytes(s.PathOfSections);
                                    }
                                    <td>
                                        <span class="js-section-path-text">
                                            @for (var j = 7; j >= 0; j--)
                                            {
                                                @(j < 7 ? "." + bytes[j] : bytes[j].ToString())
                                            }
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        if (Model.Pagination.LastPage > 1)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    @{ Html.RenderPartial("_Pagination", Model.Pagination); }
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет разделов
            </div>
        </div>
    }
</div>