﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.ResourcesListAdminPage
@{
    ViewBag.Title = "Ресурсы";
    ViewBag.ActiveNavLink = "Resources";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
        </div>
        <form id="filter" role="form">
            <div class="form-group col-md-4">
                @Html.EditorFor(m => m.ClassKey, "Select", new { List = Model.ClassKeysForSelectList, @class = "form-control", onchange = "document.getElementById('filter').submit();" })
            </div>
            <div class="form-group col-md-4">

            </div>
        </form>
    </div>
    <div class="row">
    </div>
    @if (Model.Resources.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Ключ</td>
                        <td>Значение</td>
                        <td class="@(!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : "")">Значение на английском</td>
                        <td></td>
                    </tr>
                    @foreach (var p in Model.Resources)
                    {
                        <tr>
                            <td>
                                @p.Key.Substring(p.Key.LastIndexOf(".") + 1)
                                <input type="hidden" name="Key" value="@p.Key" />
                            </td>
                            <td><input type="text" name="Value" value="@p.Value" class="form-control" /></td>
                            <td class="@(!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : "")"><input type="text" name="ValueIn" value="@p.ValueIn" class="form-control" /></td>
                            <td class="col-md-2"><a class="js-save-resource-btn">Сохранить</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет ресурсов
            </div>
        </div>
    }
</div>

