﻿@model WebApp.Models.Views.Default.PostsListPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.PostsRes.PostsListPageTitle");
}
<div class="container container-mh container-mt">
    <div class="row">
        <div class="col-xs-12">
            <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.PostsRes.PostsListPageTitle")</h2>
        </div>
    </div>
    @if (Model.Posts.Count > 0)
    {
        <div class="row">
            <div class="col-xs-12">
                <ul class="posts media-list">
                    @foreach (var p in Model.Posts)
                    {
                        <li class="media">
                            <a class="pull-left top-center" href="@p.LinkToExpertPost">
                                <img class="media-object" src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Posts/normal/@(p.MainImageId + ".jpg")" />
                            </a>
                            <div class="media-body text-justify">
                                <h4 class="media-heading">
                                    <a href="@p.LinkToExpertPost">@p.Title</a>
                                </h4>
                                @p.Annottion
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        if (Model.Pagination.LastPage > 1)
        {
            <div class="row">
                <div class="col-xs-12 text-center">
                    @{ Html.RenderPartial("_Pagination", Model.Pagination); }
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                @MvcApplication.ResourceProvider.ReadResource("Resources.PostsRes.PostsListEmpty")
            </div>
        </div>
    }
</div>