﻿@model WebApp.Models.Views.Default.PostsShowPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.PostsRes.PostsShowPageTitle") + " - " + Model.Post.Title;
}
<div class="container container-mh container-mt">
    <div class="row">
        <div class="col-xs-12 new">
            <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.PostsRes.PostsShowPageTitle") - @Model.Post.Title</h2>
            <div class="media">
                <a class="pull-left-md top-center">
                    <img class="media-object" src="@(MvcApplication.St0SiteSettings.HttpHost)Images/Posts/middle/@(Model.Post.MainImageId + ".jpg")" />
                </a>
                <div class="media-body">
                    @if (Model.Post.Description != null)
                    {
                        @Html.Raw(Model.Post.Description.Content)
                    }
                    else
                    {
                        @MvcApplication.ResourceProvider.ReadResource("Resources.PostsRes.PostDescriptionEmpty")
                    }
                </div>
            </div>
        </div>
    </div>
</div>