﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.VacancyForm
<form id="vacancy-form" class="form-horizontal col-md-8" role="form" method="POST">
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите название вакансии" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Address, "Text", null, new { @class = "form-control", placeholder = "Введите адрес" })
            @Html.ValidationMessageFor(m => m.Address)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Employment, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Employment, "Text", null, new { @class = "form-control", placeholder = "Введите занятость" })
            @Html.ValidationMessageFor(m => m.Employment)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Duties, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Duties, "TextArea", null, new { @class = "form-control", placeholder = "Введите обязанности" })
            @Html.ValidationMessageFor(m => m.Duties)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Education, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Education, "Text", null, new { @class = "form-control", placeholder = "Введите образование" })
            @Html.ValidationMessageFor(m => m.Education)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Experience, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Experience, "Text", null, new { @class = "form-control", placeholder = "Введите опыт" })
            @Html.ValidationMessageFor(m => m.Experience)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdditionalRequirements, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.AdditionalRequirements, "TextArea", null, new { @class = "form-control", placeholder = "Введите дополнительные требования" })
            @Html.ValidationMessageFor(m => m.AdditionalRequirements)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Salary, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Salary, "Text", null, new { @class = "form-control", placeholder = "Введите зарплату" })
            @Html.ValidationMessageFor(m => m.Salary)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Email, "Text", null, new { @class = "form-control", placeholder = "Введите e-mail" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WorkingConditions, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.WorkingConditions, "TextArea", null, new { @class = "form-control", placeholder = "Введите условия работы" })
            @Html.ValidationMessageFor(m => m.WorkingConditions)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.State, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.State, "Select", null, new { List = ViewBag.VacancyStates, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.State)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="save-vacancy-btn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="delete-vacancy-btn" data-href="@Url.Action("Delete", "Vacancies", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>
