﻿@model WebApp.Models.Views.Admin.VacancyCreateAdminPage
@{
    ViewBag.Title = "Добавление вакансии";
    ViewBag.ActiveNavLink = "Vacancies";
    ViewBag.VacancyStates = Model.VacancyStates;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{ Html.RenderPartial("_Edit", Model.VacancyForm, new ViewDataDictionary { ["VacancyStates"] = Model.VacancyStates });}
        </div>
    </div>
</div>