﻿@model WebApp.Models.Views.Admin.VacancyEditAdminPage
@{
    ViewBag.Title = "Редактирование вакансии - " + Model.VacancyForm.Title;
    ViewBag.ActiveNavLink = "Vacancies";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{ Html.RenderPartial("_Edit", Model.VacancyForm, new ViewDataDictionary { ["VacancyStates"] = Model.VacancyStates });}
        </div>
    </div>
</div>

