﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.VacanciesListAdminPage
@{
    ViewBag.Title = "Вакансии";
    ViewBag.ActiveNavLink = "Vacancies";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-3" style="margin-top: 28px;">
            <a href="@Url.Action("Create", "Vacancies")">Добавить вакансию</a>
        </div>
    </div>
    @if (Model.Vacancies.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Ид</td>
                        <td>Название</td>
                        <td>Действия</td>
                    </tr>
                    @foreach (var n in Model.Vacancies)
                    {
                        <tr>
                            <td><a href="@Url.Action("Show", "Vacancies", new { id = n.Id, area = "Default" })">@n.Id</a></td>
                            <td>@n.Title</td>
                            <td><a href="@Url.Action("Edit", "Vacancies", new { id = n.Id })">Редактировать</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет вакансий
            </div>
        </div>
    }
</div>
