﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.FaqForm
<form id="faqForm" class="form-horizontal col-md-8" role="form" method="POST">
    @Html.ValidationSummary(true)
    <input id="redirectToUrl" type="hidden" name="redirectToUrl" value="@ViewBag.RedirectToUrl" />
    <div class="form-group">
        @Html.LabelFor(m => m.Question, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Question, "TextArea", null, new { @class = "form-control", placeholder = "Введите вопрос", rows = 4 })
            @Html.EditorFor(m => m.QuestionIn, "TextArea", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите вопрос на английском", rows = 4 })
            @Html.ValidationMessageFor(m => m.Question)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Answer, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Answer, "TextArea", null, new { @class = "form-control", placeholder = "Введите ответ", rows = 4 })
            @Html.EditorFor(m => m.AnswerIn, "TextArea", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите ответ на английском", rows = 4 })
            @Html.ValidationMessageFor(m => m.Answer)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите заголовок" })
            @Html.EditorFor(m => m.TitleIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите заголовок на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SectionId, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.SectionId, "Select", null, new { List = ViewBag.SectionsForSelectList, @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.SectionId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProductIds, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="form-control-loading" style="display: none;"></div>
            @Html.EditorFor(m => m.ProductIds, "Select", null, new { List = ViewBag.ProductTitlesForSelectList, nameExists = false, @class = "form-control" })
            <div id="productsHolder" class="edit-list-holder clearfix">
                @for (int i = 0; i < Model.ProductIds.Count; i++)
                {
                    <div id="productHolder@(Model.ProductIds[i].Value)" class="pull-left edit-item-holder js-product-holder" data-product-id="@Model.ProductIds[i].Value">
                        @Html.HiddenFor(m => m.ProductIds[i].Value, new { @class = "js-product-id" })
                        <span class="text-nowrap">@Model.ProductIds[i].Title</span>
                        <span class="glyphicon glyphicon-remove js-remove-product-holder-btn"></span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Theme, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Theme, "Select", null, new { List = ViewBag.ThemesForSelectList, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Theme)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.OnlyManager) @Html.DisplayNameFor(m => m.OnlyManager)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.OnlyManager)
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="faqSubmitBtn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="deleteFaqBtn" data-href="@Url.Action("DeleteFaq", "Faq", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>
