﻿@model WebApp.Models.Views.Admin.CreateFaqAdminPage
@{
    ViewBag.Title = "Добавление faq";
    ViewBag.ActiveNavLink = "Faq";
}s
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{
                Html.RenderPartial("_EditFaq", Model.FaqForm,
                       new ViewDataDictionary
                       {
                           ["ThemesForSelectList"] = Model.ThemesForSelectList,
                           ["ProductTitlesForSelectList"] = Model.ProductTitlesForSelectList,
                           ["SectionsForSelectList"] = Model.SectionsForSelectList,
                           ["RedirectToUrl"] = Model.RedirectToUrl
                       });
            }
        </div>
    </div>
</div>
