﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.FaqAdminPage
@{
    ViewBag.Title = "Вопросы и ответы";
    ViewBag.ActiveNavLink = "Faq";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <form id="filter" role="form">
                <div class="form-group col-md-4">
                    @Html.EditorFor(m => m.SectionId, "Select", new { List = Model.SectionsForSelectList, @class = "form-control", onchange = "document.getElementById('filter').submit();" })
                </div>
                <div class="form-group col-md-4">
                    @Html.EditorFor(m => m.ProductId, "Select", new { List = Model.ProductTitlesForSelectList, @class = "form-control", onchange = "document.getElementById('filter').submit();" })
                </div>
                <div class="form-group col-md-4">
                    &nbsp;&nbsp;&nbsp;&nbsp; <a href="@Url.Action("CreateFaq", "Faq", new { sectionId = Model.SectionId, productId = Model.ProductId })">Создать новый faq</a>
                </div>
            </form>
        </div>
    </div>
    @if (Model.Faq.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Код</td>
                        <td>Вопрос</td>
                        <td>Ответ</td>
                        <td>Действия</td>
                    </tr>
                    @foreach (var f in Model.Faq)
                    {
                        <tr>
                            <td>@f.Id</td>
                            <td>@f.Question</td>
                            <td>@f.Answer</td>
                            <td><a href="@Url.Action("EditFaq", "Faq", new { id = f.Id })">Редактировать</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Записи отсутсвуют
            </div>
        </div>
    }
</div>