﻿@model WebApp.Models.Views.Default.NewsListPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.NewsRes.NewsListPageTitle");
    Layout = "~/Areas/Default/Views/Shared/_AboutBodyLayout.cshtml";
}
    <div class="row">
        <div class="col-xs-12">
            <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.NewsRes.NewsListPageTitle")</h2>
        </div>
    </div>
@if (Model.News.Count > 0)
{
    <div class="row">
        <div class="col-xs-12">
            <ul class="news media-list">
            @foreach (var n in Model.News)
            {
                <li class="media">
                    <a class="pull-left top-center" href="@Url.Action("Show", "News", new { id = n.Id})">
                        <img class="media-object" src="@(MvcApplication.St0SiteSettings.HttpHost)Images/News/normal/@(n.MainImageId + ".jpg")"/>
                    </a>
                    <div class="media-body text-justify">
                        <h4 class="media-heading">
                            <a href="@Url.Action("Show", "News", new { id = n.Id})">@n.Title</a>
                        </h4>
                        @n.Annottion
                    </div>
                </li>
            }    
            </ul>
        </div>
    </div>
    if (Model.Pagination.LastPage > 1)
    {
        <div class="row">
            <div class="col-md-12 text-center">
                @{ Html.RenderPartial("_Pagination", Model.Pagination); }
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-xs-12">
            @MvcApplication.ResourceProvider.ReadResource("Resources.NewsRes.NewsListEmpty")
        </div>
    </div>
}