﻿@model WebApp.Models.Views.Default.NewsShowPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.NewsRes.NewsShowPageTitle") + " - " + Model.Article.Title;
}
<div class="container container-mh container-mt">
    <div class="row">
        <div class="col-lg-3 col-xs-12">
            @{ Html.RenderPartial("_NewsWidget", Model.News);}
        </div>
        <div class="col-lg-9 col-xs-12">
            <h2>@Model.Article.Title</h2>
            @Html.Raw(Model.Article.Description.Content)
            <br/>
            @{ Html.RenderPartial("_BindedProductsWidget", Model.Article.Products);}
            <br/>
            @{ Html.RenderPartial("_Gallery", new DomainLogic.Models.Gallery { Images = (IEnumerable<DomainLogic.Interfaces.ImageInterfaces.IImage>)Model.Article.Images, Folder = "News" }); }
        </div>
    </div>
</div>  