﻿@model WebApp.Models.Views.Default.PageDetail
@if (Model.Page != null)
{
    ViewBag.Title = Model.Page.Title;
    Layout = Model.Page.Layout;
    ViewBag.ActiveNavLink = Model.Page.NavLinkName;
    ViewBag.ActiveSideMenuLink = Model.Page.Name;

    if (Model.Page.Title != null)
    {
        <h2>@Model.Page.Title</h2>
    }
    if (Model.Page.Description != null)
    {
        @Html.Raw(Model.Page.Description.Content)
    }
}
else
{
    <div class="container container-mh container-mt">
        <div class="row">
            <div class="col-xs-12">
                <h4>@MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.PageIsNotCreated")</h4>
            </div>
        </div>
    </div>
}