﻿<!-- Верхняя навигация -->
<script id="BranchPanel" type="text/x-jquery-tmpl">
    <div id="panel-default-InfoShop-nav-panel" class="panel panel-default panel-default-InfoShop-nav-panel col-md-12">
        <div class="panel-body panel-body-InfoShop-nav-panel">
            <ul class="list-group col-md-6" style="height: 470px;">
                {{each(childIndex, child) section.Childs}}
                    {{var positions = {Top: 0, Left: 0};}}
                    {{if childIndex >= 4}}
                        {{var positions = {Top: -484, Left: 265};}}
                    {{/if}}
                    {{if positionsOfSections[child.Id] !== undefined}}
                        {{var positions = positionsOfSections[child.Id];}}
                    {{/if}}
                    {{tmpl({baseUrl: baseUrl, section: child, positions: positions}) "#NodeItem"}}
                {{/each}}
            </ul>
        </div>
    </div>
</script>
<script id="NodeItem" type="text/x-jquery-tmpl">
    <li class="list-group-item list-group-item-InfoShop-nav-panel" style="top: {{= positions.Top}}px; left: {{= positions.Left}}px;">
        <span class="badge">{{= section.ProductsAmount}}</span>
        <a href="{{= baseUrl}}{{= section.Name}}">{{= section.Title}}</a>
        <ul>
            {{each(childIndex, child) section.Childs}}
                {{tmpl({baseUrl: baseUrl, section: child, positions: positions}) "#NodeItemLev2"}}
            {{/each}}
        </ul>
    </li>
</script>
<script id="NodeItemLev2" type="text/x-jquery-tmpl">
    <li>
        <a style="font-size: 11px; color: #ccc" href="{{= baseUrl}}{{= section.Name}}">{{= section.Title}}</a>
        <span style="font-size: 11px; color: #ccc;background: #fff;" class="badge">( {{= section.ProductsAmount}} )</span>
    </li>
</script>

<!-- Товары - Файлы -->
<script id="FilesHolder" type="text/x-jquery-tmpl">
    <div class="InfoShop-files-holder">
        <h4>{{= Smart.format(resources.ProductsRes.FilesHolderHeader, {"0": Files.length, "1": Files.length}) }}</h4>
        {{if Files.length > 0}}
        <div class="tables-group" style="padding: 15px;">
            {{each(FileIndex, File) Files}}
                {{tmpl({File: File, baseUrl: baseUrl, resources: resources, st0SiteHttpHost: st0SiteHttpHost}) "#FileTable"}}
            {{/each}}
        </div>
        {{/if}}
    </div>
</script>
<script id="FileTable" type="text/x-jquery-tmpl">
    {{var d = new Date(File.CreatedDate);}}
    <div class="item">
        <a data-toggle="collapse" href="#collapse-{{= File.Id}}" aria-expanded="false" aria-controls="collapse-{{= File.Id}}">
            {{= File.Id}} {{= File.Title}}
        </a>
        <span class="item-filter">{{= File.FileFiltersAsString}}</span>
    </div>
    <div id="collapse-{{= File.Id}}" class="collapse">
        <table class="table">
            <tr>
                <th class="col-md-6">{{= resources.ProductsRes.AddedOn}}</th>
                <td class="col-md-6">{{= d.getDate() < 10 ? "0" + d.getDate() : d.getDate()}}/{{= d.getMonth() < 10 ? "0" + d.getMonth() : d.getMonth()}}/{{= d.getFullYear()}}</td>
            </tr>
            <tr>
                <th>{{= resources.ProductsRes.Description}}</th>
                <td>{{= File.Description}}</td>
            </tr>
            <tr>
                <th>{{= resources.ProductsRes.Version}}</th>
                <td>{{= File.Version}}</td>
            </tr>
            <tr>
                <th>{{= resources.ProductsRes.FileSize}}</th>
                <td>{{= (File.FileSize / (1024 * 1024)).toFixed(3).toString().replace(/0+$/, "")}}</td>
            </tr>
            <tr>
                <th><a class="link-d" href="{{= File.ExternalLink}}" target="_blank">Скачать</a></th>
                <td></td>
            </tr>
        </table>
    </div>
</script>

<!-- Обратная связь - Приглашение -->
<script id="feedbackInviteMessageEmailValue" type="text/x-jquery-tmpl">
    <input id="Emails_{{= valueIndex}}__Value" name="Emails[{{= valueIndex}}].Value" type="text" style="position: absolute; top: -3000px;" value="{{= value}}" class=" form-control"  {{html validationAttributes.Emails_0__Value}} />
</script>

<!-- Обратная связь - Теги -->
<script id="feedbackTagTmpl" type="text/x-jquery-tmpl">
    <span class="feedback-tag js-feedback-tag" data-tag-title="{{= tag}}">
        <span class="feedback-tag-title js-feedback-tag-title">{{= tag}}</span>
        <span class="glyphicon glyphicon-remove js-delete-feedback-tag-btn"></span>
    </span>
</script>
<!-- Обратная связь - Главная форма -->
<script id="feedbackFormFaqItem" type="text/x-jquery-tmpl">
    <li class="js-faq-item">
        <a class="blue-dached-link js-faq-item-link" >{{= Question}}</a>
        <div class="js-faq-item-content" style="display: none;">
            <p style="margin: 10px;">{{= Answer}}</p>
        </div>
    </li>
</script>