﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.FilterForm
@{
    var titleValidationAttributes = string.Empty;
    var valueValidationAttributes = string.Empty;
    var needDelete = false;
    if (Model.Values.Count == 0)
    {
        needDelete = true;
        Model.Values.Add(new WebApp.Models.Forms.FilterValueForm());
        titleValidationAttributes = Html.EditorFor(m => m.Values[0].Title, "ValidationAttributes").ToHtmlString();
        valueValidationAttributes = Html.EditorFor(m => m.Values[0].ValueAsDouble, "ValidationAttributes").ToHtmlString();
    }
    if (needDelete)
    {
        Model.Values.RemoveAt(0);
    }
}
<form id="filter-form" class="form-horizontal col-md-8" role="form" method="POST"
      data-validation-attributes='{"@Html.IdFor(m => m.Values[0].Title)": "@titleValidationAttributes", "@Html.IdFor(m => m.Values[0].ValueAsDouble)": "@valueValidationAttributes"}'
      data-sections="@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Sections))">
    <input id="redirectToUrl" type="hidden" name="redirectToUrl" value="@ViewBag.RedirectToUrl" />
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите название фильтра" })
            @Html.EditorFor(m => m.TitleIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите название фильтра на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Type, "Select", null, new { List = ViewBag.FiltersTypes, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Type)
        </div>
    </div>
    <div class="form-group form-group-border">
        @Html.LabelFor(m => m.Unit, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Unit, "Text", null, new { @class = "form-control", placeholder = "Введите единицу измерения" })
            @Html.EditorFor(m => m.UnitIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите единицу измерения на английском" })
            @Html.ValidationMessageFor(m => m.Unit)
            <div id="converters" class="converters" style="display: @(!string.IsNullOrEmpty(Model.Unit) ? "block" : "none");">
                <h5>Конверторы:</h5>
                <div id="converter-edit" class="converter-edit">

                </div>
                <div class="converters-list  edit-list-holder clearfix">
                    @for (var i = 0; i < Model.UnitConverters.Count; i++)
                    {
                        <div id="converters-item-@i" class="converters-item js-converters-item pull-left edit-item-holder" data-converter-index="@i">
                            @Html.HiddenFor(m => m.UnitConverters[i].Id, new { @class = "js-converters-item-id" })
                            @Html.HiddenFor(m => m.UnitConverters[i].Unit, new { @class = "js-converters-item-unit" })
                            @Html.HiddenFor(m => m.UnitConverters[i].UnitIn, new { @class = "js-converters-item-unitIn" })
                            @Html.HiddenFor(m => m.UnitConverters[i].UnitK, new { @class = "js-converters-item-unitK" })
                            <span class="text-nowrap">@Model.UnitConverters[i].Unit</span>
                            <span id="show-converter-edit-btn-@i" class="glyphicon glyphicon-pencil js-show-converter-edit-btn"></span>
                            <span id="delete-converter-btn-@i" class="glyphicon glyphicon-remove js-delete-converter-btn"></span>
                        </div>
                    }
                    <div id="show-converter-add-btn" class="pull-left edit-item-holder">Добавить</div>
                </div>
            </div>
        </div>
    </div>

    <div class="converters-bindings form-group form-group-border clearfix">
        <h5>Привязка единиц измерения</h5>
        @{
            List<SelectListItem> convertersForSelectList = new List<SelectListItem>();
            convertersForSelectList.Add(new SelectListItem { Text = "не преобразовывать", Value = "-1" });
            convertersForSelectList.Add(new SelectListItem { Text = Model.Unit, Value = "0" });
            foreach (var c in Model.UnitConverters)
            {
                convertersForSelectList.Add(new SelectListItem { Text = c.Unit, Value = c.Id.ToString() });
            }

        }
        <div class="form-group">
            @Html.LabelFor(m => m.UnitConverterIdForCatalog, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.UnitConverterIdForCatalog, "Select", null, new { List = convertersForSelectList, @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UnitConverterIdForCatalog)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UnitConverterIdForProduct, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.UnitConverterIdForProduct, "Select", null, new { List = convertersForSelectList, @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UnitConverterIdForProduct)
            </div>
        </div>
    </div>
    <div class="form-group form-group-border">
        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label>
                    @Html.EditorFor(m => m.Multiple, "Boolean") @Html.DisplayNameFor(m => m.Multiple)
                </label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.Multiple)
    </div>
    <div class="form-group">
        <div class="clearfix" style="display: inline-block;">
            Расширеные функции &nbsp;&nbsp;&nbsp;
            <div class="btn-group btn-group-xs pull-right" role="group">
                <button id="onExtendedFunctionsBtn" type="button" class="btn btn-default">вкл</button>
                <button id="offExtendedFunctionsBtn" type="button" class="btn btn-default active">выкл</button>
            </div>
        </div>
        <a id="sort-values-btn" class="pull-right">Сортировать</a>
    </div>
    <div id="values-holder-wrap" class="form-group form-group-border @Model.Type.ToString()">
        @Html.LabelFor(m => m.Values, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div id="values-holder" class="values-holder">
                @for (var i = 0; i < Model.Values.Count; i++)
                {
                    <div id="value-holder-@i" class="value-holder js-value-holder" style="padding-top: 15px;" data-value-index="@i" data-value-id="@Model.Values[i].Id">
                        @Html.HiddenFor(m => m.Values[i].Id, new { @class = "js-value-id" })
                        <div class="row">
                            <div class="col-md-6" style="padding: 0;">
                                @Html.EditorFor(m => m.Values[i].Title, "Text", null, new { @class = "form-control js-value-title", placeholder = "Введите значение" })
                                @Html.EditorFor(m => m.Values[i].TitleIn, "Text", null, new { @class = "form-control js-value-title-en" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите значение на английском" })
                            </div>
                            <div class="col-md-2" style="padding: 0;">
                                @Html.EditorFor(m => m.Values[i].ValueAsDouble, "Text", null, new { @class = "form-control js-value-as-double", placeholder = "" })
                            </div>
                            <div class="col-md-4 merge-btns js-merge-btns">
                                <span class="btn btn-default btn-sm js-move-value-holder-btn">
                                    <span class="glyphicon glyphicon-move"></span>
                                </span>
                                <span class="btn btn-default btn-sm js-remove-value-holder-btn">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </span>
                                <span class="btn btn-default btn-sm btn-copy js-btn-copy">
                                    <span class="fa fa-files-o"></span>
                                </span>
                                @if (Model.Values[i].Id > 0)
                                {
                                    <span class="btn btn-default btn-sm btn-cut js-btn-cut">
                                        <span class="fa fa-scissors"></span>
                                    </span>
                                    <span class="btn btn-default btn-sm btn-paste js-btn-paste">
                                        <span class="fa fa-paste"></span>
                                    </span>
                                }
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Values[i].Title)
                    </div>
                }
            </div>
            <div class="col-md-6" style="margin-top: 15px;">
                <input id="add-value-holder-btn" class="form-control" type="text" placeholder="Добавить значение" />
            </div>
            @Html.ValidationMessageFor(m => m.Values)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="save-filter-btn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="delete-filter-btn" data-href="@Url.Action("Delete", "Filters", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>