﻿@model WebApp.Models.Views.Admin.FilterCreateAdminPage
@{
    ViewBag.Title = "Добавление фильтра";
    ViewBag.ActiveNavLink = "Filters";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{
                Html.RenderPartial("_Edit", Model.FilterForm, new ViewDataDictionary
                {
                    ["FiltersTypes"] = Model.FiltersTypes,
                    ["RedirectToUrl"] = Model.RedirectToUrl
                });
            }
        </div>
    </div>
</div>
