﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.FiltersListAdminPage
@{
    ViewBag.Title = "Фильтры";
    ViewBag.ActiveNavLink = "Filters";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <form id="filter" class="form" role="form">
            @{ Html.RenderPartial("_SectionsMenu", Model.SectionsMenu);}
            <div class="form-group col-md-2">
                <a href="@Url.Action("Create", "Filters")">Создать новый фильтр</a>
            </div>
            <div class="form-group col-md-2">
                <input class="form-control" type="text" name="query" value="@Request.QueryString["query"]" onchange="document.getElementById('filter').submit();" placeholder="Поиск по заголовку" />
            </div>
        </form>
    </div>
    @if (Model.Filters.Count > 0)
    {
        if (Model.Pagination.LastPage > 1)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    @{ Html.RenderPartial("_Pagination", Model.Pagination); }
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Код</td>
                        <td>Название</td>
                        <td>Действия</td>
                    </tr>
                    @foreach (var f in Model.Filters)
                    {
                        <tr>
                            <td>@f.Id</td>
                            <td>@f.Title &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 12px;">@f.GetSectionTitlesAsString()</span></td>
                            <td>
                                <a href="@Url.Action("Edit", "Filters", new { id = f.Id })">Редактировать</a>
                                / <a href="@Url.Action("Copy", "Filters", new { filterId = f.Id})">Сделать копию</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        if (Model.Pagination.LastPage > 1)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    @{ Html.RenderPartial("_Pagination", Model.Pagination); }
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет фильтров
            </div>
        </div>
    }
</div>