﻿@model List<WebApp.Models.Views.SupportArticleView>

@{ Html.RenderPartial("~/Areas/Default/Views/SupportArticles/_List.cshtml", Model); }

@if (Model.Count > 10)
{
    <div class="row">
        <div class="col-md-offset-4 col-md-4">                             
            <a class="link-d" href="@Url.Action("Index", "SupportArticles")">Вся лента новостей</a>
        </div>
    </div>
}
    
