﻿@using WebApp.Models.Views
@model List<WebApp.Models.Views.SupportArticleView>
<div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
        <ul class="media-list">
            @foreach (var n in Model)
            {
                <li class="media">
                    <div class="pull-left top-center">
                        @n.CreatedDate.ToString("dd.MM.yyyy")
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="@Url.Action("Show", "SupportArticles", new { id = n.Id })">@n.Title</a>
                        </h4>
                        @n.Annottion
                    </div>
                </li>
            }
        </ul>
    </div>
</div>