﻿@model WebApp.Models.Views.Default.SupportArticlesListPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.SupportArticlesRes.SupportArticlesPageTitle");
    Layout = "~/Areas/Default/Views/Shared/_SupportBodyLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.SupportArticlesRes.ArtieclesListPageHeader")</h2>
    </div>
</div>

@if (Model.Articles.Count > 0)
{
    Html.RenderPartial("_List", Model.Articles);
    
    if (Model.Pagination.LastPage > 1)
    {
        <div class="row">
            <div class="col-md-12 text-center">
                @{ Html.RenderPartial("_Pagination", Model.Pagination); }
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            @MvcApplication.ResourceProvider.ReadResource("Resources.SupportArticlesRes.ArticlesListEmpty")
        </div>
    </div>
}