﻿@model WebApp.Models.Views.Default.SupportArticleDetailPage
@{
    ViewBag.Title = string.Format(MvcApplication.ResourceProvider.ReadResource("Resources.SupportArticlesRes.SupportArticleDetailPageTitle"), Model.Article.Title);
}
<div class="container container-mh container-mt container-mb">
    <div class="row">
        <div class="col-md-12 support-article">
            <h2>@string.Format(MvcApplication.ResourceProvider.ReadResource("Resources.SupportArticlesRes.SupportArticleDetailPageTitle"), Model.Article.Title)</h2>
            <div class="media">
                <div class="media-body">
                    @Html.Raw(Model.Article.Description.Content)
                </div>
            </div>
        </div>
    </div>
</div>
