﻿@using WebApp.Models.Views
@model WebApp.Models.Views.Admin.RequestCounterAdminPage
@{
    ViewBag.Title = "Посещаемость";
    ViewBag.ActiveNavLink = "Counters";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    @if (Model.RequestCounterList.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Код</td>
                        <td>Дата</td>
                        <td>Запрошенная страница</td>
                        <td>Время выполнения запроса (мс)</td>
                    </tr>
                    @foreach (var p in Model.RequestCounterList)
                    {
                        <tr>
                            <td>@p.Id</td>
                            <td>@p.RequestTime</td>
                            <td>@p.RequestUrl</td>
                            <td>@p.RequestExcevuteTime</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        if (Model.Pagination.LastPage > 1)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    @{ Html.RenderPartial("_Pagination", Model.Pagination); }
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет записей
            </div>
        </div>
    }
</div>

