﻿@using WebApp.Models.Views
@model WebApp.Models.Forms.SupportArticleForm
<form id="support-article-form" class="form-horizontal col-md-8" role="form" method="POST">
    @Html.HiddenFor(m => m.CreatedDate)
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Title, "Text", null, new { @class = "form-control", placeholder = "Введите заголовок" })
            @Html.EditorFor(m => m.TitleIn, "Text", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите заголовок на английском" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Annottion, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.Annottion, "TextArea", null, new { @class = "form-control", placeholder = "Введите аннотацию" })
            @Html.EditorFor(m => m.AnnottionIn, "TextArea", null, new { @class = "form-control" + (!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : ""), placeholder = "Введите аннотацию на английском" })
            @Html.ValidationMessageFor(m => m.Annottion)
        </div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.Description.Id)
        @Html.LabelFor(m => m.Description.Content, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="tinymce-wrapper">
                @Html.EditorFor(m => m.Description.Content, "TextArea", null, new { @class = "form-control", placeholder = "Введите описание" })
            </div>
            <div class="tinymce-wrapper@(!MvcApplication.LocalizationSettings.IsAllowLocalization ? " hide" : "")">
                @Html.EditorFor(m => m.Description.ContentIn, "TextArea", null, new { @class = "form-control", placeholder = "Введите описание на английском" })
            </div>
            @Html.ValidationMessageFor(m => m.Description.Content)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="save-support-article-btn" type="submit" class="btn btn-default">Сохранить</button>
            @if (Model.Id > 0)
            {
                <button id="delete-support-article-btn" data-href="@Url.Action("Delete", "SupportArticles", new { id = Model.Id })" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>
