﻿@model WebApp.Models.Views.Admin.SupportArticleCreateAdminPage
@{
    ViewBag.Title = "Добавление новости";
    ViewBag.ActiveNavLink = "SupportArticles";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            @{ Html.RenderPartial("_Edit", Model.ArticleForm);}
        </div>
    </div>
</div>