﻿@{
    Layout = null;
}
<style>
    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    .image-manager-list {
        margin: 30px 0 0;
        padding: 0;
        list-style: none;
    }

    .image-manager-item {
        width: 100px;
        height: 75px;
        float: left;
        margin: 5px;
        border: 1px solid gray;
        padding: 5px;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
    }

        .image-manager-item:after {
            content: "";
            visibility: hidden;
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }

        .image-manager-item > *:first-child {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }

        .image-manager-item img {
            max-width: 100%;
            max-height: 100%;
        }

    form {
        display: inline-block;
        border: 1px solid gray;
        padding: 5px;
        border-radius: 2px;
    }
    a {
        color: black;
        text-decoration: none;
        font-style:italic;
    }
</style>
<h3>Найдите картинку или загрузите новую</h3>

<form>
    <input type="hidden" name="type" value="@(ViewBag.Folder)" />
    <input type="text" name="query" value="@ViewBag.Query" placeholder="Введите название картинки" />
    <button>Найти</button>
</form>
<form method="post" enctype="multipart/form-data" action="~/Admin/Images/ImageManagerUpload">
    <input type="hidden" name="type" value="@(ViewBag.Folder)" />
    <input type="file" name="file" />
    <button>Загрузить</button>
</form>
<div class="image-manager-container">
    @if (Model.Count > 0)
    {
        <ul class="image-manager-list clearfix">
            @foreach (var im in Model)
            {
                <li class="image-manager-item">
                    <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/@(ViewBag.Folder)/normal/@(im.Id).jpg" title="@(im.Title != null ?  im.Title : "Нет названия картинки")" alt="no image" />
                </li>
            }
        </ul>
        if (ViewBag.CurrentPage > 1)
        {
            <a href="@Url.Action("ImageManagerSearch", "Images", new { type = ViewBag.Folder, query = ViewBag.Query, page = ViewBag.CurrentPage - 1 })">&lt;&lt; Предыдущие</a><span> | </span>
        }
        <a href="@Url.Action("ImageManagerSearch", "Images", new { type = ViewBag.Folder, query = ViewBag.Query, page = ViewBag.CurrentPage + 1 })">Следующие &gt;&gt;</a>
    }
    else
    {
        if (ViewBag.CurrentPage == 1)
        {
            @:Не найдены картинки по запросу: "@ViewBag.Query"
        }
        else
        {
            @:Нет картинок на текущей странице
            <a href="@Url.Action("ImageManagerSearch", "Images", new { type = ViewBag.Folder, query = ViewBag.Query, page = ViewBag.CurrentPage - 1 })">&lt;&lt;Предыдущие</a>
        }
    }

</div>
<script src="~/Content/Javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" language="javascript">
    $(document).on("click", "img", function () {
        itemUrl = $(this).attr("src").replace("/normal/", "/middle/");
        var args = top.tinymce.activeEditor.windowManager.getParams();
        win = (args.window);
        input = (args.input);
        win.document.getElementById(input).value = itemUrl;
        top.tinymce.activeEditor.windowManager.close();
    });
</script>