﻿@model WebApp.Models.Views.FeedbackView
<div id="feedback-tag-form-@Model.Id" class="js-feedback-tag-form" data-feedback-id="@Model.Id">
    <div class="form-group">
        <div class="input-group">
            <input id="create-feedback-tag-input-@Model.Id" type="text" class="form-control js-create-feedback-tag-input" placeholder="Новый тег" />
            <span class="input-group-addon js-create-feedback-tag-btn">
                <span class="glyphicon glyphicon-floppy-disk" title="Добавить тег"></span>
            </span>
        </div>
    </div>
    <div id="feedback-tags-@Model.Id" class="feedback-tags">
        @foreach (var t in Model.FeedbackTags)
        {
            <span class="feedback-tag js-feedback-tag" data-tag-title="@t.Title">
                <span class="feedback-tag-title js-feedback-tag-title">@t.Title</span>
                <span class="glyphicon glyphicon-remove js-delete-feedback-tag-btn"></span>
            </span>
        }
    </div>
</div>  