﻿@model WebApp.Models.Forms.FeedbackImagesForm
<form id="feedback-images-form" class="form-horizontal col-xs-12 " role="form" method="POST" action="@Url.Action("EditImages", "Feedback")">
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label></label>
        <a id="attach-images-btn">Прикрепленные картинки</a>
    </div>
    @Html.EditorFor(m => m, "ImagesFormGroupV2", new { folder = "Feedbacks", mainImageIdPropName = "null", ShowImageSettingsBtn = false, ShowImagesFormGroupEl = true, ShowImageUrlInp = false })
    <div class="form-group">
        <button type="submit" class="btn btn-default">Сохранить картинки</button>
    </div>
</form>
