﻿@model WebApp.Models.Forms.FeedbackChangeThemeForm
<form id="feedbackChangeThemeForm" class="form-inline" action="@Url.Action("ChangeTheme", "Feedback")" method="post">
    @Html.HiddenFor(m => m.ReturnUrl)
    @Html.HiddenFor(m => m.FeedbackId)    
    <div class="form-group">
        @Html.EditorFor(m => m.Theme, "Select", new { List = ViewBag.FeedbackThemesSelectList, @class = "form-control" })
    </div>
    <div class="form-group">
        <button id="feedbackChangeThemeSubmitBtn" type="submit" class="btn btn-default">Переместить заявку</button>
    </div>
</form>
