﻿@model WebApp.Models.Filters.FeedbackAnswerListFilter
<form role="form">
    <div class="form-group col-md-2">
        @Html.LabelFor(m => m.DateFrom, new { @class = "control-label" })
        @Html.EditorFor(m => m.DateFrom, "TextDate", new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(m => m.DateTo, new { @class = "control-label" })
        @Html.EditorFor(m => m.DateTo, "TextDate", new { @class = "form-control" })
    </div> 
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Search, new { @class = "control-label" })
        @Html.EditorFor(m => m.Search, "Text", new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary" style="margin-top: 24px;width: 100%;">Найти</button>
    </div>
</form>