﻿@model WebApp.Models.Forms.FeedbackAnswerForm
<form id="feedback-answer-form" role="form" method="POST" action="@Url.Action("CreateFeedbackAnswer", "Feedback")">
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    @Html.HiddenFor(m => m.Feedback.Id)
    @Html.HiddenFor(m => m.Hash)
    @Html.HiddenFor(m => m.AuthorEmail)
    @Html.HiddenFor(m => m.NeedPickUp)
    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "control-label" })
        <div>
            @Html.EditorFor(m => m.Message, "TextArea", null, new
       {
           @class = "form-control",
           placeholder = @MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackAnswerFormMessageInputPlaceholder"),
           rows = 3
       })
            @Html.ValidationMessageFor(m => m.Message)
        </div>
    </div>
    @if (ViewBag.IsShowManagerControls)
    {
        <div class="form-group">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.NoticedAuthor) @Html.DisplayNameFor(m => m.NoticedAuthor)
                </label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Feedback.State, new { @class = "control-label" })
            <div>
                @Html.EditorFor(m => m.Feedback.State, "Select", null, new { List = ViewBag.FeedbackStatesSelectList, @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Feedback.State)
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.NoticedAuthor)
    }
    <div class="form-group">
        <div>
            <button id="feedback-answer-submit-btn" type="submit" class="btn btn-default">
                @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SubmitBtnCaption")
            </button>


        </div>
    </div>
</form>