﻿@model WebApp.Models.Filters.FeedbackListFilter
<form role="form">
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.SectionId, new { @class = "control-label" })
        @Html.EditorFor(m => m.SectionId, "Select", new { List = ViewBag.SectionsForSelectList, @class = "form-control" })
    </div>   
    <div class="form-group col-md-4" style="display: @(Model.SectionId == null || Model.SectionId >= 0 ? "block" : "none");">
        @Html.LabelFor(m => m.ProductId, new { @class = "control-label" })
        @Html.EditorFor(m => m.ProductId, "Select", new { List = ViewBag.ProductTitlesForSelectList, @class = "form-control" })
    </div>
    <div class="form-group col-md-4" style="display: @(Model.SectionId == -1 || Model.ProductId == -1 || Model.ProductId > 0 ? "block" : "none");">
        @Html.LabelFor(m => m.Theme, new { @class = "control-label" })
        @Html.EditorFor(m => m.Theme, "Select", new { List = ViewBag.FeedbackThemesSelectList, @class = "form-control" })
    </div>  
    <div class="form-group col-md-2">
        @Html.LabelFor(m => m.DateFrom, new { @class = "control-label" })
        @Html.EditorFor(m => m.DateFrom, "TextDate", new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(m => m.DateTo, new { @class = "control-label" })
        @Html.EditorFor(m => m.DateTo, "TextDate", new { @class = "form-control" })
    </div> 
    <div class="form-group col-md-2">     
        @Html.LabelFor(m => m.State, new { @class = "control-label" })
        @Html.EditorFor(m => m.State, "Select", new { List = ViewBag.FeedbackStatesSelectList, @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Search, new { @class = "control-label" })
        @Html.EditorFor(m => m.Search, "Text", new { @class = "form-control" })
    </div>
    <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary" style="margin-top: 24px;width: 100%;">Найти</button>
    </div>
</form>