﻿@model WebApp.Models.Forms.FeedbackChangeModelForm
<form id="feedbackChangeModelForm" class="form-horizontal " role="form" action="@Url.Action("ChangeModel", "Feedback")" method="post">    
    @Html.HiddenFor(m => m.ReturnUrl)
    @Html.HiddenFor(m => m.FeedbackId)    
    <div class="form-group">
        @Html.LabelFor(m => m.SectionId, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.SectionId, "Select", null, new { List = ViewBag.SectionsForSelectList, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SectionId)
        </div>
    </div>
    <div class="form-group" style="display: @(Model.SectionId == null || Model.SectionId >= 0 ? "block" : "none");">
        @Html.LabelFor(m => m.ProductId, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.ProductId, "Select", null, new { List = ViewBag.ProductTitlesForSelectList, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ProductId)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button id="feedbackChangeModelSubmitBtn" type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>
