﻿@model WebApp.Models.Forms.FeedbackInviteMessageForm
<form id="feedback-invite-message-form" role="form" method="POST" action="@Url.Action("InviteMessage", "Feedback")"
      data-validation-attributes='{"@Html.IdFor(m => m.Emails[0].Value)": "@Html.EditorFor(m => m.Emails[0].Value, "ValidationAttributes")"}'
      >
    @Html.HiddenFor(m => m.FeedbackId)
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <div class="form-group">
        @Html.LabelFor(m => m.Emails[0].Value, new { @class = "control-label" })
        <div>
            <input id="Emails" type="text" value="" class=" form-control" placeholder="Введите email">
            @Html.ValidationMessageFor(m => m.Emails[0].Value)
            <div id="emails-holder">
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "control-label" })
        <div>
            @Html.EditorFor(m => m.Message, "TextArea", null, new { @class = "form-control", placeholder = "Введите сообщение", rows = 3 })
            @Html.ValidationMessageFor(m => m.Message)
        </div>
    </div>
    <div>
        <b>Письма были отправлены по следующим e-mail-ам:</b> @string.Join(", ", (ViewBag.Feedback as WebApp.Models.FeedbackView).FeedbackInvitings.SelectMany(x => x.Emails.Split(',')).Distinct().ToArray())
    </div>
    <div class="form-group">
        <div>
            <button id="feedback-invite-message-submit-btn" type="submit" class="btn btn-default">
                @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SubmitBtnCaption")
            </button>
        </div>
    </div>
</form>

