﻿@model WebApp.Models.Forms.FeedbackForm
<form id="feedback-form" class="form-horizontal col-lg-8 col-md-10 col-sm-11 " role="form" method="POST">
    @Html.HiddenFor(m => m.UrlReferer)
    @Html.HiddenFor(m => m.IsShowFeedbackMainFormGroups)
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.FullName, "Text", null, new
       {
           @class = "form-control",
           placeholder = MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackFormUserNameInputPlaceholder"),
           @readonly = Model.IsReadOnlyFullNameInput
       })
            @Html.ValidationMessageFor(m => m.FullName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Email, "Text", null, new
       {
           @class = "form-control",
           placeholder = MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackFormUserEmailInputPlaceholder"),
           @readonly = Model.IsReadOnlyEmailInput
       })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SectionId, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.SectionId, "Select", null, new { List = ViewBag.SectionsForSelectList, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SectionId)
        </div>
    </div>
    <div class="form-group" style="display: @(Model.SectionId == null || Model.SectionId >= 0 ? "block" : "none");">
        @Html.LabelFor(m => m.ProductId, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.ProductId, "Select", null, new { List = ViewBag.ProductTitlesForSelectList, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ProductId)
        </div>
    </div>
    <div class="form-group" style="display: @(Model.SectionId == -1 || Model.ProductId == -1 || Model.ProductId > 0 ? "block" : "none");">
        @Html.LabelFor(m => m.Theme, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Theme, "Select", null, new { List = ViewBag.FeedbackThemesSelectList, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Theme)
        </div>
    </div>

    <fieldset id="feedbackMainFormGroups" style="display: @(Model.Theme != DomainLogic.Models.Enumerations.FeedbackThemeEnum.None ? "block" : "none");">
        <div class="form-group">
            <div id="faqHolder" class="faq-holder col-sm-offset-3 col-sm-9" style="display: @(ViewBag.Faq != null && ((List<WebApp.Models.FaqView>)ViewBag.Faq).Count > 0 ? "block" : "none");">
                <p id="serialNumberPrompt" class="bg-danger" style="padding: 15px; display: none;">
                    Уважаемые пользователи, для ускорения обработки обращений на данную тему просьба указывать в тексте серийный номер устройства("S/N" указан на стикере на самом устройстве либо его упаковке), адрес сервисного центра либо магазина, куда вы обращались и номер предыдущего обращения в СЦ, если таковой имеется.
                </p>
                <h5>@MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.PleaseReadFAQPrompt")</h5>
                <ul id="feedbackFaqList" class="list-unstyled"></ul>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.EditorFor(m => m.Message, "TextArea", null, new
           {
               @class = "form-control",
               placeholder = MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackFormMessageInputPlaceholder"),
               rows = 7
           })
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        <div class="form-group">
            <label></label>
            <a id="attach-images-btn" class="pull-right" style="margin-right: 15px;">
                @MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.AttachImagesLink")
            </a>
        </div>
        @Html.EditorFor(m => m, "ImagesFormGroupV2", new { folder = "Feedbacks", mainImageIdPropName = "null", ShowImageSettingsBtn = false, ShowImagesFormGroupEl = false, ShowImageUrlInp = false })
        @if (Model.IsShowCaptcha)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Captcha, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    <img src="@Url.Action("Captcha", "Common")" onclick="this.src = this.src.split('?')[0] + '?' + new Date()" style="cursor: pointer;" title="Обновить" /><br /><br />
                    @Html.EditorFor(m => m.Captcha, "Text", null, new
               {
                   @class = "form-control",
                   placeholder = MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.CaptchaDisplayName")
               })
                    @Html.ValidationMessageFor(m => m.Captcha)
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button id="feedback-submit-btn" type="submit" class="btn btn-default">
                    @MvcApplication.ResourceProvider.ReadResource("Resources.ViewsRes.SubmitBtnCaption")
                </button>
            </div>
        </div>
    </fieldset>
</form>
