﻿@using DomainLogic.Models.Enumerations
@using DomainLogic.Infrastructure.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Default.FeedbackAnswerListPage
@{
    ViewBag.Title = "Список ответов на сообщения";
    ViewBag.NonResponsiveSite = true;
}
<div class="container container-mh container-mt">
    <div class="row">
        <div class="col-md-12">
            <h2>Список сообщений</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @{ Html.RenderPartial("_FeedbackAnswerListFilter", Model.Filter);}
        </div>
    </div>
    @if (Model.FeedbackAnswers.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>Номер/Дата</th>
                        <th>Пользователь</th>
                        <th>Ответ</th>
                    </tr>
                    @foreach (var fa in Model.FeedbackAnswers)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Show", "Feedback", new { id = @fa.FeedbackId })">@fa.Id</a><br />
                                <span>@fa.CreatedDate</span>
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(fa.User.FullName))
                                {
                                    <span>@fa.User.FullName</span>
                                }
                                <span>@fa.User.Email</span>
                            </td>
                            <td class="text-break">
                                @Html.Raw(fa.Message.Replace("\r\n", "<br/>").Replace("\n", "<br/>"))
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет ответов на сообщения. Попытайтесь изменить параметры поиска
            </div>
        </div>
    }
    @if (Model.Pagination.LastPage > 1)
    {
        <div class="row">
            <div class="col-md-12 text-center">
                @{ Html.RenderPartial("_Pagination", Model.Pagination); }
            </div>
        </div>
    }
</div>
