﻿@model WebApp.Models.Views.Default.FeedbackFormPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackFormPageTitle");
}
<div class="container container-mh container-mt">
    <div class="row">
        <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackFormPageTitle")</h2>
        @{
            Html.RenderPartial("_Feedback", Model.Feedback, new ViewDataDictionary
            {
                ["FeedbackThemesSelectList"] = Model.FeedbackThemesSelectList,
                ["SectionsForSelectList"] = Model.SectionsForSelectList,
                ["ProductTitlesForSelectList"] = Model.ProductTitlesForSelectList,
                ["Faq"] = Model.Faq
            });
        }
    </div>
</div>