﻿@using DomainLogic.Models.Enumerations
@using DomainLogic.Infrastructure.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Default.FeedbackListPage
@{
    ViewBag.Title = "Список сообщений";
    ViewBag.NonResponsiveSite = true;
}
<div class="container container-mh container-mt">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @{
                Html.RenderPartial("_FeedbackListFilter", Model.Filter, new ViewDataDictionary
                {
                    ["FeedbackThemesSelectList"] = Model.FeedbackThemesSelectList,
                    ["SectionsForSelectList"] = Model.SectionsForSelectList,
                    ["ProductTitlesForSelectList"] = Model.ProductTitlesForSelectList,
                    ["FeedbackStatesSelectList"] = Model.FeedbackStatesSelectList
                });
            }
        </div>
    </div>
    @if (Model.Feedbacks.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>Номер/Дата</th>
                        <th>Тема</th>
                        <th>Пользователь</th>
                        <th>Сообщение</th>
                        <th>Статус</th>
                        <th>Ответов</th>
                        <th class="col-md-2">Теги</th>
                    </tr>
                    @foreach (var fd in Model.Feedbacks)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Show", "Feedback", new { id = @fd.Id })">@fd.Id</a><br />
                                <span>@fd.CreatedDate</span>
                            </td>
                            <td>
                                @fd.Theme.GetTitle()
                            </td>
                            <td>
                                @if (fd.User != null)
                                {
                                    if (!string.IsNullOrEmpty(fd.User.FullName))
                                    {
                                        <span>@fd.User.FullName</span>
                                    }
                                    <span>@fd.User.Email</span>
                                }
                            </td>
                            <td class="text-break">
                                @Html.Raw(fd.Message.Replace("\r\n", "<br/>").Replace("\n", "<br/>"))
                            </td>
                            <td>
                                @{ Html.RenderPartial("_DropdownMenu", fd.StatesMenu); }
                            </td>
                            <td>
                                @fd.AnswersAmount
                            </td>
                            <td>
                                @{ Html.RenderPartial("_FeedbackTags", fd);}
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Нет сообщений. Попытайтесь изменить параметры поиска <!--No messsages found. Please try to change search parameters-->
            </div>
        </div>
    }
    @if (Model.Pagination.LastPage > 1)
    {
        <div class="row">
            <div class="col-md-12 text-center">
                @{ Html.RenderPartial("_Pagination", Model.Pagination); }
            </div>
        </div>
    }
</div>
