﻿@using DomainLogic.Models.Enumerations
@using DomainLogic.Infrastructure.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Default.MyFeedbackListPage

@{
    ViewBag.Title = "Обсуждения в обратной связи";
    Layout = "~/Areas/Default/Views/Shared/_AccountBodyLayout.cshtml";
    ViewBag.ActiveNavLink = "Account";
    ViewBag.ActiveSideMenuLink = "MyFeedbackList";
}
<h2>@ViewBag.Title</h2>
@if (Model.Feedbacks.Count > 0)
{
    <table class="table table-striped">
        <tr>
            <th>Номер/Дата</th>
            <th>Тема</th>
            <th>Сообщение</th>
        </tr>
        @foreach (var fd in Model.Feedbacks)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Show", "Feedback", new { id = @fd.Id })">@fd.Id</a><br />
                    <span>@fd.CreatedDate</span>
                </td>
                <td>
                    @fd.Theme.GetTitle()
                </td>
                <td class="text-break">
                    @Html.Raw(fd.Message.Replace("\r\n", "<br/>").Replace("\n", "<br/>"))
                </td>
            </tr>
        }
    </table>
}
else
{
    @:Нет обсуждений
}