﻿@using DomainLogic.Models.Enumerations
@using DomainLogic.Infrastructure.Extensions
@using WebApp.Models.Views
@model WebApp.Models.Views.Default.FeedbackShowPage
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackShowPageTitle");
    ViewBag.FeedbackStatesSelectList = Model.FeedbackStatesSelectList;
    ViewBag.FeedbackThemesSelectList = Model.FeedbackThemesSelectList;
    ViewBag.SectionsForSelectList = Model.SectionsForSelectList;
    ViewBag.ProductTitlesForSelectList = Model.ProductTitlesForSelectList;
    ViewBag.Feedback = Model.Feedback;
    ViewBag.ReturnUrl = Model.ReturnUrl;
    ViewBag.IsShowManagerControls = Model.IsShowManagerControls;
}
<div class="container container-mh container-mt">
    @if (Model.IsShowManagerControls || Model.IsAuthor || Model.FeedbackReadPermission)
    {
        <div class="row">
            <div class="col-xs-8">
                @if (Model.IsShowManagerControls)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>@MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackShowPageTitle")</h2>
                            <p>Статус: @(Model.Feedback.State.GetTitle()) (установил <a href="#">@Model.Feedback.UserWhoSetTheState.FullName</a>)</p>
                            @{ Html.RenderPartial("_FeedbackChangeTheme", Model.FeedbackChangeThemeForm);}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-xs-12">
                            Сообщение отправлено со страницы <a href="@Model.Feedback.UrlReferer">@Model.Feedback.UrlReferer</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        @if (Model.Feedback.Section != null)
                        {
                            <div class="col-xs-4" style="margin-top: 15px;">
                                <b>Указанный раздел:</b> @Model.Feedback.Section.Title
                            </div>
                        }
                        @if (Model.Feedback.Product != null)
                        {
                            <div class="col-xs-4" style="margin-top: 15px;">
                                <b>Указанная модель:</b> @Model.Feedback.Product.Title
                            </div>
                        }
                    </div>
                }
                <div class="row">
                    <div class="col-xs-12" style="margin-top: 15px;">
                        @{ Html.RenderPartial("_FeedbackImages", Model.ImagesForm);}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="media media-InfoShop-feedback">
                            <div class="media-body">
                                <h5 class="media-InfoShop-feedback-header">
                                    <a href="#">@(!string.IsNullOrEmpty(Model.Feedback.User.FullName) ? Model.Feedback.User.FullName : Model.Feedback.User.Email)</a>
                                    @Model.Feedback.CreatedDate.ToString("dd.MM.yyyy")
                                </h5>
                                @Html.Raw(Model.Feedback.Message.Replace("\r\n", "<br/>").Replace("\n", "<br/>"))
                            </div>
                        </div>
                        <h4>
                            @MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackShowDiscussionsHeader")
                        </h4>
                        @foreach (var fa in @Model.Feedback.Answers)
                        {
                            // не показывваем некоторые сообщения, если пользователя не является менеджером
                            if (Model.IsAuthor && !fa.NoticedAuthor)
                            {
                                continue;
                            }
                            <div class="media media-InfoShop-feedback-answer">
                                <div class="media-body">
                                    <h5 class="media-InfoShop-feedback-header">
                                        <a href="#">@(!string.IsNullOrEmpty(fa.User.FullName) ? fa.User.FullName : fa.User.Email)</a> @fa.CreatedDate.ToString("dd.MM.yyyy")
                                        @if (Model.IsShowManagerControls)
                                        {
                                            @:&nbsp; &nbsp; &nbsp; &nbsp;
                                            <a class="js-edit-btn" href="@Url.Action("CreateFaq", "Faq", new { area = "Admin", feedbackAnswer = fa.Id})" target="_blank">
                                                <span class="fa fa-pencil-square-o"></span>
                                            </a>
                                        }
                                    </h5>
                                    @Html.Raw(fa.Message.Replace("\r\n", "<br/>").Replace("\n", "<br/>"))
                                </div>
                            </div>
                        }
                        <br />
                        @if (Model.IsShowManagerControls || Model.IsAuthor || Model.FeedbackReadPermission)
                        {
                            if (!Model.FeedbackAnswer.NeedPickUp && Model.Feedback.State == StateEnum.Decided)
                            {
                                <div class="row" style="margin-bottom:30px;">
                                    <div class="col-xs-12 text-success">
                                        Обсуждению был присвоен статус "Решен". Если у вас остались еще вопросы, вы можете продолжить обсуждение,
                                        <b><a class="link-d text-success" href="@Url.Action("Show", "Feedback", new { id = Model.Feedback.Id, needPickUp = true })">нажав сюда</a></b>. Создать новое обсуждение можно
                                        <b><a class="link-d text-success" href="@Url.Action("Index", "Feedback", new { sectionId = Model.Feedback.SectionId, productId = Model.Feedback.ProductId })">тут</a></b>.
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row feedback-answer">
                                    <div class="col-xs-12 form-group-border">
                                        @if (Model.IsAuthor || Model.FeedbackReadPermission)
                                        {
                                            Model.FeedbackAnswer.NoticedAuthor = true; // нужно чтоб автор увидел свое сообщение
                                        }
                                        @{ Html.RenderPartial("_FeedbackAnswer", Model.FeedbackAnswer);}
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div>@MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackShowDenySendAnswer")</div>
                        }
                    </div>
                </div>
                @if (Model.IsShowManagerControls)
                {
                    <div class="row" style="margin-bottom:15px;">
                        <h4>Добавить теги</h4>
                        <div class="col-xs-12 form-group-border">
                            @{ Html.RenderPartial("_FeedbackTags", Model.Feedback);}
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px;">
                        <h4>Изменить указанную модель</h4>
                        <div class="col-xs-12 form-group-border">
                            @{ Html.RenderPartial("_FeedbackChangeModel", Model.FeedbackChangeModelForm);}
                        </div>
                    </div>
                    <div class="row feedback-invite">
                        <div class="col-xs-12 form-group-border">
                            <h4><a id="show-invite-messge-form-btn">Написать письмо</a></h4>
                            <div id="invite-message-form" style="display: none;">
                                @{ Html.RenderPartial("_FeedbackInviteMessage", Model.FeedbackInviteMessageForm);}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            @if (!string.IsNullOrEmpty(Model.ReturnUrl))
                            {
                                <a href="@Model.ReturnUrl">Перейти обратно на страницу со списком сообщений</a><br /><br />
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-4">
                @if (Model.IsShowManagerControls)
                {
                    <div id="faqHolder" class="faq-holder" style="height: 600px; overflow-y: auto;">
                        <ul id="feedbackFaqList" class="list-unstyled">
                            @helper RenderFaq(WebApp.Models.FaqView f)
                                {
                                    <li class="js-faq-item">
                                        <a class="blue-dached-link js-faq-item-link">@f.Question</a>&nbsp;&nbsp;&nbsp;<a class="js-faq-copy-answer"><i class="fa fa-files-o"></i></a>
                                        <div class="js-faq-item-content" style="display: none;">
                                            <p style="margin: 10px;">
                                                <span class="js-faq-item-answer">@f.Answer</span>
                                            </p>
                                        </div>
                                    </li>
}
                            @foreach (var f in Model.Faq)
                            {
                                if (f.SectionId == null)
                                {
                                    @RenderFaq(f);
                                }
                            }
                            @foreach (var f in Model.Faq)
                            {
                                if (f.SectionId != null)
                                {
                                    @RenderFaq(f);
                                }
                            }
                        </ul>

                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                @MvcApplication.ResourceProvider.ReadResource("Resources.FeedbackRes.FeedbackShowDenyAccess")
            </div>
        </div>
    }
</div>