﻿@{
    var data = Html.FieldInfo(m => m);
}
<div id="@data["id"]" @Html.Raw(data["dataAttributes"]) @(data["readonly"] != null && (bool)data["readonly"] ? "readonly" : "") data-value="@data["value"]" class="btn-group" data-toggle="buttons">
    @foreach (var item in (List<SelectListItem>)data["list"])
    {
        <label class="btn btn-default @(((string)data["value"]).Equals(item.Value) ? "active" : "")">
            <input type="radio"  @Html.Raw((bool)data["nameExists"] == false ? "" : "name=\"" + data["name"] + "\"") value="@item.Value" 
                class="@(!(bool)data["valid"] ? "field-validation-error" : "") @data["class"]"  @Html.Raw(((string)data["value"]).Equals(item.Value) ? "checked=\"checked\"" : "")  />
            @Html.Raw(item.Text)
        </label>
    }
</div>
