﻿@{
    var data = Html.FieldInfo(m => m);
}
<select id="@data["id"]" @Html.Raw((bool)data["nameExists"] == false ? "" : "name=\"" + data["name"] + "\"")
        class="@(!(bool)data["valid"] ? "field-validation-error" : "") @data["class"]"
        @Html.Raw(data["dataAttributes"]) @(data["readonly"] != null && (bool)data["readonly"] ? "readonly" : "") data-value="@data["value"]">
    @foreach (var item in (List<SelectListItem>)data["list"])
    {
        <option value="@item.Value" @Html.Raw(((string)data["value"]).Equals(item.Value) ? "selected=\"selected\"" : "")>@item.Text</option>
    }
</select>
<div class="multiselect-holder">
    <div class="btn-group" style="width: 100%;">
        <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="металл" style="width: 100%; overflow: hidden; text-overflow: ellipsis;">
            <span class="multiselect-selected-text">металл</span> <b class="caret"></b>
        </button>
        <ul class="multiselect-container dropdown-menu" style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
            <li class="active">
                <label class="checkbox">
                    <input type="checkbox" value="39618"> металл
                </label>
            </li>
        </ul>
    </div>
</div>
