﻿@using WebApp.Models.Forms
@{
    var folder = ViewBag.folder;
    var mainImageIdPropName = ViewBag.mainImageIdPropName != null ? (string)ViewBag.mainImageIdPropName : "MainImageId";
    var imagesIdsPropName = ViewBag.imagesIdsPropName != null ? (string)ViewBag.imagesIdsPropName : "ImagesIds";
    var mainImageId = 0L;
    if (!mainImageIdPropName.Equals("null"))
    {
        mainImageId = MvcApplication.ReflectorUtils.GetPropValue(Model, mainImageIdPropName);
    }
    var imagesIds = (IList<ImageId>)MvcApplication.ReflectorUtils.GetPropValue(Model, imagesIdsPropName);
    var showImageSettingsBtn = ViewBag.ShowImageSettingsBtn != null ? (bool)ViewBag.ShowImageSettingsBtn : true;
    var showImageUrlInp = ViewBag.ShowImageUrlInp != null ? (bool)ViewBag.ShowImageUrlInp : true;
    var showImagesFormGroupEl = ViewBag.ShowImagesFormGroupEl != null ? (bool)ViewBag.ShowImagesFormGroupEl : true;

    var needDelete = false;
    if (imagesIds.Count == 0)
    {
        needDelete = true;
        imagesIds.Add(new ImageId());
    }
    var imageValidationAttributes = Html.Editor(imagesIdsPropName + "[0].Value", "ValidationAttributes");
    if (needDelete)
    {
        imagesIds.RemoveAt(0);
    }
}
@if (!mainImageIdPropName.Equals("null"))
{
    @Html.Hidden(mainImageIdPropName)
}
<div id="images-form-group" class="form-group images-form-group form-group-border" style="@(showImagesFormGroupEl ? "display: block;" : "display: none;") @(!showImageUrlInp ? "padding-bottom: 0;" : "")"
     data-module="images"
     data-folder="@(folder)"
     data-main-image-id-prop-name="@mainImageIdPropName"
     data-images-ids-prop-name="@imagesIdsPropName"
     data-show-image-settings-btn=@showImageSettingsBtn.ToString().ToLower()
     data-validation-attributes='{"@Html.Id(imagesIdsPropName + "[0].Value")": "@imageValidationAttributes"}'>
    @if (showImagesFormGroupEl)
    {
        @Html.Label(imagesIdsPropName, new { @class = "col-xs-12 control-label", style = "text-align:left;margin-bottom: 15px;" })
    }
    <div class="row js-images-holder">
        @for (var i = 0; i < imagesIds.Count; i++)
        {
            var imagePropName = imagesIdsPropName + "[" + i + "].Value";
            var imageId = MvcApplication.ReflectorUtils.GetPropValue(Model, imagePropName);
            <div id="image-@imageId" class="col-xs-3 js-image" data-image-id="@imageId">
                @Html.Editor(imagePropName, "Hidden", new { __Model = Model })
                <div class="thumbnail">
                    <a class="center-center" href="@(MvcApplication.St0SiteSettings.HttpHost)Images/@(folder)/@(imageId).jpg" target="_blank">
                        <img src="@(MvcApplication.St0SiteSettings.HttpHost)Images/@(folder)/normal/@(imageId).jpg" alt="" />
                    </a>
                    <div class="caption text-center">
                        <span class="glyphicon glyphicon-remove js-remove-image-btn" title="Удалить фотографию"></span>
                        @if (!mainImageIdPropName.Equals("null"))
                        {
                            <span id="set-main-image-btn-@imageId" class="glyphicon glyphicon-magnet @(imageId == mainImageId ? "active" : "") js-set-main-image-btn" title="Сделать главной"></span>
                        }
                        @if (showImageSettingsBtn)
                        {
                            <span class="fa fa-cog js-open-image-settings-btn" title="Настройки" data-image-id="@imageId"></span>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="col-xs-3 js-add-image-holder">
            <div class="thumbnail">
                <a class="center-center">
                    <span class="loading js-loading" style="display: none;"></span>
                    <span class="glyphicon glyphicon-plus js-add-image-btn"></span>
                    <input class="file js-file" type="file" name="file" multiple="multiple" />
                </a>
            </div>
        </div>
    </div>
    @if (showImageUrlInp)
    {
        <div class="col-xs-12">
            <div class="input-group">
                <input id="image-url-input" class="form-control" type="text" value="" placeholder="Укажите url или ftp картинки" />
                <span class="input-group-addon">
                    <span id="upload-image-btn" class="glyphicon glyphicon-upload disabled" title="Загрузить картинку"></span>
                </span>
            </div>
        </div>
    }
    @Html.ValidationMessage(mainImageIdPropName)
</div>