﻿@{
    var folder = ViewBag.folder;
    var noPhoto = (long?)ViewBag.noPhoto;
    var showImageSettingsBtn = ViewBag.ShowImageSettingsBtn != null ? (bool)ViewBag.ShowImageSettingsBtn : true;
}

<div id="@Html.IdFor(m => m)-wrap" class="form-group images-form-group"
     data-module="mainImage" 
     data-folder="@folder"
     data-main-image-id="@Html.IdFor(m => m)">
    @Html.LabelFor(m => m, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.HiddenFor(m => m)
        <div id="image-holder" class="col-md-4 js-mi-image-holder" style="@(Model == 0 || Model == noPhoto ? "display: none;" : "")">
            <div class="thumbnail">
                <a class="center-center"@Html.Raw(Model > 0 ? "href=\"" + MvcApplication.St0SiteSettings.HttpHost + "Images/" + folder + "/" + Model + ".jpg" + "\"" : "") target="_blank">
                    <img id="image" class="js-mi-image" @Html.Raw(Model > 0 ? "src=\"" + MvcApplication.St0SiteSettings.HttpHost + "Images/" + folder + "/normal/" + ViewData.Model + ".jpg" + "\"" : "") alt="" />
                </a>
                <div class="caption text-center">
                    <span id="remove-image-btn" class="glyphicon glyphicon-remove js-mi-remove-image-btn" title="Удалить фотографию"></span>
                    @if (showImageSettingsBtn)
                    {
                        <span class="fa fa-cog js-open-image-settings-btn" title="Настройки" data-image-id="@Model"></span>
                    }
                </div>
            </div>
        </div>
        <div id="add-image-holder" class="col-md-4 js-mi-add-image-holder" style="@(Model > 0 && Model != noPhoto ? "display: none;" : "")">
            <div class="thumbnail">
                <a class="center-center">
                    <span id="add-image-btn" class="glyphicon glyphicon-plus js-mi-add-image-btn"></span>
                    <span id="loading" class="loading js-mi-loading" style="display: none;"></span>
                    <input id="@Html.IdFor(m => m)-file" class="file js-mi-file" type="file" name="file" />
                </a>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>