﻿@{
    var data = Html.FieldInfo(m => m);    
}
<select id="@data["id"]" @Html.Raw((bool)data["nameExists"] == false ? "" : "name=\"" + data["name"] + "\"") 
        class="@(!(bool)data["valid"] ? "field-validation-error" : "") @data["class"]" 
        @Html.Raw(data["dataAttributes"]) @(data["readonly"] != null && (bool)data["readonly"] ? "readonly" : "") data-value="@data["value"]" 
        @Html.Raw(data["onchange"] != null ? "onchange=\"" + data["onchange"] + "\"" : "")>
    @foreach (var item in (List<SelectListItem>)data["list"])
    {
        <option value="@item.Value" @Html.Raw(((string)data["value"]).Equals(item.Value) ? "selected=\"selected\"" : "")>@item.Text</option>
    }
</select>
