﻿// Общие стили
/* *********************************************************** */


// работаем с сеткой (grid)
// -----------------------------
.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-1-5 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-1-5 {
		width: 20%;
		float: left;
	}				
}
@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}
@import '../../../../Content/Bundles/bootstrap/css/bootstrap.less';
@import '../../../../Content/Styles/Common.less';

// плавающие элементы
// ---------------------
@media (min-width: @screen-sm-min) {
    .pull-right-sm {
      float: right;
    }
}
@media (min-width: @screen-md-min) {
    .pull-right-md {
      float: right;
    }
}
@media (min-width: @screen-lg-min) {
    .pull-right-lg {
      float: right;
    }
}
@media (min-width: @screen-sm-min) {
    .pull-left-sm {
      float: left;
    }
}
@media (min-width: @screen-md-min) {
    .pull-left-md {
      float: left;
    }
}
@media (min-width: @screen-lg-min) {
    .pull-left-lg {
      float: left;
    }
}
// основные контейнеры
// --------------------
.body-inner {
    background: #414042;
    width: 100%;
    // min-width: 1200px; //!-
}
.container-wrap {
    background: #fff;
    padding-top: 72px;
    @media (max-width: @screen-xs-max) {
        padding-top: 0;
    }
}
.container-wrap-inner {
    background: #fff; /* для фикса при разрешении меньше 1200px */
    // width: 1200px; //!-
    margin: 0 auto;
}
// panel 
.panel {
  border-radius: 0px;
}
.panel-default {
  border-color: #e6e7e8;
}

// thumbnail 
// -------------------
.thumbnail {
  border: 1px solid #e6e7e8;
  border-radius: 0px;
  /*-webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;*/
}

// хлебные крошки
// ------------------- 
.breadcrumb {
    display: inline-block;
    margin: 20px 0px 0px;
    padding-left: 11px;
    border: 1px solid #e6e7e8;
    border-radius: 0px;
    background-color: transparent;
}
.breadcrumb > li + li:before {
    content: ">";
    padding: 0 5px;
    color: #414042;
}
.breadcrumb > .active {
  color: #414042;
}

// список list-group 
// --------------------
.list-group-item {
    border: 0px;
    border-radius: 0px;
    color: #636466;
    background-color: #e6e7e8;
}
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0   px;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color: #636466;
    background-color: #bcbec0;
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #d1d3d4;
}

// пагинация
// ---------------------
.pagination {
    border-radius: 0px;
}
.pagination > li > a,
.pagination > li > span {
  color: #414042;
  background-color: #ffffff;
  border: 1px solid #e6e7e8;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #414042;
  background-color: #d1d3d4;
  border-color: #e6e7e8;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #414042;
  background-color: #bcbec0;
  border-color: #e6e7e8;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #414042;
  background-color: #ffffff;
  border-color: #e6e7e8;
}
// кнопки button
// -----------------------
.btn-default {
  color: #414042;
  background-color: #ffffff;
  border-color: #e6e7e8;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #414042;
  background-color: #e6e7e8;
  border-color: #e6e7e8;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #e6e7e8;
}

.btn-primary {
  color: #414042;
  background-color: #d1d3d4;
  border-color: #e6e7e8;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #414042;
  background-color: #bcbec0;
  border-color: #e6e7e8;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #d1d3d4;
  border-color: #e6e7e8;
}

// табы
// ---------------------
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #e6e7e8;
}
.nav-tabs {
  border-bottom: 1px solid #e6e7e8;
}
.nav-tabs > li > a {
  border-radius: 0px;
}
.nav-tabs > li > a:hover {
  border-color: #e6e7e8 #e6e7e8 #e6e7e8;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #414042;
  border: 1px solid #e6e7e8;
  border-bottom-color: transparent;
  cursor: default;
}
.tab-content {    
    border: 1px solid #e6e7e8;
    border-top-width: 0px;
    padding: 30px;
    margin-bottom: 20px;
}


// заголовки
// ------------------
h2 {
    margin: 0 0 20px;
}
h2, 
.h2, 
.header-30-90,
.header-30-75,
.header-30-50,
.header-30-20,
.header-30-10,
.header-30-0,
h3, 
.h3, 
.header-24-90,
.header-24-75,
.header-24-50,
.header-24-20,
.header-24-10,
.header-24-0,
h4, 
.h4, 
.header-18-90,
.header-18-75,
.header-18-50,
.header-18-20,
.header-18-10,
.header-18-0,
h5, 
.h5, 
.header-14-90,
.header-14-75,
.header-14-50,
.header-14-20,
.header-14-10,
.header-14-0,
h6, 
.h6, 
.header-12-90,
.header-12-75,
.header-12-50,
.header-12-20,
.header-12-10,
.header-12-0  {
    text-shadow: none;
}
h3 > a, 
h3 > a:hover,
.h3 > a,
.h3 > a:hover, 
.header-24-90 > a, 
.header-24-90 > a:hover,
.header-24-75 > a,
.header-24-75 > a:hover,
.header-24-50 > a,
.header-24-50 > a:hover,
.header-24-20 > a,
.header-24-20 > a:hover,
.header-24-10 > a,
.header-24-10 > a:hover,
.header-24-0 > a,
.header-24-0 > a:hover,
h4 > a, 
h4 > a:hover,
.h4 > a, 
.h4 > a:hover, 
.header-18-90 > a, 
.header-18-90 > a:hover,
.header-18-75 > a,
.header-18-75 > a:hover,
.header-18-50 > a,
.header-18-50 > a:hover,
.header-18-20 > a,
.header-18-20 > a:hover,
.header-18-10 > a,
.header-18-10 > a:hover,
.header-18-0 > a,
.header-18-0 > a:hover,
h5 > a, 
h5 > a:hover,
.h5 > a, 
.h5 > a:hover, 
.header-14-90 > a, 
.header-14-90 > a:hover,
.header-14-75 > a,
.header-14-75 > a:hover,
.header-14-50 > a,
.header-14-50 > a:hover,
.header-14-20 > a,
.header-14-20 > a:hover,
.header-14-10 > a,
.header-14-10 > a:hover,
.header-14-0 > a,
.header-14-0 > a:hover {
    color: inherit;
    font-size: inherit;
}

h2, .h2, .header-30-90,
h3, .h3, .header-24-90,
h4, .h4, .header-18-90,
h5, .h5, .header-14-90,
h6, .h6, .header-12-90
 {
    color: #414042;
}
.header-30-75,
.header-24-75,
.header-18-75,
.header-14-75,
.header-12-75 {
    color: #636466;
}
.header-30-50,
.header-24-50,
.header-18-50,
.header-14-50,
.header-12-50 {
    color: #939598;
}
.header-30-20,
.header-24-20,
.header-18-20,
.header-14-20,
.header-12-20 {
    color: #d1d3d4;
}
.header-30-10,
.header-24-10,
.header-18-10,
.header-14-10,
.header-12-10 {
    color: #e6e7e8;
}
.header-30-0,
.header-24-0,
.header-18-0,
.header-14-0,
.header-12-0 {
    color: #ffffff;
}

h2, .h2, .header-30-90,
.header-30-75,
.header-30-50,
.header-30-20,
.header-30-10,
.header-30-0  {
    font-size: 30px;
}

h3, .h3, .header-24-90,
.header-24-75,
.header-24-50,
.header-24-20,
.header-24-10,
.header-24-0  {
    font-size: 24px;
}

h4, .h4, .header-18-90,
.header-18-75,
.header-18-50,
.header-18-20,
.header-18-10,
.header-18-0  {
    font-size: 18px;
}

h5, .h5, .header-14-90,
.header-14-75,
.header-14-50,
.header-14-20,
.header-14-10,
.header-14-0  {
    font-size: 14px;
}
h6, .h6, .header-12-90,
.header-12-75,
.header-12-50,
.header-12-20,
.header-12-10,
.header-12-0  {
    font-size: 12px;
}

// ссылки
// ---------------------
a, .link {
    cursor: pointer;
}
.link-nd,
.link-nd:hover {
    text-decoration: none;
}
.link-d,
.link-d:hover {
    text-decoration: underline;
}
a, 
a:hover, 
.link-14-90,
.link-14-90:hover,
.link-14-75,
.link-14-75:hover,
.link-14-50,
.link-14-50:hover,
.link-14-20,
.link-14-20:hover,
.link-14-10,
.link-14-10:hover,
.link-14-0,
.link-14-0:hover {
    font-size: 14px;
}
.link-12-90,
.link-12-90:hover,
.link-12-75,
.link-12-75:hover,
.link-12-50,
.link-12-50:hover,
.link-12-20,
.link-12-20:hover,
.link-12-10,
.link-12-10:hover,
.link-12-0,
.link-12-0:hover {
    font-size: 12px;
}
a, .link-14-90,
.link-12-90 {
    color: #414042;
}
a:hover, a:focus, .link-14-90:hover,
.link-12-90:hover {
    color: #414042;
}
.link-14-75,
.link-12-75 {
    color: #636466;
    
}
.link-14-75:hover,
.link-12-75:hover {
    color: #636466;
}
.link-14-50,
.link-12-50 {
    color: #939598;
}
.link-14-50:hover,
.link-12-50:hover {
    color: #939598;
}
.link-14-20,
.link-12-20 {
    color: #d1d3d4;    
}
.link-14-20:hover,
.link-12-20:hover {
    color: #d1d3d4;
}
.link-14-10,
.link-12-10 {
    color: #e6e7e8;
}
.link-14-10:hover,
.link-12-10:hover {
    color: #e6e7e8;
}
.link-14-0,
.link-12-0 {
    color: #ffffff;
}
.link-14-0:hover,
.link-12-0:hover {
    color: #ffffff;
}
a.ordinal,
a.ordinal:hover {
    font-size: 14px;
    color: #428bca;
}
.blue-dached-link {
    display: inline-block;
    border-bottom: 1px dashed #428bca;
    
    &:hover {
        text-decoration: none;
        border-bottom: 0;
    }

    &, &:hover {
        color: #428bca; 
    }

    
}
// текст
// ---------------------
.text-12-90,
.text-12-75,
.text-12-50,
.text-12-20,
.text-12-0 {
    font-size: 12px;
}
div, span, .control-label, legend, .control-input, .btn,
.text-14-90,
.text-14-75,
.text-14-50,
.text-14-20,
.text-14-0 {
    font-size: 14px;
}
div, span, .control-label, legend, .control-input, .btn,
.text-12-90,
.text-14-90 {
    color: #414042;
}
.text-13-75,
.text-14-75 {
    color: #636466;
}
.text-12-50,
.text-14-50 {
    color: #939598;
}
.text-12-20,
.text-14-20 {
    color: #d1d3d4;
}
.text-12-10,
.text-14-10 {
    color: #e6e7e8;
}
.text-12-0,
.text-14-0 {
    color: #ffffff;
}
// Стили сайта
/* *************************************************** */


// стили контейнера
// ------------------
.container-fw {
    // width: 1200px; //!- 
}
.container-mh {
    min-height: 600px;
}
.container-mt {
    padding-top: 20px;
}
.container-mb {
    padding-bottom: 20px;
}
// верхняя навигация 
// --------------------
.navbar {
    margin-bottom: 0px;
    border: 0px;
}
.navbar-inverse {
    background-color: #414042;
    border-color: #414042;
}
.navbar-fixed-top {
    @media (max-width: @screen-xs-max) {
        position: static;
    }
}
.navbar-header {
    margin-left: 30px;;
}
.navbar-brand {
    margin-top: 10px;
    padding:0;
    img {
        max-height: 100%;
    }
}
.navbar-nav > ul {
    margin-top: 0;
    margin-bottom: 0;
}
.nav > li {
    vertical-align: top;
}
.nav > li > a {
    padding: 0px 10px;
}
.navbar-right {
    @media (min-width: @screen-sm-min) {
        margin-right: 0;
    }
}
.login-icon,
.register-icon,
.logout-icon,
.cabinet-icon {
    .navbar-right > & > a {
        padding: 27px 10px 25px;
    }

    & span {
        color: #fff;
    }          
}
.login-caption,
.register-caption,
.logout-caption,
.cabinet-caption,
.account-link-delimiter {
    .nav > & {
        display: none;
        /*@media (max-width: @screen-md-max) {
            display: none;
        } */
    }
}
 .navbar-inverse .navbar-nav > li > .navbar-delimiter {
    display: block;
    padding-top: 26px;
    padding-bottom: 26px;
    color: #fff;
 }
 .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #414042;
}

 .navbar-nav > li > a {
    padding-top: 26px;
    padding-bottom: 26px;
    @media (max-width: @screen-sm-max) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
.navbar-link-decoration {
    display: block;
    position: absolute;
    top: 66px;
    padding: 0px;
    width: 100%;
    height: 7px;
    z-index: 101;

    @media (max-width: @screen-sm-max) {
        top: 46px;
        height: 2px;
    }
}
.navbar-nav > .active > .navbar-link-decoration,
.navbar-nav > .active:hover > .navbar-link-decoration {
    background: #939598;
}
.navbar-nav > li:hover > .navbar-link-decoration {
    background: #ffffff !important;
}
.navbar-form {
    margin: 0;
    padding: 16px 0;
}
.navbar-form .form-group { 
    margin-right: 10px;
    width: 218px;
}
.navbar-form .form-control {
    border-width: 0px;
    border-radius: 0px;
    padding: 0 0 0 18px;
    height: 40px;   
    background: #636465;
    color: #fff;
}
.navbar-form .form-control:focus,
.navbar-form .btn:focus {
    outline: none;
    border: 0;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;

}
.navbar-form .form-control::-webkit-input-placeholder {
    color: #fff !important;
}
.navbar-form .form-control:-moz-placeholder {
    color: #fff !important;
}
.navbar-form .input-group-addon {
    border: 0px;
    padding: 0px;     
    border-radius: 0px;
}
.navbar-form .btn {
    top: 0px;
    border: 0px;
    border-radius: 0px;
    padding: 0px 14px;
    height: 40px;
    background: #636465;
    color: #fff;
}
.navbar-form .btn:active {
    outline: none;
}
.navbar-form .input-group > .form-control {
    //width: 176px;
}
.navbar .account-cabinet-link {
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (max-width: @screen-sm-max) {
    .navbar-inline {
        border-top: 1px solid #101010;
        .box-shadow(rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px inset);
        .login-icon,
        .register-icon,
        .logout-icon,
        .cabinet-icon,
        .culture-btns,
        .navbar-form-holder {
            display: inline-block;
        }

        .navbar-form {
            margin: 0;
            padding: 16px 0;
            border: 0;
        }

        .input-group {
            display: inline-table;
            vertical-align: middle;
        }
    }
}
// Выпадающее меню 
// -----------------------
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #414042;
  color: #ffffff;
}
// Выпадающая панель 
// -------------------
.navbar {
    min-height: 72px;
}
.navbar-toggle {
    margin-top: 20px;
}
.navbar .panel-products {
    left: -147px;
    width: @container-md - @grid-gutter-width;
    .col-md-1-5:nth-child(5n+1) {
        clear: both;
    }
}
.navbar .panel-support {
    left: -150px;
    width: 788px;
    /*left: -150px;
    width: 599px; */
}
.navbar .panel-about {
    left: -247px;
    width: 788px;
}
.navbar .panel {
    display: none;
    position: absolute;
    top: 72px;     
    @media (max-width: @screen-sm-max) {
        top: -10000px;
        width: 0;
    }
    z-index: 100;
}
.navbar-nav > li:hover .panel {
    display: block !important;
}
.navbar .thumbnail > a{
    width: 100%;
    height: 160px;
}
.navbar .thumbnail img {
    max-width: 100%;
    max-height: 100%;
}
.navbar .list-group-item {
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    background-color: transparent;
}
.navbar .list-group-item > a {
    display: block;
    line-height: 22px;
}
.navbar .btn-group {
    padding: 16px 0px;
}
.navbar .btn-group .btn {
    border: 0px;
    border-radius: 0px;
    height: 40px;
    color: #fff;
    background-color: transparent;
}
.navbar .btn-group .active{
    background-color: #636465;
}
// подвал сайта
// ------------------------------
.footer h5 {
    margin-top: 73px;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
}
.footer .list-group-item {
    margin: 0px;
    border: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
}
.footer .footer-regbar{
    margin-top: 70px;
}
.footer .footer-regbar > a {
    display: block;
    margin-bottom: 1px;
}
.footer-form {
    margin: 16px 30px 16px 0;
}
.footer-form .form-control {
    border-width: 0px;
    border-radius: 0px;
    padding: 0 0 0 18px;
    height: 40px;   
    background: #414042;
    color: #fff;
}
.footer-form .form-control:focus,
.footer-form .btn:focus {
    outline: none;
    border: 0;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;

}
.footer-form .form-control::-webkit-input-placeholder {
    color: #fff !important;
}
.footer-form .form-control:-moz-placeholder {
    color: #fff !important;
}
.footer-form .input-group-addon {
    border: 0px;
    padding: 0px;   
    border-radius: 0px;  
}
.footer-form .btn {
    top: 0px;
    border: 0px;
    border-radius: 0px;
    padding: 0px 14px;
    height: 40px;
    background: #414042;
    color: #fff;
}
.footer-form .btn:active {
    outline: none;
}
.footer-form .input-group {
    border: 1px solid #fff;
}
.footer-social-networks {
    .list-group {
        margin-left: 45px;
    }

    .list-group-item {
        margin-bottom: 5px;
        height: 27px;
        line-height: 35px;
    }

    .vkontakte-item:hover .icon-vkontakte {
        color: #597DA3;
    }

    .instagram-item:hover .fa-instagram{
        color: #c18361;
    }

    .twitter-item:hover .icon-twitter{
        color: #00acee;
    }

    .youtube-play-item:hover .fa-youtube-play {
        color: #c4302b;
    }

    i {
        font-size: 27px;
        color: #fff;
        margin-right: 10px;
    }

    .fa-vk {
        font-size: 25px;
        left: -56px;
    }

    .fa-youtube-play {
        font-size: 25px;
        left: -56px;
    }
}

// слайдер главного баннера
// -----------------------
.carousel {
    margin-bottom: 45px;
}
.carousel,
.carousel-inner,
.carousel .item {
    width: 100%; 
    // height: 460px; //!-
}
.carousel img {
    width: 100%;

    &.middle-image {
        display: none !important;
    }
    @media (max-width: @screen-xs-max) {
        &.middle-image {
            display: block !important;
        }
        &.original-image {
            display: none !important;
        }  
    }
}
.carousel-indicators li {
    border-color: #d1d3d4;
}
.carousel-indicators .active {
    background-color: #939598;
}
.carousel-caption {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 30px 0 0 30px;
    margin: 0px;
    text-align: left;
}
.carousel-caption h3,
.carousel-caption a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel-control {
    display: none;
}
.carousel:hover .carousel-control {
    display: block;
}

// виджет новостей
// ------------------------
.news-widget {
    margin-bottom: 20px;
    @media (max-width: @screen-md-max) {
        margin-bottom: 20px;    
    }
}
.news-widget .media-list {
    margin-bottom: 0;
}
.news-widget > h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.news-widget .media-heading a {
    display: inline-block;
    line-height: 16px;
    height: 64px;
    overflow: hidden;
}
.news-widget .media > a {
    width: 92px;
    height: 92px;
    border: 1px solid #e6e7e8;
}
.news-widget .media-object {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #939598;
}
.news-widget .media-list {
    background-color: #e6e7e8;
    padding: 30px 15px;
    @media (max-width: @screen-xs-max) {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.news-widget .media {
    margin-top: 30px;
    @media (max-width: @screen-xs-max) {
        padding: 0;
    }
    @media (max-width: @screen-md-max) {
        margin-top: 0;    
    }
}
.news-widget .media:first-child {
    margin-top: 0;
}
.news-widget .media-heading {
    margin-bottom: 0;
}
// виджет обзоров
// --------------------
.posts-widget {
   margin-bottom: 20px;    
}
.posts-widget > h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.posts-widget .media-heading a {
    display: inline-block;
    line-height: 16px;
    height: 64px;
    overflow: hidden;
}
.posts-widget .media > a {
    width: 92px;
    height: 92px;
    border: 1px solid #e6e7e8;
}
.posts-widget .media-object {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #939598;
}
.posts-widget .media-list {
    background-color: #e6e7e8;
    padding: 30px 15px;
    @media (max-width: @screen-xs-max) {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.posts-widget .media {
    margin-top: 30px;
    @media (max-width: @screen-xs-max) {
        padding: 0;
    }
    margin-top: 0; 
}
.posts-widget .media-heading {
    margin-bottom: 0;
}

// виджет популярных товаров
// ----------------------------
.products-raiting h3 {
   margin-top:0;
   margin-bottom: 20px;
}
.products-raiting .thumbnail {
    height: 287px;
}
.products-raiting .thumbnail > a {
    width: 251px; 
    height: 207px;
    margin-left: auto;
    margin-right: auto; 

    &:hover {
        text-decoration: none !important;
    }
}
.products-raiting .thumbnail img {
    max-width: 100%;
    max-height: 100%;
}
.products-raiting .caption > h4{
    width: 251px; 
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

// Обратная связь 
// -------------------
.media.media-InfoShop-feedback {
    margin-top: 40px;
}
.feedback-invite, 
.feedback-answer {
    margin-bottom: 15px;
}
.form-group-border .form-group:last-child{
    margin-bottom: 0;
}
// Товары список 
// -------------------
.catalog-sections {
    .list-group-item {
        @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
            .list-group-item-one-line;
        }
    }
}
.autosubmit-processing-holder {
    position: relative;
    width: 100%;
}
.autosubmit-processing {
    display:block;
    background-color: blue;
    height: 2px;
    width:0;
    position:absolute; 
    bottom:-4px;
}
.catalog-filters {
    form,
    .show-filters-btn,
    .hide-filters-btn {
        display: none;
    }

    .show-filters-btn {
        margin-bottom: 30px;
    }

    legend {
        font-weight: bold;
        border-bottom: 0;
        padding-top: 15px;
    }

    fieldset:nth-child(1) legend {
        border-top-color: #fff;
    }

    .form-group {
        margin-bottom: 0;
    }

    .catalog-range-filter .form-group {
        margin-left: -15px;
        margin-right: -15px;
    }

    .catalog-checkbox-filter {
        .btn-default {
            background-color: transparent !important;
        }
    }

    .btn-group {
        display: none;
    }

    .multiselect-holder {
        .btn-group {
            display: inline-block;
            position: relative;
        }

        .btn {
            text-align: left;
        }

        .caret {
            position: absolute;
            top: 12px;
            right: 6px;
        }

        .dropdown-menu {
            width: 100%;
        }
    }



    @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
        fieldset:nth-child(2) legend {
            border-top-color: #fff;
        }
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        fieldset:nth-child(3) legend {
            border-top-color: #fff;
        }
    }

    @media (min-width: @screen-lg-min) {
        .show-filters-btn,
        .hide-filters-btn {
            display: none !important;
        }

        form {
            display: block !important;
        }

        .catalog-filters-submit-btn {
            margin-top: 15px;
        }
    }

    @media (max-width: @screen-md-max) {
        .show-filters-btn {
            display: inline-block;
        }

        legend {
            /*white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;*/
            border-top: 1px solid #e5e5e5;
        }

        fieldset {
            height: 116px;
        }

        .radio {
            display: inline-block;
        }
        /*.form-group > .checkbox {
            display: none;
        }
        .form-group {
            text-overflow: clip;
            white-space: nowrap;
            overflow: hidden;
        }*/
    }
}
.products .thumbnail {
    height: 220px;
}
.products .thumbnail > a {
    width: 100%;
    height: 140px;

    &:hover {
        text-decoration: none !important;
    }
}
.products .thumbnail > a.pull-right {
    width: 114px; 
    height: 100%;
}
.products .thumbnail img {
     max-width: 100%; 
     max-height: 100%;
     background: #f8f8f8;
 }
.products .product-title {
    margin-bottom: 0px;
    height: 40px;
    overflow: hidden;
}
.windows-label .product-title{
    height: 20px;
}
.products .product-price {
    margin-bottom: 0px;
    height: 20px;
    font-weight: 600;
    color: #636466;
}
.products h3 {
    margin: 0 0 20px;
}
.products .table-header,
.products .table-delimiter,
.products .header-delimiter {
    background: #e6e7e8;
}

.archive {
    display: inline-block;
    margin: 20px 0px 20px;
    padding: 8px 15px;
    border: 1px solid #e6e7e8;
    border-radius: 0px;
    background-color: transparent;
}
.archive > .active {
  color: #414042;
}
.excel-price {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 0;
    border-radius: 0px;

    @media (max-width: @screen-md-max) {
        float: right;
        margin-top: 20px;
    }  
}
.pdf-presentation {       
    margin-bottom: 20px;
}
// Галлерея.
// ---------------------
 .gallery .thumbnail {
     height: 200px;
 }
 .gallery .thumbnail > a{
     height: 100%;
     width: 100%;
 }
 .gallery .thumbnail img {
     max-width: 100%; 
     max-height: 100%;
     background: #f8f8f8;
 }
 // Товар - карточка
 // -------------------
.product-header-wrap {
    //padding: 0px 10px;
}
 .product-header-wrap hgroup h2 {
     margin: 20px 0 10px;
 }
 .product-header-wrap hgroup h2 a{
     display: block;
     float: right;
     @media (max-width: @screen-sm-max) {
        display: none;
     }
 }
 .product-header-wrap hgroup h3 {
     margin-top: 10px;
     margin-bottom: 20px;
     word-wrap: break-word;
 }
 .product-header-wrap hgroup h4 {
     margin-top: 15px;
 }
.product-nav > li > a {
    @media (max-width: @screen-xs-max) {
          padding: 0px 8px;
     }
}
.product-feedback-link {
    @media (max-width: @screen-xs-max) {
          display: none !important;
     }
}
.product-description .media-object-wraper {
    margin-right: 15px;
} 
.product-description .media > a {
     width: 360px; 
     height: 320px;
 }
 .product-description .media-object {
     max-width: 100%; 
     max-height: 100%;
     background: #f8f8f8;
 }
 .product-description .media > .pull-left {
     margin-right: 30px; 
 }
 .product-description .media-body-main{
     min-height: 150px;
 }
.product-description .blur-effect-wrap {
    opacity: 0;
}
 .product-price {
     font-weight: 600;
     color: #636466;
 }
 .product-attributes .dl-wraper > h5 {
     padding: 7px 10px;
     background-color: #e6e7e8;
     margin-bottom: 15px;
 }
 .product-attributes .dl-wraper:last-child {
     margin-bottom: 0px;
 }
 .product-attributes .dl-horizontal dt {
     //padding: 0px 10px; //!-
 }
.product-attributes .dl-horizontal dt {
    //width: 300px; //!-
}
.product-attributes .dl-horizontal dd {
    //margin-left: 300px; //!-
}
.product-description h3,
.product-gallery h3,
.product-attributes h3,
.product-files h3,
.product-faq h3 {
    margin: 20px 0 30px;
}
 
 @font-face {
    font-family: "SegoeUIBold";
    src: url("../../../../Content/Fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../../../../Content/Fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../../../../Content/Fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../../../../Content/Fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@media (max-width: 1200px) {
    .InfoShop-recommend-windows {
        //margin-right: 170px; //!-
    }
} 

.InfoShop-recommend-windows {
    font-family: 'SegoeUIBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    @media (max-width: @screen-sm-max) {
          display: none !important;
     }
}
.upgrade-windows-10 {
    padding-left: 15px;

    img {
        margin-top: -3px;
    }

    @media (max-width: @screen-sm-max) {
        display: none !important;
    }
}
.compare-products-btn-holder a {
    margin-top: 15px;
    margin-bottom: 0px;
}
// Товары - сравнение
// --------------------
.products .header-delimiter {
    padding: 10px 15px;
    margin-bottom: 30px;
}
.compare-products {
    .col-xs-6 {
        padding: 0 5px;
    }

    .caption {
        padding: 5px;
    }

    .product-title a {
        font-size: 12px;
    }

    .product-price span {
        font-size: 11px;
    }

    .th-compare-product-btn {
        margin-right: 0;
    }
}
.compare-product-btn.active {
    color: #414042;
}
.th-compare-product-btn {
    .pull-right;
    //background-color: #d4d4d4;
    padding: 0 5px;
    margin-right: 10px;

    &.active {
        color: #d4d4d4;
    }
}
.compare-products-btn { 
    margin-bottom: 20px;
}

.compare-product-attributes {
    .dl-horizontal {
        margin-bottom: 5px;
    }

    .different {
        background: #d9f3ff;
        padding-top: 10px;
        margin-bottom: 2px;
    }

    .product-model {
        font-size: 12px;
        font-style: italic;
    }

    

    @media (max-width: @screen-sm-max) {
        .product-attribute {
            border-bottom: 1px solid #fff;
        }
        .similar .product-model {
            display: none;
        }

        .similar .product-attribute {
            display: none;

            &:first-child {
                display: block;
            }
        }

        dd {
            margin-bottom: 5px;
        }
    }
}
 // Каталог 
 // -----------------------
.catalog-section-level1 {    
    //border-bottom: 1px solid #e6e7e8;
    padding-top: 30px;
    padding-bottom: 30px;
}
.catalog-section-level1-image-link {
    display: block;
    
    > img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 150px;
    }
}
.catalog-section-level1-link {
    &, &:hover {
        font-size: 18px;
        font-weight: bold;
    }
    display: block;
    margin-top: 15px;
    text-align:center;
}
.catalog-section-level2 {
   border-bottom: 1px solid #e6e7e8;
   padding-top: 5px;
   padding-bottom: 5px;
}
.catalog-section-level2-link {
    &, &:hover {
        font-size: 14px;
        font-weight: bold;
    }
    display: block;
}
.catalog-section-level3-link {
    &, &:hover {
        font-size: 14px;
    }
    display: block;
}

// Список новостей
// ---------------------
.news .media > a {
    width: 150px;
    height: 150px;
    display: block;
    margin-right: 15px;
    @media (max-width: 430px) {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 15px;
        float: none !important;
    }
}
.news .media-object {
    max-width: 100%;
    max-height: 100%;
}

// Карточка новости
// ------------------------
.new .media > a {      
    display: block;
    width: 400px;
    height: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.new .media-object {
    max-width: 100%;
    max-height: 100%;
}
 
 // Список обзоров
 // ----------------------
.posts .media > a {
    width: 150px;
    height: 150px;   
    display: block;
    margin-right: 15px;
    @media (max-width: 430px) {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 15px;
        float: none !important;
    }
}
.posts .media-object {
    max-width: 100%;
    max-height: 100%;
}
 
// Товар - список партнеров 
// --------------------
.partners-wtb .thumbnail {
    width: 100%;
    height: 60px;
}
.partners-wtb .thumbnail > a {
    width: 100%; 
    height: 100%;
}
.partners-wtb .thumbnail img {
     max-width: 100%; 
     max-height: 100%;
     background: #f8f8f8;
 }

 // Товар - дополнительная информация
 // -----------------------------------
.additional-info .thumbnail {
    width: 80px;
    height: 60px;
}
.additional-info .thumbnail > div {
    width: 100%; 
    height: 100%;
}
.additional-info .thumbnail img {
     max-width: 100%; 
     max-height: 100%;
     background: #f8f8f8;
 }
 
 // Товар - файлы
 // -----------------------------
.InfoShop-files-holder {
    .item {
        margin-bottom: 5px;
    }

    .item-filter {
        float: right;
    }

    @media (max-width: @screen-sm-max) {
        .item-filter {
            display: none;
        }
    }
}
 
 // Файлы - список 
 // --------------------------
.files-header-wrap {
}
 
 // О компании
 // ----------------
 .about h5 {
     font-weight: 700;
 }
 
 // Вакансии
 // ----------------
.vacancies-list .list-group-nmb {
    margin-bottom: 0;
    @media (max-width: @screen-sm-max) {
        margin-bottom: 30px;
    }
    @media (max-width: @screen-xs-max) {
        margin-bottom: 0;
    }
}
 
// редактирвоние картинок 
// ------------------------
@import '../../../Admin/Content/Styles/Images.less';
@import 'BlurEffectImage.less';
