﻿.blur-effect-image-holder {
    position: absolute;
    top: 0;
    left: 0;
}
.blur-effect-image {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
.blur-effect-container {
    position: absolute;
    top: 0;
    left: 0;       
    width: 50%;
    height: 100%;
    background-size: cover;
    -webkit-filter: blur(0.7px) brightness(0.8);
    filter: blur(0.7px) brightness(0.8);
    z-index: 1;
}
.blur-effect-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px; 
    margin-top: -20px; 
    background: url(/Areas/Default/Content/Styles/Images/CircleSlider.png) no-repeat;
    background-size: cover;
    cursor: move;
    z-index: 2;
}
.blur-effect-wrap h4 {
    display: none;
}
.mce-item-table h4 {
    display: block;
}
// example

.blur-effect-image-holder {
    width: 632px;
    top: 38px;
    left: 61px;
    @media (max-width: @screen-md-max) {
        width: 519px;
        top: 32px;
        left: 54px;
    }
    @media (max-width: @screen-sm-max) {
        width: 398px;
        top: 25px;
        left: 45px;
    }
    @media (max-width: @screen-xs-max) {
        width: 233px;
        top: 14px;
        left: 32px;
    }
}

