﻿.blur-effect-image-holder {
  position: absolute;
  top: 0;
  left: 0;
}
.blur-effect-image {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
.blur-effect-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  -webkit-filter: blur(0.5px) brightness(0.9);
  filter: blur(0.5px) brightness(0.9);
  z-index: 1;
}
.blur-effect-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  background: url(/Areas/Default/Content/Styles/Images/CircleSlider.png) no-repeat;
  background-size: cover;
  cursor: move;
  z-index: 2;
}
/*# sourceMappingURL=BlurEffectImage.css.map */