﻿@model WebApp.Models.Views.Default.ViewModelHolder<WebApp.Models.AddPhoneNumberViewModel>
@{
    ViewBag.Title = "Phone Number";
}

<h2>@ViewBag.Title.</h2>

@{ Html.RenderPartial("_AddPhoneNumberForm", Model.ViewModel); }
