﻿@model WebApp.Models.Views.Default.ViewModelHolder<WebApp.Models.ChangePasswordViewModel>
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ManagePasswordPageTitle");
}

<div class="container container-mb container-mt">
    <div class="row">
        <div class="col-md-10">
            <h2>@ViewBag.Title.</h2>
        </div>
    </div>
    <div class="row">
        @{ Html.RenderPartial("_ChangePasswordForm", Model.ViewModel); }
    </div>
</div>
