﻿@model WebApp.Models.Views.Default.ViewModelHolder<WebApp.Models.IndexViewModel>
@{
    ViewBag.Title = MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ManagePageTitle");
}
<div class="container container-mb container-mt container-mh">
    <div class="row">
        <div class="col-md-10">
            <h2>@ViewBag.Title.</h2>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>@MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ManageListTitle")</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>@MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ManageFullName"):</dt>
                <dd>
                    [ @Html.ActionLink(MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ManageFullNameLink"), "ChangeFullName", "User") ]
                </dd>
                <dt>@MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ManagePassword"):</dt>
                <dd>
                    [
                    @if (Model.ViewModel.HasPassword)
                    {
                        @Html.ActionLink(MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ManagePasswordLink"), "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>@MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ManageSubscriptions"):</dt>
                <dd>
                    [ @Html.ActionLink(MvcApplication.ResourceProvider.ReadResource("Resources.AccountRes.ManageSubscriptionsLink"), "Subscription", "User") ]
                </dd>
                @*<dt>External Logins:</dt>
                    <dd>
                        @Model.ViewModel.Logins.Count [
                        @Html.ActionLink("Manage", "ManageLogins") ]
                    </dd>

                        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                            See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                            Uncomment the following block after you have set up two-factor authentication

                        <dt>Phone Number:</dt>
                        <dd>
                            @(Model.ViewModel.PhoneNumber ?? "None")
                            @if (Model.ViewModel.PhoneNumber != null)
                            {
                                <br />
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                                }
                            }
                            else
                            {
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                            }
                        </dd>

                    <dt>Two-Factor Authentication:</dt>
                    <dd>
                        <p>
                            There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication.
                        </p>
                        @if (Model.ViewModel.TwoFactor)
                            {
                                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Enabled
                                    <input type="submit" value="Disable" class="btn btn-link" />
                                    </text>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Disabled
                                    <input type="submit" value="Enable" class="btn btn-link" />
                                    </text>
                                }
                            }
                    </dd>*@
            </dl>
        </div>
    </div>
</div>
