﻿@model WebApp.Models.Views.Default.ViewModelHolder<WebApp.Models.SetPasswordViewModel>
@{
    ViewBag.Title = "Create Password";
}
<div class="container container-mb container-mt container-mh">
    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title.</h2>
            <p class="text-info">
                You do not have a local username/password for this site. Add a local
                account so you can log in without an external login.
            </p>
        </div>
    </div>
    <div class="row">
        @{ Html.RenderPartial("_SetPasswordForm", Model.ViewModel); }
    </div>
</div>
